{# vim: ft=jinja foldmethod=marker tabstop=2 shiftwidth=2:
    templates/donation/admin_donation.html

    TODO:
    button to cover expenses
    recursive payment button
#}
{% import "parts.html" as parts %}

<section class="wrapper">
  <!-- donation/admin_donation -->

  <h1>Donation Details</h1>
  <h4>Thank You For Donating to Love Our Neighbor</h4>

  <p>We do not take any amount from other donations given to minsitries; all donations are 100% delivered to ministries.
  By donating, you help keep this service free, you bring improvements to the website, and you help Love Our Neighbor
  support ministries that glorify our Almighty God.</p>

  {# TODO: have a selection dropdown that allows the user to choose what the funds are used for #}
  {# TODO: cc_payment method has to be modified to include a cc expiration date #}
  {# TODO: this payment should be encapsulated in a macro for use in `cc_payment.html` and here #}

  {{ parts.cc_payment(url_for('donation:admin_donation'), form, request) }}

</section>


<!-- Google Analytics Virtual Pageview -->
<script>ga('send', 'pageview', 'admin donation')</script>
