{# TODO: user should be able to enter donation amount and other details here #}
{# TODO: use POST data to go to either braintree_payment or coinbase_payment #}

<section class="wrapper">

  <h1>Enter Donation Details</h1>

  <form name="beginDonationForm" method="POST" action="{{ url_for('donation:select_payment', kwargs={'campaign_id': campaign_id}) }}" class="payment_select">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    {% if not request.user.is_authenticated %}
      <div layout="row" layout-align="left center">

        <md-input-container>
          <label>Email</label>
          <input name="email" type="hidden" value="{% raw %}{{ email }}{% endraw %}">
          <input type="email" required
                 minlength="9" maxlength="64" 
                 ng-model="email"
                 ng-pattern="/^.+@.+\..+$/" />
          <div ng-messages="beginDonationForm.email.$error" role="alert">
            <div ng-message-exp="['required']">
              This field is required.
            </div>
            <div ng-message-exp="['pattern']">
              Please enter a valid email address.
            </div>
            <div ng-message-exp="['minlength', 'maxlength']">
              Your email must be between 9 and 64 characters long.
            </div>
          </div>
        </md-input-container>

        <span>&nbsp;&nbsp;or</span>
        <md-button class="md-raised md-primary">Login</md-button>

      </div>
    {% endif %}

    <input name="payment_type" type="hidden" value="{% raw %}{{ payment_type }}{% endraw %}">

    <md-radio-group ng-model="payment_type">

      {% set payment_types = (('cc', 'Credit Card'),
                              ('cb', 'Bitcoin'),
                              ('bt', 'Venmo, Apple Pay, Samsung Pay, Google Pay')
                              ) %}

      {% for pt in payment_types %}
        <md-radio-button value="{{ pt[0] }}" class="md-primary">{{ pt[1] }}</md-radio-button>
      {% endfor %}

    </md-radio-group>
    {# TODO: style the select elements #}

    <md-button class="md-raised md-accent" type="submit">Continue</md-button>

  </form>

</section>


<!-- Google Analytics Virtual Pageview -->
<script>ga('send', 'pageview', 'select payment')</script>
