{% from "macros/parts/donate_button.html" import donate_button %}

{% macro footer(links) %}

  <footer class="page-footer footer footer-dark gradient-45deg-purple-deep-orange gradient-shadow navbar-border navbar-shadow">
    <div id="footer-content" class="container">
      <div class="row">

        <div class="col s12 m4">
          <div id="mission-statement">
            <h5 class="grey-text text-lighten-2">Mission Statement</h5>
            {{ mission_statement()|safe }}
          </div>
          <div id="footer-donate-button">
            {{ donate_button() }}
            <p>Love Our Neighbor does not take any money from the ministries you donate to.
              Help support our mission by donating to Love Our Neighbor.</p>
          </div><!-- /#donate-footer-button -->
        </div>

        {# {{{ Sitemap #}
        <div class="col s12 m2 offset-m4">
          <h5 class="grey-text text-lighten-2">Links</h5>
          <div id="sitemap">
            <ul>
              {%- for _link in links -%}
                <li>
                  <a href="{{ _link[0] }}" title="{{ _link[1] }}">
                    {{ _link[1] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div><!-- /#sitemap -->
          {# }}} #}

          {# {{{ Social Media Links #}
          <div id="sm-links">
            {% for link in social_media_links() %}
              <a href="{{ link.url }}" class="waves-effect waves-light btn-flat">
                <i class="{{ link.class_attr }}"></i>
              </a>
            {% endfor %}
          </div><!-- /#social-media-links -->
        </div><!-- /.col .l6 -->

      </div><!-- /#row -->

    </div><!-- /#footer-content -->

    <div id="footer-copyright" class="footer-copyright">
      <div class="container">
        <span>
          © {{ today().year }} Love Our Neighbor
        </span>
      </div>
    </div><!-- /#footer-copyright -->

  </footer><!-- /#page-footer -->

{% endmacro %}
