{% from "macros/layout/searchbar.html" import searchbar %}

{% macro navbar_links(request) %}

  <nav
      class="navbar-main navbar-color navbar-dark nav-collapsible sideNav-lock gradient-45deg-purple-deep-orange gradient-shadow">
    <div class="nav-wrapper">

      <div class="header-search-wrapper hide-on-med-and-down">
        {{ searchbar(small_screen=False) }}
      </div><!-- /.header-search-wrapper -->

      <ul class="navbar-list right">
        <li class="hide-on-large-only search-input-wrapper">
          <a class="search-button" href="javascript:void(0);">
            <i class="material-icons">search</i>
          </a>
        </li><!-- /.search-button -->
        <li class="hide-on-med-and-down">
          <a class="toggle-fullscreen" href="javascript:void(0);">
            <i class="material-icons">settings_overscan</i>
          </a>
        </li>

        <li>
          {% if request.user.is_authenticated %}
            <a class="profile-button" href="javascript:void(0);" data-target="profile-dropdown">
              <span class="avatar-status avatar-online">
                {% if request.user.logged_in_as %}
                  <img src="{{ request.user.logged_in_as.profile_img.url }}" alt="avatar">
                {% else %}
                  <img src="{{ request.user.profile_img.url }}" alt="avatar">
                {% endif %}
                <i></i>
              </span><!-- /.avatar-status -->
            </a><!-- /.profile-button -->
          {% else %}
            <a class="login-button" href="{{ url_for('people:login') }}">
              <i class="material-icons" style="display: inline;">person</i>
            </a>
          {% endif %}
        </li><!-- /.profile-avatar -->

      </ul><!-- /.navbar-list -->

      {% if request.user.is_authenticated %}
        <ul id="profile-dropdown" class="dropdown-content" style="min-width: 20em;">

          <li>
            {% if request.user.logged_in_as %}
              <a class="grey-text text-darken-2" title="User Profile" href="{{ url_for('people:be_me_again') }}">
                Your Profile
              </a>
            {% else %}
              <a class="grey-text text-darken-2" title="User Profile" href="{{ url_for('people:user_profile') }}">
                Your Profile
              </a>
            {% endif %}
          </li>

          <li class="divider"></li>

          {% set aliases = [{'label': 'Ministries You Administer',
                              'profiles': request.user.administers_ministry.all()},
                             {'label': 'Ministries You Represent',
                              'profiles': request.user.represents_ministry.all()}] %}

          {% for i in aliases %}
            {% if len(i['profiles']) %}

              <li class="disabled grey-text" style="height: 1em;">{{ i['label'] }}:</li>

              {% for ministry in i['profiles'] %}
                {% set ALIAS = (request.user.logged_in_as == ministry) %}
                <li class="profile-area">
                  <a href="{{ url_for('ministry:ministry_profile', kwargs={'ministry_id': ministry.id}) }}"
                     class="view_profile">
                    <img class="circle left" src="{{ ministry.profile_img.url }}">
                    <span>
                      {{ ministry }}
                    </span>
                  </a>
                </li>
              {% endfor %}

              <li class="divider"></li>

            {% endif %}
          {% endfor %}

          {% if request.user.is_staff %}
            <li>
              <a href="/admin" class="grey-text text-darken-2">Go to Admin Site</a>
            </li>
            <li class="divider"></li>
          {% endif %}

          <li><a class="grey-text text-darken-2" href="{{ url_for('people:logout') }}">Logout</a></li>
        </ul><!-- /.profile-dropdown -->
      {% endif %}
    </div><!-- /.nav-wrapper -->
    <nav class="display-none search-sm">
      <div class="nav-wrapper">
        {{ searchbar(small_screen=True) }}
      </div>
    </nav>
  </nav>

{% endmacro %}
