{% from "macros/layout/user_widget.html" import user_widget %}
{% from "macros/layout/searchbar.html" import searchbar %}

{% macro navbar_links(request, links, active) %}

  <nav class="orange">
    <div class="nav-wrapper">

      <a class="brand-logo center" href="{{ url_for('home') }}">
        <img id="logo" src="{{ static('img/brand/LON_logo.svg') }}">
        <img id="brand-text" src="{{ static('img/brand/LON_straight.png') }}">
        {# TODO: Hide logo text when searchbar is clicked #}
      </a>

      <div class="right">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            {{ searchbar() }}
          </li>
          {%- for _link in links -%}
            <li>
              <a href="{{ _link[0] }}" title="{{ _link[1] }}">
                {{ _link[1] }}
              </a>
            </li>
          {%- endfor -%}
          <li>
            {{ user_widget(request) }}
          </li>
        </ul>
        <a class="btn btn-flat hide-on-med-and-up sidenav-trigger" data-target="sidenav">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </div>
  </nav>

{% endmacro %}
