{% from "macros/layout/user_widget.html" import user_widget %}
{% from "macros/layout/searchbar.html" import searchbar %}

{% from "macros/parts/donate_button.html" import donate_button %}

{% macro sidenav(request, links) %}

  <aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-rounded" id="sidenav">

    <div class="brand-sidebar hide-on-med-and-down" style="background: #a53394">
      <a class="logo-wrapper brand-logo center valign-wrapper" href="{{ url_for('home') }}">
        <img id="logo" src="{{ static('img/brand/LON_logo.svg') }}">
        <img id="brand-text" src="{{ static('img/brand/LON_straight.png') }}">
      </a>
    </div>

    {# Navigation Links  #}

    <ul class="sidenav sidenav-collapsible leftside-navigation nav-collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
      <li><a class="subheader">Navigation</a></li>
      {%- for _link in links -%}
        <li>
          <a href="{{ _link[0] }}" title="{{ _link[1] }}"
             class="waves-effect">
            {{ _link[1] }}
          </a>
        </li>
      {%- endfor -%}

      <li class="spacer"></li>

      <li class="hide-on-med-and-up" id="sidebar-donate-button" layout="column">
        {{ donate_button() }}

        <p>Love Our Neighbor does not take any money from the ministries you donate to.
           Help support our mission by donating to Love Our Neighbor.</p>
      </li>
    </ul><!-- /.sidenav -->

  </aside>

{% endmacro %}
