{% macro user_widget(request, sidenav=False) %}

  {% if request.user.is_authenticated %}
    <div class="user-widget">
      <a class="dropdown-trigger" href="#" data-target="navbar-menu">
        {% if request.user.logged_in_as %}

          <img class="profile-img" src="/{{ request.user.logged_in_as.profile_img.url }}" alt="Ministry Profile Img">
          <span class="uname">
            {{- request.user.logged_in_as.name -}}
          </span>
          <i class="material-icons">arrow_drop_down</i>

        {% else %}

          <img class="profile-img" src="{{ request.user.profile_img }}" alt="Profile Img">
          <span class="uname">{{- request.user.name -}}</span>
          <i class="material-icons">arrow_drop_down</i>

        {% endif %}
      </a>

      <ul id="navbar-menu" class="dropdown-content" style="min-width: 20em;">

        <li>
          {% if request.user.logged_in_as %}
            <a title="User Profile" href="{{ url_for('people:be_me_again') }}">
              Your Profile
            </a>
          {% else %}
            <a title="User Profile" href="{{ url_for('people:user_profile') }}">
              Your Profile
            </a>
          {% endif %}
        </li>

        <li class="divider"></li>

        {% set aliases = [{'label': 'Ministries You Administer',
                            'profiles': request.user.administers.all()},
                           {'label': 'Ministries You Represent',
                            'profiles': request.user.represents.all()}] %}

        {% for i in aliases %}
          {% if len(i['profiles']) %}

            <li class="disabled" style="height: 1em;">{{ i['label'] }}:</li>

            {% for ministry in i['profiles'] %}
              {% set ALIAS = (request.user.logged_in_as == ministry) %}
              <li class="profile-area">
                <a href="{{ url_for('ministry:login_as_ministry', kwargs={'ministry_id': ministry.id}) }}"
                   class="view_profile {% if ALIAS %} orange-text{% endif %}">
                  <img class="profile-img" src="/{{ ministry.profile_img.url }}">
                  <div>
                    <span class="truncate">
                    {% if ALIAS %}<i class="material-icons" style="display: inline;">how_to_reg</i>{% endif %}
                      {{ ministry }}
                    </span>
                  </div>
                  {% if ALIAS %}<i class="material-icons">how_to_reg</i>{% endif %}
                </a>
                <a href="{{ url_for('ministry:edit_ministry', kwargs={'ministry_id': ministry.id}) }}"
                   class="edit-btn btn-flat waves-effect right">
                  <i class="material-icons">settings</i>
                </a>
              </li>
            {% endfor %}

            <li class="divider"></li>

          {% endif %}
        {% endfor %}

        <li><a href="{{ url_for('people:logout') }}">Logout</a></li>
      </ul>

      {# {{{ Profile Menu #}
      {% if not sidenav %}

      {# elif sidenav %}
        <md-button ng-click="switching = !switching" class="md-icon-button" style="margin-top: auto; margin-bottom: auto;">
          <md-icon ng-if="!switching" md-menu-origin>
            <i class="material-icons">arrow_drop_down</i>
          </md-icon>
          <md-icon ng-if="switching" md-menu-origin>
            <i class="material-icons">arrow_drop_up</i>
          </md-icon>
        </md-button>
      #}
      {% endif %}
      {# }}} #}


    </div><!-- /.layout-row -->
  {% else %}

    <div layout="row">
      <a href="{{ url_for('people:login') }}">Login</a>
    </div>

  {% endif %}

{% endmacro %}
