# PyCharm cache (just in case)
.idea/*

# python bytecode
*.pyc
*.pyo

/venv/

# vim temp files
*.sw[a-z]

# db stuff
db.*
*/migrations/*

# media stuff
static/media/

# webassets bundled contents
static/assets/
static/.webassets-cache/
static/*/.webassets-cache/
static/*/webassets-external/
