boto3==1.12.39
bs4
cssmin
django==3.0.4
django-assets
django-braces
django-drf-filepond==0.2.2
django-ipware
django-rest-framework==0.1.0
django-storages==1.9.1
django-tinymce==3.0.1
geopy
gunicorn
jinja2
jsmin
pillow
psycopg2-binary
pylint-django
pytz
pyyaml
numpy
requests
sentry-sdk==0.14.3
webassets
