{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/ministry/campaign_content.html
#}
{% import "parts.html" as parts %}

<section class="wrapper" xmlns="">
  <!-- ministry/campaign_content -->

  {# {{{ Form Header #}
  <form
  {% if start %}
  enctype="multipart/form-data" method="POST" action="{{ url_for('ministry:create_campaign', kwargs={"ministry_id": ministry.id}) }}">

  <h1>New Campaign:</h1>


  {% else %}

  {#
  <h1>Edit Campaign:</h1>
  #}

  method="POST" enctype="multipart/form-data" action="{{ campaign.edit }}">
    <input type="hidden" id="current_object_json" value="{{ campaign.json }}">

  {% endif %}

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

  {# }}} #}

    <div layout="column" layout-padding class="md-inline-form">

      <md-tabs md-dynamic-height>


        {# {{{ Details Section #}
        <md-tab>
          <md-tab-label>
            <md-icon>
              <i class="material-icons">info</i>
            </md-icon>&nbsp;
            Details
          </md-tab-label>
          <md-tab-body>

            <div layout-gt-sm="row" layout="column" padding-layout>
              {# {{{ INPUT title #}
              <md-input-container flex-gt-sm="50">
                {# TODO: ensure that all ministry titles are unique #}
                {{ form.title.label_tag() }}
                {{ form.title }}
              </md-input-container>
              {# }}} #}
              {# {{{ INPUT goal #}
              <md-input-container flex-gt-sm="50">
                {{ form.goal.label_tag() }}
                <md-icon><i class="material-icons">attach_money</i></md-icon>
                {{ form.goal }}
                <md-icon><i class="material-icons">trending_up</i></md-icon>
              </md-input-container>
              {# }}} #}
            </div>

            <br>

            {# {{{ INPUT start_date/end_date #}
            <div layout-gt-sm="row" layout-padding>
              {# TODO: validate that dates have been entered #}
              {# {{{ INPUT start_date #}
              <div>
                <input type="hidden" name="{{ form.start_date.name }}" value="{% raw %}{{ object.start_date | date:'yyyy-MM-dd' }}{% endraw %}">

                <div hide-gt-sm>
                  <label for="start_date">{{ form.start_date.label }}</label>
                  <input id="start_date" type="date" ng-model="object.start_date">
                </div>

                <div hide-sm hide-xs>
                  <md-subheader>{{ form.start_date.label }}</md-subheader>
                  <md-calendar required id="{{ form.start_date.id_for_label }}" ng-model="object.start_date"></md-calendar>
                </div>

              </div>
              {# }}} #}
              {# {{{ INPUT end_date #}
              <div>
                <input type="hidden" name="{{ form.end_date.name }}" value="{% raw %}{{ object.end_date | date:'yyyy-MM-dd' }}{% endraw %}">

                <div hide-gt-sm>
                  <label for="end_date">{{ form.end_date.label }}</label>
                  <input id="end_date" type="date" ng-model="object.end_date">
                </div>

                <div hide-sm hide-xs>
                  <md-subheader>{{ form.end_date.label }}</md-subheader>
                  <md-calendar required id="{{ form.end_date.id_for_label }}" ng-model="object.end_date"></md-calendar>
                </div>
              </div>
              {# }}} #}
            </div>
            {# }}} #}

          </md-tab-body>
        </md-tab>
        {# }}} #}

        {# {{{ Content Section #}
        <md-tab>
          <md-tab-label>
            <md-icon><i class="material-icons">description</i></md-icon>&nbsp;
            Content
          </md-tab-label>
          <md-tab-body>

            {# {{{ INPUT banner_img #}
            {# TODO: show custom file selector displaying previous images #}
            <md-button ng-click="banner_img_dialog.show($event)">
              <md-icon><i class="material-icons">image</i></md-icon>
              Banner Img
            </md-button>

            {# {{{ Banner Selection Dialog #}
            <div style="visibility: hidden">
              <div class="md-dialog-container" id="bannerDialog">
                <md-dialog>

                  <md-toolbar>
                    <div class="md-toolbar-tools">
                      <h2>Banner Selection</h2>
                      <span flex></span>
                      <md-button class="md-icon-button" ng-click="banner_img_dialog.close()">
                        <i class="material-icons">close</i>
                      </md-button>
                    </div><!-- /.md-toolbar-tools -->
                  </md-toolbar>

                  <md-dialog-content>
                    <div class="md-dialog-content">
                      <div class="previous-images">
                          <md-grid-list
                                md-cols="1" md-cols-sm="4" md-cols-md="4" md-cols-gt-md="8"
                                md-row-height-gt-md="1:1" md-row-height="16:10"
                                md-gutter="8px">

                            <md-grid-tile ng-repeat="(name, src) in banner_urls"
                                          {# TODO: dynamically allocate this #}
                                          md-rowspan="1"
                                          md-colspan="1"
                                          md-rowspan-gt-xs="2"
                                          md-colspan-gt-xs="2">
                              <img style="width: 100%; bottom: 0; position: absolute;"
                                   ng-click="select_banner(name)"
                                   ng-src="{% raw %}{{ src }}{% endraw %}"
                                   ng-class="[{banner_current:  banner_img_dialog.banner_current(name),
                                               banner_selected: banner_img_dialog.banner_selected(name)}]">
                              <md-grid-tile-footer>
                                <h3>
                                  <span ng-if="banner_img_dialog.banner_selected(name)"
                                        class="banner_selected_label">
                                    <md-icon><i class="material-icons">check_circle</i></md-icon>
                                  </span>
                                  <span ng-if="banner_img_dialog.banner_current(name)"
                                        ng-hide="banner_img_dialog.banner_selected(name)"
                                        class="banner_current_label">
                                    Current
                                  </span>
                                  {% raw %}{{ name }}{% endraw %}
                                </h3>
                              </md-grid-tile-footer>
                            </md-grid-tile>
                          </md-grid-list>
                      </div><!-- /.previous-images -->

                      {#{{ form.banner_img.label_tag() }}
                      {{ form.banner_img }}#}
                      <input type="hidden" name="selected_banner_img"
                             value="{% raw %}{{ selected_banner }}{% endraw %}">
                      <br>Upload New:
                      <input type="file" name="banner_img" accept="image/*" id="id_banner_img"
                             ng-click="banner_img_dialog.clear()">
                      <input type="checkbox" name="banner_img-clear" id="banner_img-clear_id">
                      <label for="banner_img-clear_id">Clear</label>

                    </div><!-- /.md-dialog-content -->
                  </md-dialog-content>

                  <md-dialog-actions layout="row">
                    <md-button ng-click="banner_img_dialog.close()">
                      Cancel
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click="banner_img_dialog.close()">
                      Done
                    </md-button>
                  </md-dialog-actions>

                </md-dialog>
              </div>
            </div>
            {# }}} #}
            {# }}} #}
            {# {{{ INPUT content (WYSIWYG editor) #}
            <md-input-container>
              {# TODO: render WYSIWYG editor #}
              <md-icon><i class="material-icons">subject</i></md-icon>
              {{ form.content.label_tag() }}
              {% if start %}
                {{ parts.wysiwyg_editor(form.content.name) }}
              {% elif not start %}
                {{ parts.wysiwyg_editor(form.content.name, 'object.content') }}
              {% endif %}
              <br><br>
              <div class="hint">Describe the project!</div>
            </md-input-container>
            {# }}} #}
            {# {{{ INPUT tag editor #}
            <br>
            <md-input-container layout="column">
              <md-icon><i class="material-icons">class</i></md-icon>
              {{ form.tags.label_tag() }}
              <input type="hidden" name="{{ form.tags.name }}" value="{% raw %}{{ object.tags.join(', ') }}{% endraw %}">
              <md-chips ng-model="object.tags" md-autocomplete-snap
                        md-transform-chip="tag_service.transform_chip($chip)"
                        md-separator-keys="tag_service.separatorKeys">
                <md-autocomplete
                    md-search-text="tagText"
                    md-items="tag in filter_tags(tagText)"
                    md-item-text="tag"
                    md-min-length="1" flex="100">
                  <span md-highlight-text="tagText">{% raw %}{{ tag }}{% endraw %}</span>
                </md-autocomplete>
                <md-chip-template>
                  <span>
                    <span>{% raw %}{{ $chip }}{% endraw %}</span>
                  </span>
                </md-chip-template>
              </md-chips>
              <br><br>
              <small class="hint">Select from existing tags, or create new ones by entering a comma.</small>
            </md-input-container>
            {# }}} #}

          </md-tab-body>
        </md-tab>
        {# }}} #}

        {# {{{ News Section #}
        <md-tab>
          <md-tab-label>
            <md-icon><i class="material-icons">trending_up</i></md-icon>
            News
          </md-tab-label>
          <md-tab-body>
            {% if start %}
              <p>Finish your campaign to start posting what God has done already</p>
            {% elif not start %}
              {# TODO: list NewsPost objects as cards or md-list #}
              <a href="#{{ url_for('ministry:create_news', kwargs={'obj_type': 'campaign', 'obj_id': campaign.id}) }}"
               style="text-decoration: none;">
                <md-button class="md-raised md-accent">
                  Create News
                </md-button>
              </a>
            {% endif %}
          </md-tab-body>
        </md-tab>
        {# }}} #}


      </md-tabs>

      {# {{{ Form Buttons #}
      <div id="form_buttons" layout-align-gt-sm="end" layout-gt-sm="row" layout="column">
        {# TODO: implement DOUBLE dialog confirmation upon deletion #}
        <md-button class="md-raised md-primary" type="submit" flex-gt-sm="25">
          <md-icon>
            <i class="material-icons">save</i>
          </md-icon>
          Save
        </md-button>

        {% if not start and campaign %}
          <br>
          <md-button class="md-warn" style="text-decoration: none;"
                     ng-click="confirmDelete.show($event, 'deleteContent')"
                     flex-order-gt-sm="-1">
            <md-icon>
              <i class="material-icons">delete</i>
            </md-icon>
            Delete
          </md-button>
        {% endif %}

        <div style="visibility: hidden;">
          <div class="md-dialog-container" id="deleteContent">
            <md-dialog layout-padding>
              <md-dialog-content>
                <h2>Are you sure?</h2>
                <p>Please confirm that you want to delete this campaign. This cannot be undone.</p>
              </md-dialog-content>

              <md-dialog-actions layout="row">
                <md-button class="md-primary" ng-click="confirmDelete.close()">Cancel</md-button>
                <md-button class="md-warn" style="text-decoration: none;"
                           href="{{ url_for('ministry:delete_campaign', kwargs={'campaign_id': campaign.id}) }}">
                  <md-icon>
                    <i class="material-icons">delete</i>
                  </md-icon>
                  Delete
                </md-button>
              </md-dialog-actions>

            </md-dialog>
          </div>
        </div>

      </div><!-- /#form_buttons -->
      {# }}} #}

    </div><!-- /.md-inline-form -->

  </form>

</section>


<!-- Google Analytics Virtual Pageview -->
<script>ga('send', 'pageview', 'campaign edit')</script>
