{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/ministry/campaign.html
#}
{% import "content.html" as content %}

{% set AUTH = request.user == cam.ministry.admin or request.user in cam.ministry.reps.all() %}

{{ content.show_campaign(cam, detail=False, request=request, AUTH=AUTH, form=form, csrf_token=csrf_token) }}


{# TODO: move comments section to tabs #}

<section class="wrapper">
  <!-- ministry/campaign_details -->

  <md-tabs md-dynamic-height>


    {# {{{ News Section #}
    <md-tab label="News">
      <md-content>
        {% if all_news %}
        {# TODO: generate different card types (both randomly and per parent object type) #}
        {% for n in all_news %}
          {{ content.news_card(n, AUTH) }}
        {% endfor %}
        {% endif %}
      </md-content>
    </md-tab>
    {# }}} #}

    {# {{{ Gallery Section #}
    <md-tab label="Gallery">
      <md-content>
        <p>This part of the website is still under construction</p>
      </md-content>
    </md-tab>
    {# }}} #}


  </md-tabs>

</section>


<!-- Google Analytics Virtual Pageview -->
<script>ga('send', 'pageview', 'campaign')</script>
