{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/ministry/edit_ministry.html
#}
{% extends "layout.html" %}

{% from "macros/parts/confirm_delete.html" import confirm_delete %}
{% from "macros/parts/wysiwyg_editor.html" import wysiwyg_editor %}
{% from "macros/parts/tag_selection.html" import tag_selection, tag_selection_script %}
{% from "macros/parts/get_obj_json.html" import get_obj_json %}
{% from "macros/parts/rep_request_selection.html" import rep_selection, rep_selection_script %}

{% import "cards.html" as card %}
{# TODO: total donated amount #}

{% block title %}
  {% if start %}
    New Ministry
  {% else %}
    {{ ministry.name }} Edit Page
  {% endif %}
{% endblock %}

{% block body %}
<section class="wrapper">
  <!-- ministry/ministry_content -->

  {# {{{ Form Header #}
  {% if start %}
    <h2>New Ministry Profile:</h2>
    <!-- TODO: make link for more information -->
    <h4>Please note that all ministry profiles are must be approved before they are made public</h4>

    <form method="POST" name="ministryForm" enctype="multipart/form-data"
          action="{{ url_for('ministry:create_ministry') }}">

  {% else %}

    <form method="POST" name="ministryForm" enctype="multipart/form-data" action="{{ ministry.edit }}">
      <input type="hidden" id="current_object_json" value="{{ ministry.json }}">

  {% endif %}
  {# }}} #}

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

  <div class="row">
    <div id="tab_bar" class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#details"><i class="material-icons">info</i>
          <span class="hide-on-small-only">
          &nbsp;Details
        </span>
        </a></li>
        <li class="tab col s3"><a href="#administration"><i class="material-icons">lock</i>
          <span class="hide-on-small-only">
          &nbsp;Administration
        </span>
        </a></li>
        <li class="tab col s3"><a href="#campaigns"><i class="material-icons">public</i>
          <span class="hide-on-small-only">
          &nbsp;Campaigns
        </span>
        </a></li>
        <li class="tab col s3"><a href="#statistics"><i class="material-icons">poll</i>
          <span class="hide-on-small-only">
          &nbsp;Statistics
        </span>
        </a></li>
      </ul>
    </div><!-- /#tab_bar -->

    <div id="details" class="col s12">
      <div class="row">

        <h4 class="hide-on-med-and-up">Details</h4>

        {# {{{ INPUT name #}
        <div class="col l6 s12 input-field">
          {# TODO: ensure that all ministry titles are unique #}
          {{ form.name.label_tag() }}
          <i class="material-icons prefix">group</i>
          {{ form.name }}
        </div>
        {# }}} #}

        {# {{{ INPUT phone_number #}
        <div class="col l6 s12 input-field">
          {{ form.phone_number.label_tag() }}
          {# TODO: render styled phone number input for international phone numbers #}
          <i class="material-icons prefix">phone</i>
          {{ form.phone_number }}
        </div>
        {# }}} #}

        {# {{{ INPUT website #}
        <div class="col l6 s12 input-field">
          {{ form.website.label_tag() }}
          <i class="material-icons prefix">explore</i>
          {{ form.website }}
        </div>
        {# }}} #}

        {# {{{ INPUT address #}
        <div class="col l6 s12 input-field">
          {# TODO: render custom address input #}
          <i class="material-icons prefix">place</i>
          <textarea id="id_address" name="{{ form.address.name }}" class="materialize-textarea"></textarea>
          {{ form.address.label_tag() }}
        </div>
        {# }}} #}

        {# {{{ INPUT employee count #}
        <div class="col l6 s12 input-field">
          {{ form.staff.label_tag() }}
          <i class="material-icons prefix">people</i>
          {{ form.staff }}
        </div>
        {# }}} #}

        {# {{{ INPUT date founded #}
        <div class="col l6 s12 input-field">
          <i class="material-icons prefix">cake</i>
          <input type="text" name="{{ form.founded.name }}" id="id_founded" class="datepicker">
          {{ form.founded.label_tag() }}
        </div>
        {# }}} #}
      </div>

      {# {{{ INPUT social media links }} #}
      <div class="row">
        <h6>Social Media Links:</h6>
        {# TODO: Add social media Icons #}
        {% set sm_links = [['sm_fb', 'facebook', 'Facebook'],
                               ['sm_ig', 'instagram', 'Instagram'],
                               ['sm_yt', 'youtube', 'YouTube'],
                               ['sm_t', 'twitter', 'Twitter']] %}
        {% for form_name, attr_name, ui_name in sm_links %}
          <div class="col l3 s12 input-field">
            <label for="{{ form_name }}">{{ ui_name }}</label>
            <input id="{{ form_name }}" name="{{ form_name }}" type="url">
          </div>
        {% endfor %}
      </div>
      {# }}} #}

      {# {{{ INPUT description (WYSIWYG) #}
      <div>
        <div class="divider"></div>
        <br>
        <i class="material-icons">subject</i>
        {{ form.description.label_tag() }}

        {% if start %}
          {{ wysiwyg_editor(form.description.name) }}
        {% else %}
          {{ wysiwyg_editor(form.description.name, ministry.description) }}
        {% endif %}
      </div>
      {# }}} #}

      {# {{{ INPUT tags #}
      {{ tag_selection(form) }}
      {# }}} #}

      {# {{{ Form Buttons #}
      <div id="form_buttons" class="row">
        <div class="col l3 s12">
          <button class="btn orange" type="submit">
            <i class="material-icons">save</i>
            Save
          </button>
        </div>

        <div class="col l3 s12">
          {% if not start and ministry %}
            {{ confirm_delete('ministry', ministry.id) }}
          {% endif %}
        </div>
      </div><!-- /#form_buttons -->

      {# }}} #}
    </div>
    <div id="administration" class="col s12">

      <h4 class="hide-on-med-and-up">Administration</h4>

      {% if start %}
        <p>Finish creating your ministry before starting to administer other users.</p>
      {% elif not start %}

        {# {{{ INPUT representative selection #}
        {{ rep_selection(ministry) }}
        <md-content layout="column" class="md-padding autocomplete rep_requests">
          <input type="hidden" name="{{ form.reps.name }}" value="{% raw %}{{ object.reps }}{% endraw %}">
          <label>
            <md-icon><i class="material-icons">group_add</i></md-icon>
            {{ form.reps.label }}:
          </label>
          <md-contact-chips ng-model="object.reps"
                            md-contacts="filter_users($query)"
                            md-require-match="true"
                            md-contact-name="name"
                            md-contact-image="img"
                            md-contact-email="email"
                            placeholder="Select by name or email"
                            secondary-placeholder="Add another representative">
          </md-contact-chips>
          {# TODO: button to clear all pending requests #}
          <md-list class="available_contacts">
            <md-subheader>
              Representative Requests
            </md-subheader>
            {% if len(ministry.requests.all()) %}
              <md-list-item class="md-2-line contact-item" ng-repeat="(index, contact) in object.requests">
                {% raw %}
                <img class="md-avatar" ng-src="{{ contact.img }}">
                <div class="md-list-item-text compact">
                  <h3>{{ contact.name }}</h3>
                  <p>{{ contact.email }}</p>
                </div>
                {% endraw %}
              </md-list-item>
            {% else %}
              <md-list-item class="md-1-line">
                <h3>There are no requests to show</h3>
              </md-list-item>
            {% endif %}
          </md-list>
        </md-content>
        {# }}} #}

      {% endif %}

      {# {{{ Form Buttons #}
      <div id="form_buttons">
        <a class="col l3 s12 btn" type="submit">
          <i class="material-icons">save</i>
          Save
        </a>

        {% if not start and ministry %}
          {{ confirm_delete('ministry', ministry.id) }}
        {% endif %}
      </div><!-- /#form_buttons -->

      {# }}} #}
    </div>
    <div id="campaigns" class="col s12">

      <h4 class="hide-on-med-and-up">Campaigns</h4>

      {% if start %}
        <p>Finish creating your ministry before starting a campaign.</p>
      {% elif not start %}
        {# TODO: differentiate between current and previous fundraisers #}
        <a class="btn purple lighten-2"
           href="{{ url_for('campaign:create_campaign', kwargs={'ministry_id': ministry.id}) }}"
           style="margin-bottom: 12px">
          <i class="material-icons">add</i>
          New Campaign
        </a>

        <div class="row">
          {% for campaign in ministry.campaigns.all() %}
            {{ card.campaign_card(campaign, AUTH=True) }}
          {% else %}
            <p>You have no fundraising campaigns at this time.</p>
          {% endfor %}
        </div>

      {% endif %}
    </div>
    <div id="statistics" class="col s12">

      <h4 class="hide-on-med-and-up">Statistics</h4>

      <p>This part of the website is under construction</p>
    </div>
  </div>
  </form>

</section>
{% endblock %}

{% block scripts %}
  {{ get_obj_json(ministry) }}
  {{ tag_selection_script(ministry) }}
  {{ rep_selection_script(ministry) }}

  <script>
    /**
     * This wraps up the functions that are defined above
     * @returns {Promise<void>}
     */
    async function activate() {
      const obj = await get_obj_json();
      await initRepInput(obj);
      await initTagInput(obj);
    }

    activate();
  </script>
{% endblock %}
