{% extends "layout.html" %}

{% from "campaign/campaign_card.html" import campaign_card %}
{% from "ministry/ministry_card.html" import ministry_card %}

{# set the active page on the sidebar #}
{% set active = url_for('ministry:home') %}


{% block title %}Ministries{% endblock %}


{% block body %}
    <div class="wrapper section">

        <h3>New Ministries</h3>
      {% if new_ministries %}
          <h6 class="grey-text text-darken-2 ml-1 mb-3">These are the newest ministries that have created a
              profile!</h6>
          <div class="row">
            {% for ministry in new_ministries %}
              {{ ministry_card(ministry, request=request) }}
        {% endfor %}
      </div>
    {% else %}
      <h6 class="grey-text text-darken-2 mt-2 ml-1">There don't seem to be any new ministries at the moment</h6>
    {% endif %}

    {% if random_ministries %}
      <h3>Some more ministries</h3>
      <h6>Check out this assortment of other ministries</h6>
      {% for ministry in random_ministries %}
        {{ ministry_card(minsitry, request=request) }}
      {% endfor %}
    {% endif %}

        <h6 class="grey-text text-darken-2 mb-2 mt-2">Be sure to find out about these campaigns and share!</h6>
        <div class="row">
          {% for campaign in other_campaigns %}
            {{ campaign_card(campaign, request=request) }}
      {% endfor %}
    </div>

  </div><!-- /.wrapper .section -->
{% endblock %}


{% block scripts %}
  <!-- init dynamic card functionality -->
  <script src="{{ static('js/mini-gallery-init.js') }}"></script>

  <!-- masonry -->
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script>
    // this initializes all masonry objects on the page
    $('.grid').masonry({
      itemSelector: '.grid-item',
    });
  </script>
{% endblock %}
