{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/ministry/ministry.html
#}

{% import "content.html" as content %}
{% import "cards.html" as card %}

{% set AUTH = (request.user == ministry.admin or request.user in ministry.reps.all()) %}


{{ content.show_ministry(ministry, detail=False, request=request, AUTH=AUTH, form=form, csrf_token=csrf_token) }}


{# TODO: move comments section to tabs #}

<section class="wrapper">
  <!-- ministry/ministry_details -->

  {{ card.card_area(all_news, campaigns=(True, campaigns), AUTH=AUTH) }}

</section>


<!-- Google Analytics Virtual Pageview -->
<script>ga('send', 'pageview', 'ministry')</script>
