{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/ministry/ministry_content.html
#}
{% import "parts.html" as parts %}
{# TODO: total donated amount #}

<section class="wrapper">
  <!-- ministry/ministry_content -->

  {# {{{ Form Header #}
  {% if start %}
    <h1>New Ministry Profile:</h1>
    <!-- TODO: make link for more information -->
    <h3>Please note that all ministry profiles are must be approved before they are made public</h3>

    <form method="POST" enctype="multipart/form-data" action="{{ url_for('ministry:create_ministry') }}">

  {% else %}
    {#
    <h1>

      Edit Ministry Profile:&nbsp;

      <a href="#{{ url_for('ministry:ministry_profile', kwargs={'ministry_id': ministry.id}) }}"
       style="text-decoration: none;">
        <md-button class="md-raised md-primary">
          View
        </md-button>
      </a>

    </h1>
    #}

    <form method="POST" enctype="multipart/form-data" action="{{ ministry.edit }}">
      <input type="hidden" id="current_object_json" value="{{ ministry.json }}">

  {% endif %}
  {# }}} #}

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div layout="column" class="md-inline-form">

      <md-tabs md-dynamic-height md-border-bottom>


        {# {{{ Detail Section #}
        <md-tab label="Minsitry">
          <md-tab-label>
            <md-icon><i class="material-icons">info</i></md-icon>&nbsp;
            Ministry
          </md-tab-label>
          <md-tab-body>

            {# {{{ INPUT profile_img #}
            <div>
              <h5>Profile Image:</h5>
              {% if not start %}
              <!-- TODO: dynamically get the updated url from input value via angular -->
              <img style="height: 120px; width: 120px; margin: auto;" src="{{ ministry.profile_img.url }}"/>
              {% endif %}
              {# {{{ INPUT profile_image #}
              <md-button ng-click="profile_img_dialog.show($event, 'profileImgDialog')">
                <md-icon><i class="material-icons">image</i></md-icon>
                Profile Img
              </md-button>

              {# {{{ Banner Selection Dialog #}
              <div style="visibility: hidden">
                <div class="md-dialog-container" id="profileImgDialog">
                  <md-dialog>

                    <md-toolbar>
                      <div class="md-toolbar-tools">
                        <h2>Banner Selection</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="profile_img_dialog.close()">
                          <i class="material-icons">close</i>
                        </md-button>
                      </div><!-- /.md-toolbar-tools -->
                    </md-toolbar>

                    <md-dialog-content>
                      <div class="md-dialog-content">
                        <div class="previous-images">
                            <md-grid-list
                                  md-cols="1" md-cols-sm="4" md-cols-md="4" md-cols-gt-md="8"
                                  md-row-height="1:1"
                                  md-gutter="8px">

                              <md-grid-tile ng-repeat="(name, src) in profile_img_urls"
                                            {# TODO: dynamically allocate this #}
                                            md-rowspan="1"
                                            md-colspan="1"
                                            md-rowspan-gt-xs="2"
                                            md-colspan-gt-xs="2">
                                <img style="width: 100%; bottom: 0; position: absolute;"
                                     ng-click="select_profile_img(name)"
                                     ng-src="{% raw %}{{ src }}{% endraw %}"
                                     ng-class="[{banner_current:  profile_img_dialog.banner_current(name),
                                                 banner_selected: profile_img_dialog.banner_selected(name)}]">
                                <md-grid-tile-footer>
                                  <h3>
                                    <span ng-if="profile_img_dialog.banner_selected(name)"
                                          class="banner_selected_label">
                                      <md-icon><i class="material-icons">check_circle</i></md-icon>
                                    </span>
                                    <span ng-if="profile_img_dialog.banner_current(name)"
                                          ng-hide="profile_img_dialog.banner_selected(name)"
                                          class="banner_current_label">
                                      Current
                                    </span>
                                    {% raw %}{{ name }}{% endraw %}
                                  </h3>
                                </md-grid-tile-footer>
                              </md-grid-tile>
                            </md-grid-list>
                        </div><!-- /.previous-images -->

                        <h3 class="md-headline" ng-hide="profile_img_urls">You haven't uploaded a profile picture yet</h3>

                        {#{{ form.banner_img.label_tag() }}
                        {{ form.banner_img }}#}
                        <input type="hidden" name="selected_profile_img"
                               value="{% raw %}{{ selected_profile_img }}{% endraw %}">
                        <br>Upload New:
                        <input type="file" name="profile_img" accept="image/*" id="id_banner_img"
                               ng-click="banner_img_dialog.clear()">
                        <input type="checkbox" name="profile_img-clear" id="profile_img-clear_id">
                        <label for="profile_img-clear_id">Clear</label>

                      </div><!-- /.md-dialog-content -->
                    </md-dialog-content>

                    <md-dialog-actions layout="row">
                      <md-button ng-click="profile_img_dialog.close()">
                        Cancel
                      </md-button>
                      <md-button class="md-raised md-primary" ng-click="profile_img_dialog.close()">
                        Done
                      </md-button>
                    </md-dialog-actions>

                  </md-dialog>
                </div>
              </div>
              {# }}} #}
              {# }}} #}
            </div>
            <br>
            {# }}} #}

            <md-divider></md-divider>

            {# {{{ INPUT name #}
            <md-input-container>
              {# TODO: ensure that all ministry titles are unique #}
              {{ form.name.label_tag() }}
              <md-icon><i class="material-icons">group</i></md-icon>
              {{ form.name }}
            </md-input-container>
            {# }}} #}
            <div layout-gt-sm="row" layout-padding>
            {# {{{ INPUT phone_number #}
              <md-input-container flex-gt-sm="50">
                {{ form.phone_number.label_tag() }}
                {# TODO: render styled phone number input for international phone numbers #}
                <md-icon><i class="material-icons">phone</i></md-icon>
                {{ form.phone_number }}
              </md-input-container>
            {# }}} #}
            {# {{{ INPUT website #}
              <md-input-container flex-gt-sm="50">
                {{ form.website.label_tag() }}
                <md-icon><i class="material-icons">explore</i></md-icon>
                {{ form.website }}
              </md-input-container>
            {# }}} #}
            </div>
            {# {{{ INPUT address #}
            <md-input-container>
              {# TODO: render custom address input #}
              {{ form.address.label_tag() }}
              <md-icon><i class="material-icons">place</i></md-icon>
              {{ form.address }}
            </md-input-container>
            {# }}} #}
            {# {{{ INPUT founded #}
            <div layout="row">
              <h5 style="font-weight: 400">
                {{ form.founded.label }}:
              </h5>
              <md-icon><i class="material-icons">cake</i></md-icon>
              <input type="hidden" name="{{ form.founded.name }}" value="{% raw %}{{ object.founded | date:'yyyy-MM-dd' }}{% endraw %}">
              <md-input-container hide-sm hide-xs>
                <md-datepicker id="{{ form.founded.id_for_label }}" ng-model="object.founded" md-placeholder="Enter date founded" md-open-on-focus hide-sm hide-xs></md-datepicker>
                <div class="hint">When did this ministry start?</div>
              </md-input-container>
              <md-input-container hide-gt-sm>
                <input type="date" ng-model="object.founded">
              </md-input-container>
            </div>
            {# }}} #}
            {# {{{ INPUT employee count #}
            <md-input-container>
              {{ form.staff.label_tag() }}
              <md-icon><i class="material-icons">people</i></md-icon>
              {{ form.staff }}
            </md-input-container>
            {# }}} #}

          </md-tab-body>
        </md-tab>
        {# }}} #}

        {# {{{ Content Section #}
        <md-tab label="Content">
          <md-tab-label>
            <md-icon><i class="material-icons">description</i></md-icon>&nbsp;
            Content
          </md-tab-label>
          <md-tab-body>

            {# {{{ INPUT banner_image #}
            <md-button ng-click="banner_img_dialog.show($event, 'bannerDialog')">
              <md-icon><i class="material-icons">image</i></md-icon>
              Banner Img
            </md-button>

            {# {{{ Banner Selection Dialog #}
            <div style="visibility: hidden">
              <div class="md-dialog-container" id="bannerDialog">
                <md-dialog>

                  <md-toolbar>
                    <div class="md-toolbar-tools">
                      <h2>Banner Selection</h2>
                      <span flex></span>
                      <md-button class="md-icon-button" ng-click="banner_img_dialog.close()">
                        <i class="material-icons">close</i>
                      </md-button>
                    </div><!-- /.md-toolbar-tools -->
                  </md-toolbar>

                  <md-dialog-content>
                    <div class="md-dialog-content">
                      <div class="previous-images">
                          <md-grid-list
                                md-cols="1" md-cols-sm="4" md-cols-md="4" md-cols-gt-md="8"
                                md-row-height-gt-md="1:1" md-row-height="16:10"
                                md-gutter="8px">

                            <md-grid-tile ng-repeat="(name, src) in banner_urls"
                                          {# TODO: dynamically allocate this #}
                                          md-rowspan="1"
                                          md-colspan="1"
                                          md-rowspan-gt-xs="2"
                                          md-colspan-gt-xs="2">
                              <img style="width: 100%; bottom: 0; position: absolute;"
                                   ng-click="select_banner(name)"
                                   ng-src="{% raw %}{{ src }}{% endraw %}"
                                   ng-class="[{banner_current:  banner_img_dialog.banner_current(name),
                                               banner_selected: banner_img_dialog.banner_selected(name)}]" alt="Profile Image">
                              <md-grid-tile-footer>
                                <h3>
                                  <span ng-if="banner_img_dialog.banner_selected(name)"
                                        class="banner_selected_label">
                                    <md-icon><i class="material-icons">check_circle</i></md-icon>
                                  </span>
                                  <span ng-if="banner_img_dialog.banner_current(name)"
                                        ng-hide="banner_img_dialog.banner_selected(name)"
                                        class="banner_current_label">
                                    Current
                                  </span>
                                  {% raw %}{{ name }}{% endraw %}
                                </h3>
                              </md-grid-tile-footer>
                            </md-grid-tile>
                          </md-grid-list>
                      </div><!-- /.previous-images -->

                      <h3 ng-class="md-headline" ng-hide="banner_urls">You haven't uploaded any banner pictures yet</h3>

                      {#{{ form.banner_img.label_tag() }}
                      {{ form.banner_img }}#}
                      <input type="hidden" name="selected_banner_img"
                             value="{% raw %}{{ selected_banner }}{% endraw %}">
                      <br>Upload New:
                      <input type="file" name="banner_img" accept="image/*" id="id_banner_img"
                             ng-click="banner_img_dialog.clear()">
                      <input type="checkbox" name="banner_img-clear" id="banner_img-clear_id">
                      <label for="banner_img-clear_id">Clear</label>

                    </div><!-- /.md-dialog-content -->
                  </md-dialog-content>

                  <md-dialog-actions layout="row">
                    <md-button ng-click="banner_img_dialog.close()">
                      Cancel
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click="banner_img_dialog.close()">
                      Done
                    </md-button>
                  </md-dialog-actions>

                </md-dialog>
              </div>
            </div>
            {# }}} #}

            {# }}} #}
            {# {{{ INPUT description (WYSIWYG) #}
            <md-input-container>
              <md-icon><i class="material-icons">subject</i></md-icon>
              {{ form.description.label_tag() }}
              {% if start %}
              {{ parts.wysiwyg_editor(form.description.name, '', unique='ministry') }}
              {% else%}
              {{ parts.wysiwyg_editor(form.description.name, ministry.description, unique='ministry') }}
              {% endif %}
              <br><br>
              <div class="hint">Describe yourself</div>
            </md-input-container>
            {# }}} #}
            {# {{{ INPUT tags #}
            <br>
            <md-input-container layout="column">
              <md-icon><i class="material-icons">class</i></md-icon>
              {{ form.tags.label_tag() }}
              <input type="hidden" name="{{ form.tags.name }}" value="{% raw %}{{ object.tags.join(', ') }}{% endraw %}">
              <md-chips ng-model="object.tags" md-autocomplete-snap
                        md-transform-chip="tagService.transform_chip($chip)"
                        md-separator-keys="tagService.separatorKeys">
                <md-autocomplete
                    md-search-text="tagText"
                    md-items="tag in filter_tags(tagText)"
                    md-item-text="tag"
                    md-min-length="1">
                  <span md-highlight-text="tagText">{% raw %}{{ tag }}{% endraw %}</span>
                </md-autocomplete>
                <md-chip-template>
                  <span>
                    <span>{% raw %}{{ $chip }}{% endraw %}</span>
                  </span>
                </md-chip-template>
              </md-chips>
              <br><br>
              <div class="hint">Select from existing tags, or create new ones by entering a comma.</div>
            </md-input-container>
            {# }}} #}

          </md-tab-body>
        </md-tab>
        {# }}} #}

      {# {{{ Administration Section #}
        {# uncreated MinistryProfile objects should have no rep functionality yet #}
        <md-tab label="Admininistration">
          <md-tab-label>
            <md-icon><i class="material-icons">lock</i></md-icon>&nbsp;
            Administration
          </md-tab-label>
          <md-tab-body>
          {% if start %}
            <p>Finish creating your ministry before starting to administer other users.</p>
          {% elif not start %}

            {# {{{ INPUT representative selection #}
            <md-content layout="column" class="md-padding autocomplete rep_requests">
              <input type="hidden" name="{{ form.reps.name }}" value="{% raw %}{{ object.reps }}{% endraw %}">
              <label>
                <md-icon><i class="material-icons">group_add</i></md-icon>
                {{ form.reps.label }}:
              </label>
              <md-contact-chips ng-model="object.reps"
                                md-contacts="filter_users($query)"
                                md-require-match="true"
                                md-contact-name="name"
                                md-contact-image="img"
                                md-contact-email="email"
                                placeholder="Select by name or email"
                                secondary-placeholder="Add another representative">
              </md-contact-chips>
              {# TODO: button to clear all pending requests #}
              <md-list class="available_contacts">
                <md-subheader>
                  Representative Requests
                </md-subheader>
                {% if len(ministry.requests.all()) %}
                  <md-list-item class="md-2-line contact-item" ng-repeat="(index, contact) in object.requests">
                    {% raw %}
                      <img class="md-avatar" ng-src="{{ contact.img }}">
                      <div class="md-list-item-text compact">
                        <h3>{{ contact.name }}</h3>
                        <p>{{ contact.email }}</p>
                      </div>
                    {% endraw %}
                  </md-list-item>
                {% else %}
                  <md-list-item class="md-1-line">
                    <h3>There are no requests to show</h3>
                  </md-list-item>
                {% endif %}
              </md-list>
            </md-content>
            {# }}} #}

          {% endif %}
          </md-tab-body>
        </md-tab>
      {# }}} #}

        {# {{{ Campaign Section #}
        <md-tab label="Campaigns">
          <md-tab-label>
            <md-icon><i class="material-icons">public</i></md-icon>
            Campaigns
          </md-tab-label>
          <md-tab-body>
          {% if start %}
            <p>Finish creating your ministry before starting a campaign.</p>
          {% elif not start %}

            {# TODO: differentiate between current and previous fundraisers #}
            <a href="#{{ url_for('ministry:create_campaign', kwargs={'ministry_id': ministry.id}) }}">
              Create a new fundraiser
            </a>

            <ul>
              {% for campaign in ministry.campaigns.all() %}
                <li>
                  <a href="#{{ campaign.url }}">
                    {{ campaign }}
                  </a>
                </li>
              {% endfor %}
            </ul>

          {% endif %}
          </md-tab-body>
        </md-tab>
        {# }}} #}

        {# {{{ Statistics Section #}
        <md-tab label="Statistics">
          <md-tab-label>
            <md-icon><i class="material-icons">poll</i></md-icon>&nbsp;
            Statistics
          </md-tab-label>
          <md-tab-body>
            <p>This part of the website is under construction</p>
          </md-tab-body>
        </md-tab>
        {# }}} #}


      </md-tabs>

      {# {{{ Form Buttons #}
      <div id="form_buttons" layout="row">
        {# TODO: implement DOUBLE dialog confirmation upon deletion #}
        {# TODO: implement FAB toolbar #}
        <md-button style="position: fixed; bottom: 75px; right: 10%; z-index: 500" class="md-fab md-primary" type="submit">
          <md-icon>
            <i class="material-icons">save</i>
          </md-icon>
        </md-button>

        {% if not start and ministry %}
          <md-button class="md-raised md-accent"
                     ng-href="#{{ url_for('ministry:create_news', kwargs={'obj_type': 'ministry', 'obj_id': ministry.id}) }}">
            Create News&nbsp;
            <md-icon>
              <i class="material-icons">note_add</i>
            </md-icon>
          </md-button>
          <md-button class="md-icon-button md-raised md-warn"
                     ng-href="{{ url_for('ministry:delete_ministry', kwargs={'ministry_id': ministry.id}) }}">
            <md-icon>
              <i class="material-icons">delete</i>
            </md-icon>
          </md-button>
        {% endif %}
      </div><!-- /#form_buttons -->
      {# }}} #}

    </div><!-- /.md-inline-form -->

  </form>



</section>


<!-- Google Analytics Virtual Pageview -->
<script>ga('send', 'pageview', 'ministry edit')</script>
