{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/ministry/admin_panel.html
#}
{% extends "layout.html" %}

{% from "macros/parts/wysiwyg_editor.html" import wysiwyg_editor, wysiwyg_script %}
{% from "macros/parts/tag_selection.html" import tag_selection, tag_selection_script %}
{% from "macros/parts/rep_request_selection.html" import rep_selection, rep_selection_script %}
{% from "macros/parts/banner_image_dialog.html" import banner_image_dialog %}
{% from "macros/parts/profile_image_dialog.html" import profile_image_dialog %}

{% block title %}
  New Ministry Application
{% endblock %}

{% block body %}
  <!-- ministry/ministry_application -->

  <section class="wrapper" ng-app="LON" ng-cloak>

    <h4>New Ministry Profile:</h4>
    <!-- TODO: make link for more information -->
    <h6>Please note that all ministry profiles are must be approved before they are made public</h6>

    <form method="POST" name="ministryForm" enctype="multipart/form-data"
          action="{{ url_for('ministry:create_ministry') }}">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

      <div class="row" ng-controller="ministryActionCtrl">
        <div class="row">

          <div class="col s12" id="imageDialogs">
            <div class="row">
              <div class="col s12 m6 l3">
                {{ profile_image_dialog() }}
              </div><!-- /profile_image_dialog -->
              <div class="col s12 m6 l3">
                {{ banner_image_dialog() }}
              </div><!-- /banner_image_dialog -->
            </div>
          </div><!-- /#imageDialogs -->

          <div class="col s12 input-field">
            {# TODO: ensure that all ministry titles are unique #}
            <i class="material-icons prefix">group</i>
            {{ form.name }}
            {{ form.name.label_tag() }}
          </div><!-- /name -->

          <div class="col s12 input-field">
            {# TODO: render custom address input #}
            <i class="material-icons prefix">place</i>
            {{ form.address }}
            {{ form.address.label_tag() }}
          </div><!-- /address -->

          <div class="col l6 s12 input-field">
            {# TODO: render styled phone number input for international phone numbers #}
            <i class="material-icons prefix">phone</i>
            {{ form.phone_number }}
            {{ form.phone_number.label_tag() }}
          </div><!-- /phone_number -->

          <div class="col l6 s12 input-field">
            <i class="material-icons prefix">explore</i>
            {{ form.website }}
            {{ form.website.label_tag() }}
          </div><!-- /website -->

          <div class="col l6 s12 input-field">
            <i class="material-icons prefix">people</i>
            {{ form.staff }}
            {{ form.staff.label_tag() }}
          </div><!-- /staff_count -->

          <div class="col l6 s12 input-field">
            <i class="material-icons prefix">cake</i>
            {{ form.founded }}
            {{ form.founded.label_tag() }}
          </div><!-- /date_founded -->

        </div><!-- /details -->

        <div class="row" id="socialMediaLinks">
          <h6>Social Media Links:</h6>
          {# TODO: Add social media Icons #}
          <div class="col l3 s12 input-field">
            {{ form.facebook }}
            {{ form.facebook.label_tag() }}
          </div>
          <div class="col l3 s12 input-field">
            {{ form.instagram }}
            {{ form.instagram.label_tag() }}
          </div>
          <div class="col l3 s12 input-field">
            {{ form.youtube }}
            {{ form.youtube.label_tag() }}
          </div>
          <div class="col l3 s12 input-field">
            {{ form.twitter }}
            {{ form.twitter.label_tag() }}
          </div>
        </div><!-- /#socialMediaLinks -->

        <div id="WYSIWYG">
          <br>
          <i class="material-icons">subject</i>
          {{ form.description.label_tag() }}

          {{ wysiwyg_editor(form.description.name) }}
        </div><!-- /#WYSIWYG -->

        <br>
        <md-input-container layout="column">
          <md-icon><i class="material-icons">class</i></md-icon>
          {{ form.tags.label_tag() }}
          <input type="hidden" name="{{ form.tags.name }}" value="{% raw %}{{ object.tags.join(', ') }}{% endraw %}">
          <md-chips ng-model="object.tags" md-autocomplete-snap
                    md-transform-chip="tagService.transform_chip($chip)"
                    md-separator-keys="tagService.separatorKeys">
            <md-autocomplete
                md-search-text="tagText"
                md-items="tag in filter_tags(tagText)"
                md-item-text="tag"
                md-min-length="1">
              <span md-highlight-text="tagText">{% raw %}{{ tag }}{% endraw %}</span>
            </md-autocomplete>
            <md-chip-template>
                  <span>
                    <span>{% raw %}{{ $chip }}{% endraw %}</span>
                  </span>
            </md-chip-template>
          </md-chips>
          <br><br>
          <div class="hint">Select from existing tags, or create new ones by entering a comma.</div>
        </md-input-container><!-- /tag-selection -->

        <div id="form_buttons" class="row">
          <div class="col l3 s12">
            <button class="btn orange" type="submit">
              <i class="material-icons">save</i>
              Save
            </button>
          </div>
        </div><!-- /#form_buttons -->

      </div><!-- /#details -->
    </form>

  </section>
{% endblock %}


{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

  {% set page_assets = (
  'app.module.js',
  'app.config.js',
  'services/tag.service.js',
  'services/object.service.js',
  'services/select_image_dialog.service.js',
  'people/user_filter.service.js',
  'ministry/ministry_action.controller.js',
  ) %}
  {% for f in page_assets %}
    <script src="{{ static('app/%s' % f) }}"></script>
  {% endfor %}

  {{ wysiwyg_script() }}

{% endblock %}


{% block css %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
{% endblock %}
