{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/ministry/news_content.html
#}
{% import "parts.html" as parts %}

<section class="wrapper">
  <!-- ministry/news_content -->

  {% if start %}
    <h1>Create News Post:</h1>
    <!-- TODO: make link for more information -->

    <form method="POST" action="{{ url_for('ministry:create_news', kwargs=kwargs) }}">

  {% else %}
    <h1>Edit Ministry Profile:</h1>

    <form enctype="multipart/form-data" method="POST" action="{{ url_for('ministry:edit_news', kwargs={'post_id': post.id}) }}">

  {% endif %}

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div layout="column" layout-padding class="md-inline-form">
      {{ form.attachment.label_tag() }}
      {{ form.attachment }}

      <md-input-container>
        {# TODO: ensure that all ministry titles are unique #}
        {{ form.title.label_tag() }}
        {{ form.title }}
      </md-input-container>

      <md-input-container>
        {# TODO: render WYSIWYG editor #}
        {{ form.content.label_tag() }}

        {% if start %}
          {{ parts.wysiwyg_editor(form.content.name, unique='news') }}
        {% else %}
          {{ parts.wysiwyg_editor(form.content.name, post.content, unique='news') }}
        {% endif %}

      </md-input-container>

      <md-button class="md-raised md-primary" type="submit">Save</md-button>

      {% if not start and post %}

        <md-button class="md-raised md-warn">
          <a style="color: #FFF; text-decoration: none;" href="{{ url_for('ministry:delete_news', kwargs={'post_id': post.id}) }}">
            Delete
          </a>
          {# TODO: implement DOUBLE dialog confirmation #}
        </md-button>

      {% endif %}
    </div>

  </form>

</section>


<!-- Google Analytics Virtual Pageview -->
<script>ga('send', 'pageview', 'news post edit')</script>
