{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/campaign/admin_panel.html
#}
{% extends "layout.html" %}

{% from "campaign/parts/campaign_date_input_scripts.html" import campaign_date_input_scripts %}

{% from "macros/parts/get_obj_json.html" import get_obj_json %}
{% from "macros/parts/input_field.html" import input_field %}
{% from "macros/parts/input_img_dialog.html" import input_img_dialog %}
{% from "macros/parts/confirm_delete.html" import confirm_delete %}
{% from "macros/parts/tag_selection.html" import tag_selection, tag_selection_script %}
{% from "macros/parts/transaction_table.html" import transaction_table %}
{% from "macros/parts/wysiwyg_editor.html" import wysiwyg_editor, wysiwyg_script %}

{% import "macros/cards.html" as card %}

{% block title %}
  {{ campaign.title }} Edit Page
{% endblock %}

{% block body %}
  <!-- campaign/admin_panel -->

  <div class="row">
    <div class="col s12">
      <div class="container">
        <section class="tabs-vertical mt-1 section">

          <div class="row">
            {% if not campaign.ministry.verified %}
              <div class="col s12">
                <div class="card-panel orange lighten-5">
                  <p>Your Ministry Profile has not been verified yet. This may take 1-3 business days.
                    Your profile will not be visible to the public before then.</p>
                </div><!-- /.card-panel -->
              </div>
            {% endif %}

            <div class="col l4 s12">
              <div class="card-panel">
                <ul class="tabs">
                  <li class="tab">
                    <a href="#details"><i class="material-icons">info</i>
                      &nbsp;Details
                    </a></li><!-- /details -->
                  <li class="tab">
                    <a href="#news"><i class="material-icons">dynamic_feed</i>
                      &nbsp;News
                    </a>
                  </li><!-- /news -->
                  <li class="tab">
                    <a href="#donations"><i class="material-icons">monetization_on</i>
                      &nbsp;Donations
                    </a>
                  </li><!-- /donations -->
                </ul><!-- /.tabs -->
              </div><!-- /.card-panel -->
            </div><!-- /.col /tabs -->


            <div class="col s12 l8">
              <div id="details">
                <div class="card-panel">
                  <form method="POST" enctype="multipart/form-data" action="{{ campaign.edit }}">

                    <input type="hidden" id="current_object_json" value="{{ campaign.json }}">
                    <input type="hidden" id="campaign_id" value="{{ campaign.id }}">

                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                    <div class="row">

                      <br>
                      <div class="col s12" id="imageDialogs">
                        {{ input_img_dialog('banner', 'Banner Image',
                                            imgField=form.banner_img,
                                            img=campaign.banner_img) }}
                      </div>

                      {{ input_field(form.title, width='l6 s12') }}

                      {{ input_field(form.goal, width='l6 s12', icon='attach_money') }}

                      {{ input_field(form.start_date, width='l5 s11', icon='today') }}
                      <div class="col s1" style="padding-top: 1em;">
                        <a class="btn-flat modal-trigger grey-text darken-2" href="#start_end_help_modal">
                          <i class="material-icons">help_outline</i>
                        </a>
                      </div><!-- Start/End Date Modal Trigger -->
                      {{ input_field(form.end_date, width='l5 s11', icon='today') }}
                      <div class="col s1" style="padding-top: 1em;">
                        <a class="btn-flat modal-trigger grey-text darken-2" href="#start_end_help_modal">
                          <i class="material-icons">help_outline</i>
                        </a>
                      </div><!-- Start/End Date Modal Trigger -->

                      <div id="start_end_help_modal" class="modal modal-fixed-footer">
                        <div class="modal-content">
                          <h4>
                            Start/End Date Help
                          </h4>
                          <h5>What are the Start and End Dates?</h5>
                          <p>The start and end dates of the campaign are the dates which donors will be able to donate
                            to your campaign. Setting a longer duration between these two dates might be necessary if
                            your campaign goal is high, and gives you time to share and promote your page via social or
                            physical media.</p>

                          <p>We encourage ministries to not set the start date on the same day you create the campaign
                            and campaigns should not be less than 1 month, so that your campaign is easily
                            promotable. </p>
                        </div><!-- /.modal-content -->
                        <div class="modal-footer">
                          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Okay</a>
                        </div>
                      </div><!-- Start/End Date Help Modal -->

                    </div><!-- /details -->

                    <div id="WYSIWYG">
                      <i class="material-icons">subject</i>
                      {{ form.content.label_tag() }}
                      {{ wysiwyg_editor(form.content.name) }}
                    </div><!-- /#WYSIWYG -->

                    {{ tag_selection(form.tags) }}

                    <div id="form_buttons">
                      <button class="btn orange" type="submit">
                        <i class="material-icons">save</i>
                        Save
                      </button>
                    </div><!-- /#form_buttons -->

                  </form>
                </div><!-- /.card-panel -->
              </div><!-- /#details -->

              <div id="news">
                <div class="card-panel">
                  <br>
                  <a class="btn blue lighten-2" style="margin-bottom: 12px"
                     href="{{ url_for('news:create_news', kwargs={'obj_type': 'campaign', 'obj_id': campaign.id}) }}">
                    <i class="material-icons">add</i>
                    Create News Post
                  </a>
                  <div class="row">
                    {% for news in campaign.news.all() %}
                      {{ card.news_card(news, AUTH=True) }}
                    {% else %}
                      <p>There is no news for this campaign at this time.</p>
                    {% endfor %}
                  </div>
                </div>

              </div><!-- /#news -->

              <div id="donations">
                <div id="statistics" class="row">
                  <canvas id="donation-graph"></canvas>
                  <div class="col s12 l3">
                    <div class="campaign-goal">
                      <div style="width: 100%">
                        Total Goal:
                      </div>
                      <div class="goal-values">
                  <span>
                    ${{ goals.total.current }}
                  </span>
                        <span>
                    ${{ goals.total.max }}
                  </span>
                      </div><!-- /.goal-values -->
                      <canvas id="total_goal" width="300" height="150"></canvas>
                    </div>
                  </div><!-- /total_goal -->
                  <div class="col s12 l3">
                    <div class="campaign-goal">
                      <div style="width: 100%;">
                        Monthly Goal
                      </div>
                      <div class="goal-values">
                  <span>
                    ${{ goals.monthly.current }}
                  </span>
                        <span>
                    ${{ goals.monthly.max }}
                  </span>
                      </div><!-- /.goal-values -->
                      <canvas id="monthly_goal"></canvas>
                    </div><!-- /.campaign-goal -->
                  </div><!-- /monthly_goal -->
                </div><!-- /#statistics -->

                {# TODO: total donated #}
                {# TODO: average per campaign #}
                {# TODO: average per week #}
                {# TODO: average per month #}
                {# TODO: YTD #}
                {# TODO: 3-month total #}
                {# TODO: export as CSV #}

                {{ transaction_table(donations, show_campaign=False) }}
              </div><!-- /#donations -->

            </div><!-- /.l8 -->


          </div><!-- /.row -->
        </section><!-- /.tabs-vertical -->
      </div><!-- /.container -->
    </div><!-- /.col -->
  </div><!-- /.row -->
{% endblock %}


{% block scripts %}
  <!-- Goal Elements -->
  <script src="{{ static('js/gauge.min.js') }}"></script>
  <script>
    let opts = {
      angle: 0.35,
      lineWidth: 0.1,
      radiusScale: 0.92,
      limitMax: false,
      limitMin: true,
      highDpiSupport: true,
      colorStart: '#8B0053',
      colorStop: '#89d77c',
      strokeColor: '#EEEEEE',
      generateGradient: true,
      fontSize: 20,
    };

    // total goal
    let target = document.getElementById('total_goal');
    let gauge = new Donut(target).setOptions(opts);
    gauge.maxValue = {{ goals.total.max }};
    gauge.setMinValue(0);
    gauge.animationSpeed = 32;
    gauge.set({{ goals.total.current }});

    // monthly goal
    target = document.getElementById('monthly_goal');
    gauge = new Donut(target).setOptions(opts);
    gauge.maxValue = {{ goals.monthly.max }};
    gauge.setMinValue(0);
    gauge.animationSpeed = 32;
    gauge.set({{ goals.monthly.current }});
  </script><!-- /Gauge Configuration -->

  {{ wysiwyg_script() }}

  <!-- Graphing UI -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

  <script src="{{ static('js/donation_statistics.js') }}"></script>

  <script>
    const donationJsonURL = "{{ request.build_absolute_uri( url_for('campaign:donations_json', kwargs={'campaign_id': campaign.id})) }}";
    const objJsonURL = '{{ request.build_absolute_uri(campaign.json) }}';

    drawGraph(objJsonURL, donationJsonURL);
  </script>

  {{ campaign_date_input_scripts('.pickadate') }}

  <!-- tag selection -->
  {{ get_obj_json(campaign) }}
  <script src="{{ static('js/tag_selector.js') }}"></script>
  <script>
    get_obj_json().then(function (obj) {
      const hidden_input = '{{ form.tags.auto_id }}';
      const tags_url = '{{ url_for("tag:tags_json") }}';
      new TagSelector(hidden_input, tags_url, obj.tags, 'tagSelector');
    })
  </script>

  <!-- masonry -->
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

  <!-- Knockout.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
  <script src="{{ static('js/image_selection.js') }}"></script>
  <script>
    const bannerURL = "{{ url_for('campaign:banner_img_json', kwargs={'campaign_id': campaign.id}) }}";

    let bannerSelection = new PreviousImageSelection('selected_banner_img', bannerURL);

    ko.applyBindings(bannerSelection, document.getElementById('banner_img_input'));
  </script>

{% endblock %}


{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">
{% endblock %}
