{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/campaign/admin_panel.html
#}
{% extends "layout.html" %}

{% from "campaign/parts/campaign_date_input_scripts.html" import campaign_date_input_scripts %}
{% from "post/post_card.html" import post_card %}

{% from "macros/parts/breadcrumbs.html" import breadcrumbs %}
{% from "macros/parts/get_obj_json.html" import get_obj_json %}
{% from "macros/parts/input_field.html" import input_field %}
{% from "macros/parts/input_img_dialog.html" import input_img_dialog %}
{% from "macros/parts/confirm_delete.html" import confirm_delete %}
{% from "macros/parts/tag_selection.html" import tag_selection, tag_selection_script %}
{% from "macros/parts/transaction_table.html" import transaction_table %}
{% from "macros/parts/wysiwyg_editor.html" import wysiwyg_script %}


{% block title %}
  {{ campaign|string|title }} Admin Panel
{% endblock %}

{% block body %}
  <!-- campaign/admin_panel -->

  <div class="row">
    <div class="col s12">
      <div class="container">
        <section class="tabs-vertical mt-1 section">

          {{ breadcrumbs(campaign|string|title, parent=campaign.parent, header='Admin Panel', obj=campaign) }}

          <div class="row">
            {% if not campaign.ministry.verified %}
              <div class="col s12">
                <div class="card-panel orange lighten-5">
                  <p class="mt-0 mb-0">Your Ministry Profile has not been verified yet. This may take 1-3 business days.
                    Your profile will not be visible to the public before then.</p>
                </div><!-- /.card-panel -->
              </div>
            {% endif %}

            <div class="col l4 s12">
              <div class="card-panel">
                <ul class="tabs">
                  <li class="tab">
                    <a href="#details"><i class="material-icons">info</i>
                      &nbsp;Details
                    </a></li><!-- /details -->
                  <li class="tab">
                    <a href="#posts"><i class="material-icons">dynamic_feed</i>
                      Posts&nbsp;
                    </a>
                  </li><!-- /post -->
                  <li class="tab">
                    <a href="#donations"><i class="material-icons">monetization_on</i>
                      &nbsp;Donations
                    </a>
                  </li><!-- /donations -->
                </ul><!-- /.tabs -->
              </div><!-- /.card-panel -->
            </div><!-- /.col /tabs -->


            <div class="col s12 l8">
              <div id="details">
                <div class="card-panel">
                  <form method="POST" enctype="multipart/form-data" action="{{ campaign.edit }}">

                    <input type="hidden" id="current_object_json" value="{{ campaign.json }}">
                    <input type="hidden" id="campaign_id" value="{{ campaign.id }}">

                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                    <div class="row">

                      <br>
                      <div class="col s12" id="imageDialogs">
                        {{ input_img_dialog('banner', 'Banner Image',
                                            imgField=form.banner_img,
                                            img=campaign.banner_img) }}
                      </div>

                      {{ input_field(form.title, width='l6 s12') }}

                      {{ input_field(form.goal, width='l6 s12', icon='attach_money') }}

                      {{ input_field(form.start_date, width='l5 s11', icon='today') }}
                      <div class="col s1" style="padding-top: 1em;">
                        <a class="btn-flat modal-trigger grey-text darken-2" href="#start_end_help_modal">
                          <i class="material-icons">help_outline</i>
                        </a>
                      </div><!-- Start/End Date Modal Trigger -->
                      {{ input_field(form.end_date, width='l5 s11', icon='today') }}
                      <div class="col s1" style="padding-top: 1em;">
                        <a class="btn-flat modal-trigger grey-text darken-2" href="#start_end_help_modal">
                          <i class="material-icons">help_outline</i>
                        </a>
                      </div><!-- Start/End Date Modal Trigger -->

                      <div id="start_end_help_modal" class="modal modal-fixed-footer">
                        <div class="modal-content">
                          <h4>
                            Start/End Date Help
                          </h4>
                          <h5>What are the Start and End Dates?</h5>
                          <p>The start and end dates of the campaign are the dates which donors will be able to donate
                            to your campaign. Setting a longer duration between these two dates might be necessary if
                            your campaign goal is high, and gives you time to share and promote your page via social or
                            physical media.</p>

                          <p>We encourage ministries to not set the start date on the same day you create the campaign
                            and campaigns should not be less than 1 month, so that your campaign is easily
                            promotable. </p>
                        </div><!-- /.modal-content -->
                        <div class="modal-footer">
                          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Okay</a>
                        </div>
                      </div><!-- Start/End Date Help Modal -->

                    </div><!-- /details -->

                    <div id="WYSIWYG">
                      <i class="material-icons">subject</i>
                      {{ form.content }}
                    </div><!-- /#WYSIWYG -->

                    {{ tag_selection(form.tags) }}

                    <div id="form_buttons">
                      <button class="btn orange" type="submit">
                        <i class="material-icons">save</i>
                        Save
                      </button>
                    </div><!-- /#form_buttons -->

                  </form>
                </div><!-- /.card-panel -->
              </div><!-- /#details -->

              <div id="posts">
                <div class="card-panel">
                  <br>
                  <a class="btn blue lighten-2" style="margin-bottom: 12px"
                     href="{{ url_for('post:create_post', kwargs={'obj_type': 'campaign', 'obj_id': campaign.id}) }}">
                    <i class="material-icons">add</i>
                    Create Post
                  </a>
                  <div class="row">
                    {% for post in campaign.posts.all() %}
                      {{ post_card(post, auth=True) }}
                    {% else %}
                      <p>There is no news for this campaign at this time.</p>
                    {% endfor %}
                  </div>
                </div>

              </div><!-- /#post -->

              <div id="donations" class="col s12">
                <div class="card-panel">
                  <canvas id="donation-graph"></canvas>
                  {# TODO: total donated #}
                  {# TODO: average donation #}
                  {# TODO: average per week #}
                  {# TODO: average per month #}
                  {# TODO: YTD #}
                  {# TODO: 3-month total #}
                  {# TODO: export as CSV #}

                  {{ transaction_table() }}
                </div><!-- /.card-panel -->
              </div><!-- /#donations -->

            </div><!-- /.l8 -->


          </div><!-- /.row -->
        </section><!-- /.tabs-vertical -->
      </div><!-- /.container -->
    </div><!-- /.col -->
  </div><!-- /.row -->
{% endblock %}


{% block scripts %}
  {# Initialize Input Elements #}
  {{ wysiwyg_script() }}
  {{ campaign_date_input_scripts('.pickadate') }}

  <!-- Chart/Graph Stuff -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript"
          src="https://cdn.datatables.net/v/zf/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/fh-3.1.6/r-2.2.3/sp-1.0.1/datatables.min.js"></script>

  <script src="{{ static('js/donation_statistics.js') }}"></script>
  <script>
    $.getJSON('{{ url_for("campaign:donations_json", kwargs={'campaign_id': campaign.id}) }}').then(function (data) {
        // Draw Graph
        let temp = buildDatasets(data);
        initGraph(temp.labels, temp.datasets);

        // Donation table
        $('#txTable').DataTable({
          data: data,
          ordering: true,
          orderFixed: [1, 'desc'],
          pagingType: 'full_numbers',
          pageLength: 50,
          lengthChange: false,
          fixedHeader: true,
          // TODO: enable Buttons plug-in
          // TODO: enable SearchPane plug-in
          columns: [
            {
              title: "Payment Date", data: "date",
              render: function (data, type, row) {
                if (type === 'display' || type === 'filter') {
                  const d = new Date(data);
                  return d.getMonth() + '/' + d.getDay() + '/' + d.getFullYear();
                } else {
                  return data;
                }
              }
            },
            {
              title: "Amount", data: "amount",
              render: function (data, type, row) {
                return type === 'display' || type === 'filter' ?
                  '$' + data :
                  data;
              }
            },
            {
              title: "User", data: "user",
              render: function (data, type, row) {
                return data.name;
              }
            }
          ]
        })
      }
    )
  </script>

  <!-- tag selection -->
  {{ get_obj_json(campaign) }}
  <script src="{{ static('js/tag_selector.js') }}"></script>
  <script>
    get_obj_json().then(function (obj) {
      const hidden_input = '{{ form.tags.auto_id }}';
      const tags_url = '{{ url_for("tag:tags_json") }}';
      new TagSelector(hidden_input, tags_url, 'tagSelector', obj.tags);
    })
  </script>

  <!-- masonry -->
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

  <!-- Knockout.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
  <script src="{{ static('js/image_selection.js') }}"></script>
  <script>
    const bannerURL = "{{ url_for('campaign:banner_img_json', kwargs={'campaign_id': campaign.id}) }}";

    let bannerSelection = new PreviousImageSelection('selected_banner_img', bannerURL);

    ko.applyBindings(bannerSelection, document.getElementById('banner_img_input'));
  </script>

{% endblock %}


{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">
  <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/searchpanes/1.0.1/css/searchPanes.dataTables.min.css"/>
  <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/zf/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/fh-3.1.6/r-2.2.3/sp-1.0.1/datatables.min.css"/>
{% endblock %}
