{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/campaign/admin_panel.html
#}
{% extends "layout.html" %}

{% from "macros/parts/wysiwyg_editor.html" import wysiwyg_editor, wysiwyg_script %}
{% from "macros/parts/confirm_delete.html" import confirm_delete %}
{% from "macros/parts/tag_selection.html" import tag_selection, tag_selection_script %}
{% from "macros/parts/get_obj_json.html" import get_obj_json %}
{% from "macros/parts/banner_image_dialog.html" import banner_image_dialog %}
{% from "macros/parts/transaction_table.html" import transaction_table %}

{% import "macros/cards.html" as card %}

{% block title %}
  {{ campaign.title }} Edit Page
{% endblock %}

{% block body %}
  <section class="wrapper" ng-app="LON" ng-cloak>
    <!-- campaign/admin_panel.html -->

    <form method="POST" enctype="multipart/form-data" action="{{ campaign.edit }}">
      <input type="hidden" id="current_object_json" value="{{ campaign.json }}">
      <input type="hidden" id="campaign_id" value="{{ campaign.id }}">

      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

      <div class="row">
        <div id="tab_bar" class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a href="#details"><i class="material-icons">info</i>&nbsp;Details</a></li>
            <li class="tab col s3"><a href="#news"><i class="material-icons">dynamic_feed</i>&nbsp;News</a></li>
            <li class="tab col s3"><a href="#donations"><i class="material-icons">monetization_on</i>&nbsp;Donations</a>
            </li>
          </ul>
        </div><!-- /#tab_bar -->

        <div id="details" class="col s12" ng-controller="campaignActionCtrl">
          <div class="row">

            <br>
            <div class="col s12">
              {{ banner_image_dialog() }}
            </div><!-- /banner_img_dialog -->

            <div class="input-field col l6 s12">
              {# TODO: ensure that all ministry titles are unique #}
              {{ form.title.label_tag() }}
              {{ form.title }}
            </div><!-- /title -->

            <div class="input-field col l6 s12">
              <i class="material-icons prefix">attach_money</i>
              {{ form.goal }}
              {{ form.goal.label_tag() }}
            </div><!-- /goal -->

            {# TODO: validate that dates have been entered #}
            <div class="col l6 s12 input-field">
              <i class="material-icons prefix">today</i>
              <input id="start_date" type="text" name="start_date" class="datepicker"
                     value="{{ campaign.start_date.strftime('%m/%d/%Y') }}"
                     required>
              <label for="start_date">{{ form.start_date.label }}</label>
            </div><!-- /start_date -->

            <div class="col l6 s12 input-field">
              <i class="material-icons prefix">today</i>
              <input id="end_date" type="text" name="end_date" class="datepicker"
                     value="{{ campaign.end_date.strftime('%m/%d/%Y') }}"
                     required>
              <label for="end_date">{{ form.end_date.label }}</label>
            </div><!-- /end_date -->

          </div><!-- /details -->

          <div id="WYSIWYG">
            <i class="material-icons">subject</i>
            {{ form.content.label_tag() }}
            {{ wysiwyg_editor(form.content.name, campaign.content) }}
          </div><!-- /#WYSIWYG -->

          <md-input-container layout="column">
            <md-icon><i class="material-icons">class</i></md-icon>
            {{ form.tags.label_tag() }}
            <input type="hidden" name="{{ form.tags.name }}" value="{% raw %}{{ object.tags.join(', ') }}{% endraw %}">
            <md-chips ng-model="object.tags" md-autocomplete-snap
                      md-transform-chip="tag_service.transform_chip($chip)"
                      md-separator-keys="tag_service.separatorKeys">
              <md-autocomplete
                  md-search-text="tagText"
                  md-items="tag in filter_tags(tagText)"
                  md-item-text="tag"
                  md-min-length="1" flex="100">
                <span md-highlight-text="tagText">{% raw %}{{ tag }}{% endraw %}</span>
              </md-autocomplete>
              <md-chip-template>
                    <span>
                      <span>{% raw %}{{ $chip }}{% endraw %}</span>
                    </span>
              </md-chip-template>
            </md-chips>
            <small class="hint">Select from existing tags, or create new ones by entering a comma.</small>
          </md-input-container><!-- /tag-selection -->

          <div id="form_buttons">
            <button class="btn orange" type="submit">
              <i class="material-icons">save</i>
              Save
            </button>

            <br>
            {{ confirm_delete('campaign', campaign.id) }}

          </div><!-- /#form_buttons -->

        </div><!-- /#details -->

        <div id="news" class="col s12">
          <br>
          <a class="btn blue lighten-2" style="margin-bottom: 12px"
             href="{{ url_for('news:create_news', kwargs={'obj_type': 'campaign', 'obj_id': campaign.id}) }}">
            <i class="material-icons">add</i>
            Create News Post
          </a>
          <div class="row">
            {% for news in campaign.news.all() %}
              {{ card.news_card(news, AUTH=True) }}
            {% else %}
              <p>There is no news for this campaign at this time.</p>
            {% endfor %}
          </div>
        </div><!-- /#news -->

        <div id="donations" class="col s12"><!-- /#donations -->

          <h4 class="hide-on-med-and-up">Donations</h4>
          <br>

          <div id="statistics" class="row">
            <canvas id="donation-graph"></canvas>
            <div class="col s12 l3">
              <div class="campaign-goal">
                <div style="width: 100%">
                  Total Goal:
                </div>
                <div class="goal-values">
                  <span>
                    ${{ goals.total.current }}
                  </span>
                  <span>
                    ${{ goals.total.max }}
                  </span>
                </div><!-- /.goal-values -->
                <canvas id="total_goal" width="300" height="150"></canvas>
              </div>
            </div><!-- /total_goal -->
            <div class="col s12 l3">
              <div class="campaign-goal">
                <div style="width: 100%;">
                  Monthly Goal
                </div>
                <div class="goal-values">
                  <span>
                    ${{ goals.monthly.current }}
                  </span>
                  <span>
                    ${{ goals.monthly.max }}
                  </span>
                </div><!-- /.goal-values -->
                <canvas id="monthly_goal"></canvas>
              </div><!-- /.campaign-goal -->
            </div><!-- /monthly_goal -->
          </div><!-- /#statistics -->

          {# TODO: total donated #}
          {# TODO: average per campaign #}
          {# TODO: average per week #}
          {# TODO: average per month #}
          {# TODO: YTD #}
          {# TODO: 3-month total #}
          {# TODO: export as CSV #}

          {{ transaction_table(donations, show_campaign=False) }}

        </div><!-- /#donations -->
      </div>
    </form>

  </section>
{% endblock %}


{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

  {% set page_assets = (
  'app.module.js',
  'app.config.js',
  'services/tag.service.js',
  'services/object.service.js',
  'services/select_image_dialog.service.js',
  'services/confirm_delete_dialog.service.js',
  'campaign/campaign_action.controller.js',
  ) %}
  {% for f in page_assets %}
    <script src="{{ static('app/%s' % f) }}"></script>
  {% endfor %}

  <!-- Goal Elements -->
  <script src="{{ static('js/gauge.min.js') }}"></script>
  <script>
    let opts = {
      angle: 0.35,
      lineWidth: 0.1,
      radiusScale: 0.92,
      limitMax: false,
      limitMin: true,
      highDpiSupport: true,
      colorStart: '#8B0053',
      colorStop: '#89d77c',
      strokeColor: '#EEEEEE',
      generateGradient: true,
      fontSize: 20,
    };

    // total goal
    let target = document.getElementById('total_goal');
    let gauge = new Donut(target).setOptions(opts);
    gauge.maxValue = {{ goals.total.max }};
    gauge.setMinValue(0);
    gauge.animationSpeed = 32;
    gauge.set({{ goals.total.current }});

    // monthly goal
    target = document.getElementById('monthly_goal');
    gauge = new Donut(target).setOptions(opts);
    gauge.maxValue = {{ goals.monthly.max }};
    gauge.setMinValue(0);
    gauge.animationSpeed = 32;
    gauge.set({{ goals.monthly.current }});
  </script><!-- /Gauge Configuration -->

  {{ wysiwyg_script() }}

  <!-- Graphing UI -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

  <script src="{{ static('js/donation_statistics.js') }}"></script>

  <script>
    const donationJsonURL = "{{ request.build_absolute_uri( url_for('campaign:donations_json', kwargs={'campaign_id': campaign.id})) }}";
    const objJsonURL = '{{ request.build_absolute_uri(campaign.json) }}';

    drawGraph(objJsonURL, donationJsonURL);
  </script>

{% endblock %}


{% block css %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">
{% endblock %}
