{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/campaign/edit_campaign.html
#}
{% extends "layout.html" %}

{% from "macros/parts/wysiwyg_editor.html" import wysiwyg_editor %}
{% from "macros/parts/confirm_delete.html" import confirm_delete %}
{% from "macros/parts/tag_selection.html" import tag_selection, tag_selection_script %}
{% from "macros/parts/get_obj_json.html" import get_obj_json %}
{% from "macros/parts/banner_image_dialog.html" import banner_image_dialog %}

{% import "macros/cards.html" as card %}

{% block title %}
  {% if start %}
    New Campaign
  {% else %}
    {{ campaign.title }} Edit Page
  {% endif %}
{% endblock %}

{% block body %}
  <section class="wrapper" ng-app="LON" ng-cloak>
    <!-- edit_campaign.html -->

    {# {{{ Form Header #}
    <form
        {% if start %}
          enctype="multipart/form-data" method="POST"
          action="{{ url_for('campaign:create_campaign', kwargs={"ministry_id": ministry.id}) }}">


        {% else %}

          {#
    <h1>Edit Campaign:</h1>
    #}

          method="POST" enctype="multipart/form-data" action="{{ campaign.edit }}">
          <input type="hidden" id="current_object_json" value="{{ campaign.json }}">
          <input type="hidden" id="campaign_id" value="{{ campaign.id }}">

        {% endif %}

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    {# }}} #}
    <div class="row">
      <div id="tab_bar" class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a href="#details"><i class="material-icons">info</i>&nbsp;Details</a></li>
          <li class="tab col s3"><a href="#news"><i class="material-icons">trending_up</i>&nbsp;News</a></li>
        </ul>
      </div><!-- /#tab_bar -->

      <div id="details" class="col s12" ng-controller="campaignActionCtrl">
        <div class="row">
          <br>
          {% if not start %}
            <div class="col s12">
              {{ banner_image_dialog(campaign.banner_img) }}
            </div>
          {% else %}
            <div class="col s12">
              {{ banner_image_dialog() }}
            </div>
          {% endif %}
          {# {{{ INPUT title #}
          <div class="input-field col l6 s12">
            {# TODO: ensure that all ministry titles are unique #}
            {{ form.title.label_tag() }}
            {{ form.title }}
          </div>
          {# }}} #}
          {# {{{ INPUT goal #}
          <div class="input-field col l6 s12">
            <i class="material-icons prefix">attach_money</i>
            {{ form.goal }}
            {{ form.goal.label_tag() }}
            </div>
          {# }}} #}

            {# {{{ INPUT start_date/end_date #}
          {# TODO: validate that dates have been entered #}
          {# {{{ INPUT start_date #}
          <div class="col l6 s12 input-field">
            <i class="material-icons prefix">today</i>
            <input id="start_date" type="text" name="start_date" class="datepicker"
                   {% if not start %}value="{{ campaign.start_date.strftime('%m/%d/%Y') }}"{% endif %}
                   required>
            <label for="start_date">{{ form.start_date.label }}</label>
          </div>
          {# }}} #}
          {# {{{ INPUT end_date #}
          <div class="col l6 s12 input-field">
            <i class="material-icons prefix">today</i>
            <input id="end_date" type="text" name="end_date" class="datepicker"
                   {% if not start %}value="{{ campaign.start_date.strftime('%m/%d/%Y') }}"{% endif %}
                   required>
            <label for="end_date">{{ form.end_date.label }}</label>
          </div>
          {# }}} #}
            {# }}} #}
        </div>

        {# {{{ INPUT content (WYSIWYG editor) #}
        <div>
          <i class="material-icons">subject</i>
          {{ form.content.label_tag() }}
          {% if start %}
            {{ wysiwyg_editor(form.content.name) }}
          {% else %}
            {{ wysiwyg_editor(form.content.name, campaign.content) }}
          {% endif %}
        </div>
        {# }}} #}

        {# {{{ INPUT tag editor #}
        <md-input-container layout="column">
          <md-icon><i class="material-icons">class</i></md-icon>
          {{ form.tags.label_tag() }}
          <input type="hidden" name="{{ form.tags.name }}" value="{% raw %}{{ object.tags.join(', ') }}{% endraw %}">
          <md-chips ng-model="object.tags" md-autocomplete-snap
                    md-transform-chip="tag_service.transform_chip($chip)"
                    md-separator-keys="tag_service.separatorKeys">
            <md-autocomplete
                md-search-text="tagText"
                md-items="tag in filter_tags(tagText)"
                md-item-text="tag"
                md-min-length="1" flex="100">
              <span md-highlight-text="tagText">{% raw %}{{ tag }}{% endraw %}</span>
            </md-autocomplete>
            <md-chip-template>
                  <span>
                    <span>{% raw %}{{ $chip }}{% endraw %}</span>
                  </span>
            </md-chip-template>
          </md-chips>
          <small class="hint">Select from existing tags, or create new ones by entering a comma.</small>
        </md-input-container>
        {# }}} #}

        {# {{{ Form Buttons #}
        <div id="form_buttons">
          <button class="btn orange" type="submit">
            <i class="material-icons">save</i>
            Save
          </button>

          {% if not start and campaign %}
            <br>
            {{ confirm_delete('campaign', campaign.id) }}
          {% endif %}


        </div><!-- /#form_buttons -->
        {# }}} #}
      </div>

      <div id="news" class="col s12">
        {% if start %}
          <p>Finish your campaign to start posting what God has done already</p>
        {% elif not start %}
          <br>
          <a class="btn"
             href="{{ url_for('news:create_news', kwargs={'obj_type': 'campaign', 'obj_id': campaign.id}) }}">
            <i class="material-icons">add</i>
            Create News Post
          </a>
          {% for news in campaign.news.all() %}
            {{ card.news_card(news, AUTH=True) }}
          {% else %}
            <p>There is no news for this campaign at this time.</p>
          {% endfor %}
        {% endif %}
      </div>

    </div>
    </form>

  </section>
{% endblock %}


{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

  {% set page_assets = (
  'app.module.js',
  'app.config.js',
  'services/tag.service.js',
  'services/object.service.js',
  'services/select_image_dialog.service.js',
  'services/confirm_delete_dialog.service.js',
  'campaign/campaign_action.controller.js',
  ) %}
  {% for f in page_assets %}
    <script src="{{ static('app/%s' % f) }}"></script>
  {% endfor %}

{% endblock %}


{% block css %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
{% endblock %}
