{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/campaign/edit_campaign.html
#}
{% extends "layout.html" %}

{% from "macros/parts/wysiwyg_editor.html" import wysiwyg_editor %}
{% from "macros/parts/confirm_delete.html" import confirm_delete %}
{% from "macros/parts/tag_selection.html" import tag_selection, tag_selection_script %}
{% from "macros/parts/get_obj_json.html" import get_obj_json %}

{% import "macros/cards.html" as card %}

{% block title %}
  {% if start %}
    New Campaign
  {% else %}
    {{ campaign.title }} Edit Page
  {% endif %}
{% endblock %}

{% block body %}
  <section class="wrapper" xmlns="">
    <!-- ministry/campaign_content -->

    {# {{{ Form Header #}
    <form
        {% if start %}
          enctype="multipart/form-data" method="POST"
          action="{{ url_for('campaign:create_campaign', kwargs={"ministry_id": ministry.id}) }}">


        {% else %}

          {#
    <h1>Edit Campaign:</h1>
    #}

          method="POST" enctype="multipart/form-data" action="{{ campaign.edit }}">
          <input type="hidden" id="current_object_json" value="{{ campaign.json }}">

        {% endif %}

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    {# }}} #}
    <div class="row">
      <div id="tab_bar" class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a href="#details"><i class="material-icons">info</i>&nbsp;Details</a></li>
          <li class="tab col s3"><a href="#news"><i class="material-icons">trending_up</i>&nbsp;News</a></li>
        </ul>
      </div><!-- /#tab_bar -->

      <div id="details" class="col s12">
        <div class="row">
          <h4 class="hide-on-med-and-up">
            {% if start %}
              New Campaign
            {% else %}
              {{ campaign.title }}
            {% endif %}
          </h4>
          <br>
          {# {{{ INPUT title #}
          <div class="input-field col l6 s12">
            {# TODO: ensure that all ministry titles are unique #}
            {{ form.title.label_tag() }}
            {{ form.title }}
          </div>
          {# }}} #}
          {# {{{ INPUT goal #}
          <div class="input-field col l6 s12">
            <i class="material-icons prefix">attach_money</i>
            {{ form.goal }}
            {{ form.goal.label_tag() }}
            </div>
          {# }}} #}

            {# {{{ INPUT start_date/end_date #}
          {# TODO: validate that dates have been entered #}
          {# {{{ INPUT start_date #}
          <div class="col l6 s12 input-field">
            <i class="material-icons prefix">today</i>
            <input id="start_date" type="text" name="start_date" class="datepicker"
                   {% if not start %}value="{{ campaign.start_date.strftime('%m/%d/%Y') }}"{% endif %}
                   required>
            <label for="start_date">{{ form.start_date.label }}</label>
          </div>
          {# }}} #}
          {# {{{ INPUT end_date #}
          <div class="col l6 s12 input-field">
            <i class="material-icons prefix">today</i>
            <input id="end_date" type="text" name="end_date" class="datepicker"
                   {% if not start %}value="{{ campaign.start_date.strftime('%m/%d/%Y') }}"{% endif %}
                   required>
            <label for="end_date">{{ form.end_date.label }}</label>
          </div>
          {# }}} #}
            {# }}} #}
        </div>

        {# {{{ INPUT content (WYSIWYG editor) #}
        <div>
          <i class="material-icons">subject</i>
          {{ form.content.label_tag() }}
          {% if start %}
            {{ wysiwyg_editor(form.content.name) }}
          {% elif not start %}
            {{ wysiwyg_editor(form.content.name, campaign.content) }}
          {% endif %}
        </div>
        {# }}} #}

        {# {{{ INPUT tag editor #}
        {{ tag_selection(form) }}
        {# }}} #}

        {# {{{ Form Buttons #}
        <div id="form_buttons">
          <button class="btn orange" type="submit">
            <i class="material-icons">save</i>
            Save
          </button>

          {% if not start and campaign %}
            <br>
            {{ confirm_delete('campaign', campaign.id) }}
          {% endif %}


        </div><!-- /#form_buttons -->
        {# }}} #}
      </div>

      <div id="news" class="col s12">
        {% if start %}
          <p>Finish your campaign to start posting what God has done already</p>
        {% elif not start %}
          <br>
          <a class="btn"
             href="{{ url_for('news:create_news', kwargs={'obj_type': 'campaign', 'obj_id': campaign.id}) }}">
            <i class="material-icons">add</i>
            Create News Post
          </a>
          {% for news in campaign.news.all() %}
            {{ card.news_card(news, AUTH=True) }}
          {% else %}
            <p>There is no news for this campaign at this time.</p>
          {% endfor %}
        {% endif %}
      </div>

    </div>
    </form>

  </section>
{% endblock %}

{% block scripts %}
  {{ get_obj_json(campaign) }}
  {{ tag_selection_script(campaign) }}

  <script>
    /**
     * This wraps up the functions that are defined above
     * @returns {Promise<void>}
     */
    async function activate() {
      const obj = await get_obj_json();
      await initTagInput(obj);
    }

    activate();
  </script>
{% endblock %}
