{% extends "layout.html" %}

{% from "campaign/campaign_card.html" import campaign_card %}
{% from "ministry/ministry_card.html" import ministry_card %}


{# set the active page on the sidebar #}
{% set active = url_for('campaign:home') %}


{% block title %}Campaigns{% endblock %}


{% block body %}
    <div class="wrapper section">

        <h3>Upcoming</h3>
      {% if upcoming_campaigns %}
        <h6 class="ml-1 mb-3">Be sure to find out more and share about these upcoming campaigns!</h6>
        <div class="row">
          {% for campaign in upcoming_campaigns %}
            {{ campaign_card(campaign, request=request) }}
          {% endfor %}
        </div>
      {% else %}
        <h6 class="grey-text text-darken-2 mt-2 ml-1">There don't seem to be any upcoming campaigns at the moment</h6>
      {% endif %}

      <h3>Ongoing</h3>
      {% if ongoing_campaigns %}
        <h6 class="ml-1 mb-3">Check out these campaigns that have already started on LON!</h6>
        <div class="row">
          {% for campaign in ongoing_campaigns %}
            {{ campaign_card(campaign, request=request) }}
          {% endfor %}
        </div>
      {% else %}
        <h6 class="grey-text text-darken-2 mt-2 ml-1">There don't seem to be any ongoing at the moment</h6>
      {% endif %}

      {% if new_campaigns %}
        <h4 class="mt-6">Also check these out</h4>
      {% else %}
        <h4 class="mt-6">But check these out</h4>
      {% endif %}

      <h6 class="grey-text text-darken-2 mb-2 mt-2">Be sure to find out who these ministries are!</h6>
      <div class="row">
        {% for ministry in other_ministries %}
          {{ ministry_card(ministry, request=request) }}
        {% endfor %}
      </div>

    </div><!-- /.wrapper .section -->
{% endblock %}


{% block scripts %}
  <!-- init dynamic card functionality -->
  <script src="{{ static('js/mini-gallery-init.js') }}"></script>

  <!-- masonry -->
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script>
    // this initializes all masonry objects on the page
    $('.grid').masonry({
      itemSelector: '.grid-item',
    });
  </script>
{% endblock %}
