{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/campaign/edit_campaign.html
#}
{% extends "layout.html" %}

{% from "macros/parts/wysiwyg_editor.html" import wysiwyg_editor %}
{% from "macros/parts/confirm_delete.html" import confirm_delete %}
{% from "macros/parts/tag_selection.html" import tag_selection, tag_selection_script %}
{% from "macros/parts/get_obj_json.html" import get_obj_json %}
{% from "macros/parts/banner_image_dialog.html" import banner_image_dialog %}
{% from "macros/parts/transaction_table.html" import transaction_table %}

{% import "macros/cards.html" as card %}

{% block title %}
  New Campaign
{% endblock %}

{% block body %}
  <section class="wrapper" ng-app="LON" ng-cloak>
    <!-- edit_campaign.html -->

    <h4>New Campaign</h4>

    <form enctype="multipart/form-data" method="POST"
          action="{{ url_for('campaign:create_campaign', kwargs={"ministry_id": ministry.id}) }}">

      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

      <div id="details" ng-controller="campaignActionCtrl">
        <div class="row">

          <br>
          <div class="col s12">
            {{ banner_image_dialog() }}
          </div>

          <div class="input-field col l6 s12">
            {# TODO: ensure that all ministry titles are unique #}
            {{ form.title.label_tag() }}
            {{ form.title }}
          </div>

          <div class="input-field col l6 s12">
            <i class="material-icons prefix">attach_money</i>
            {{ form.goal }}
            {{ form.goal.label_tag() }}
          </div>

          {# TODO: validate that dates have been entered #}
          <div class="col l6 s12 input-field">
            <i class="material-icons prefix">today</i>
            <input id="start_date" type="text" name="start_date" class="datepicker" required>
            <label for="start_date">{{ form.start_date.label }}</label>
          </div>

          <div class="col l6 s12 input-field">
            <i class="material-icons prefix">today</i>
            <input id="end_date" type="text" name="end_date" class="datepicker" required>
            <label for="end_date">{{ form.end_date.label }}</label>
          </div>

        </div><!-- /details -->

        <div id="WYSIWYG">
          <i class="material-icons">subject</i>
          {{ form.content.label_tag() }}
          {{ wysiwyg_editor(form.content.name) }}
        </div><!-- /#WYSIWYG -->

        <md-input-container layout="column">
          <md-icon><i class="material-icons">class</i></md-icon>
          {{ form.tags.label_tag() }}
          <input type="hidden" name="{{ form.tags.name }}" value="{% raw %}{{ object.tags.join(', ') }}{% endraw %}">
          <md-chips ng-model="object.tags" md-autocomplete-snap
                    md-transform-chip="tag_service.transform_chip($chip)"
                    md-separator-keys="tag_service.separatorKeys">
            <md-autocomplete
                md-search-text="tagText"
                md-items="tag in filter_tags(tagText)"
                md-item-text="tag"
                md-min-length="1" flex="100">
              <span md-highlight-text="tagText">{% raw %}{{ tag }}{% endraw %}</span>
            </md-autocomplete>
            <md-chip-template>
                  <span>
                    <span>{% raw %}{{ $chip }}{% endraw %}</span>
                  </span>
            </md-chip-template>
          </md-chips>
          <small class="hint">Select from existing tags, or create new ones by entering a comma.</small>
        </md-input-container><!-- /tag-selection -->

        <div id="form_buttons">
          <button class="btn orange" type="submit">
            <i class="material-icons">save</i>
            Save
          </button>
        </div><!-- /#form_buttons -->
      </div><!-- /#details -->

    </form>

  </section>
{% endblock %}


{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

  {% set page_assets = (
  'app.module.js',
  'app.config.js',
  'services/tag.service.js',
  'services/object.service.js',
  'services/select_image_dialog.service.js',
  'services/confirm_delete_dialog.service.js',
  'campaign/campaign_action.controller.js',
  ) %}
  {% for f in page_assets %}
    <script src="{{ static('app/%s' % f) }}"></script>
  {% endfor %}
{% endblock %}


{% block css %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
{% endblock %}
