{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/campaign/view_campaign.html
#}
{% extends "layout.html" %}

{% from "macros/layout/misc_layout.html" import section_start, section_close %}

{% from "macros/parts/comments_section.html" import comments_section %}
{% from "macros/parts/gallery.html" import gallery %}
{% from "macros/parts/like_button.html" import like_button %}
{% from "macros/parts/tag_chips.html" import tag_chips %}
{% from "macros/parts/confirm_delete.html" import confirm_delete %}
{% from "macros/parts/donate_button.html" import donate_button %}

{% import "cards.html" as card %}

{% set AUTH = request.user == cam.ministry.admin or request.user in cam.ministry.reps.all() %}


{% block title %}{{ cam.title }} by {{ cam.ministry.name }}{% endblock %}


{% block metadata %}
  <meta property="og:type" content="article"/>
  {% if cam.banner_img %}
    <meta property="og:image" content="https://loveourneighbor.org{{ cam.banner_img.url }}">{% endif %}
  <meta property="og:url" content="https://loveourneighbor.org/{{ cam.url }}">
  <meta property="og:title" content="{{ cam.title }} on Love Our Neighbor">
  <meta property="og:article:published_time" content="{{ cam.pub_date.strftime('%Y-%m-%d') }}">
  <meta property="og:article:modified_time" content="{{ cam.start_date.strftime('%Y-%m-%d') }}">
  <meta property="og:article:expiration_time" content="{{ cam.end_date.strftime('%Y-%m-%d') }}">
  <meta property="og:article:section" content="Fundraiser">
  {% for tag in cam.tags.all() %}
    <meta property="og:article:tag" content="{{ tag }}">
  {% endfor %}
  {# TODO: figure out how to implement author/profile #}
{% endblock %}


{% block body %}
  <!-- view_campaign.html -->
  <input type="hidden" id="current_object_json" value="{{ cam.json }}">
  <input type="hidden" id="campaign_id" value="{{ cam.id }}">
  {% if AUTH == None %}
    {% set AUTH = request.user == cam.ministry.admin or request.user in cam.ministry.reps.all() %}
  {% endif %}

  {# {{{ Top Section Overlay #}
  {% if cam.banner_img %}
    <div class="parallax-container" style='height: 250px;'>
      <div class="parallax" style="z-index: 500;">
        <img src="{{ cam.banner_img.url }}" alt="">
      </div>
    </div>
  {% endif %}
  {# }}} #}

  <div id="campaignView" class="section">
    <div class="row">

      <div id="campaignInfo" class="col s12 m4 l3"
           style="position: relative;">
        <div class="row">
          <div class="col s12 center-align">

            {{ like_button("likeButton", request) }}

            <br>

            {{ donate_button(cam) }}

          </div>
        </div><!-- profile image area -->

        <div class="row mt-5">
          <div class="col s6">
            <h6>Views</h6>
            <h5>{{ cam.views }}</h5>
          </div>
          <div class="col s6">
            <h6>Likes</h6>
            <h5>{{ cam.likes.count() }}</h5>
          </div>
        </div><!-- /views & likes -->

        <hr class="grey-text text-lighten-2">

        <div class="row mt-5">
          <div class="col s6">
            <h6>
              {% if today() <= cam.start_date %}
                Begins:
              {% else %}
                Began:
              {% endif %}
            </h6>
            <h5>
              {{ cam.start_date.strftime("%h %d, %Y") }}&nbsp;
            </h5>
          </div>
          <div class="col s6">
            <h6>
              {% if today() >= cam.end_date %}
                Ended:
              {% else %}
                Ends:
              {% endif %}
            </h6>
            <h5>
              {{ cam.end_date.strftime("%h %d, %Y") }}&nbsp;
            </h5>
          </div>
        </div><!-- /start stop dates -->

        <hr class="grey-text text-lighten-2">

        {% if today() >= cam.start_date %}
          <div class="row">
            <div class="col s12">
              <h6>Number of Donors</h6>
              <h5>{{ cam.donations.count() }}</h5>
            </div>
          </div><!-- /donation count -->

          <hr class="grey-text text-lighten-2">
        {% endif %}

        {% if cam.has_tags %}
          <div class="row">
            <div class="col s12">
              <h6>Tags</h6>
              {{ tag_chips(cam) }}
            </div>
          </div>
          <hr class="grey-text text-lighten-2">
        {% endif %}


        <div class="row">
          <div class="col s12">
            <h6>Parent Ministry</h6>
            <a href="{{ cam.ministry.url }}">{{ cam.ministry.name }}</a><br>
          </div>
        </div><!-- /website -->

      </div><!-- /#campaignInfo -->

      <div id="campaignFeed" class="col s12 m8 l6">
        <div class="card z-depth-0" style="{% if cam.banner_img %}margin-top: -1em;{% endif %}">
          <div class="card-content">

            <div class="row">
              <div class="col s12">
                <h5 style="font-size: xx-large">{{ cam.title }}</h5>
              </div>
            </div><!-- /campaign name -->

            <div class="row">
              <div class="col s12">
                <ul class="tabs mt-4">
                  <li class="tab col s4 p-0">
                    <a href="#content">
                      <i class="material-icons">description</i>
                      <span class="hide-on-med-and-down">&nbsp;Description</span>
                    </a>
                  </li>
                  <li class="tab col s4 p-0">
                    <a href="#news">
                      <i class="material-icons">list_alt</i>
                      <span class="hide-on-med-and-down">&nbsp;News</span>
                    </a>
                  </li>
                  <li class="tab col s4 p-0">
                    <a href="#gallery">
                      <i class="material-icons">photo_album</i>
                      <span class="hide-on-med-and-down">&nbsp;Gallery</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div><!-- /tabs -->

            <div id="content" class="row">
              <div class="col s12">
                <h5 class="show-on-medium-and-down hide-on-large-only hide-on-extra-large-only">Info</h5>
                <div class="padding-4">
                  {{ cam.content|safe }}
                </div>
              </div>
            </div><!-- /#content -->

            <div id="news" class="row">
              <div class="col s12">
                <h5 class="show-on-medium-and-down hide-on-large-only hide-on-extra-large-only">News</h5>
                {% for n in all_news %}
                  {{ card.news_card(n, AUTH, wide=True) }}
                {% else %}
                  <p>There are no news posts to show at this time.</p>
                {% endfor %}
              </div>
            </div><!-- /#news -->

            <div id="gallery" class="row">
              <div class="col s12">
                <h5 class="show-on-medium-and-down hide-on-large-only hide-on-extra-large-only">Gallery</h5>
                {{ gallery(images) }}
              </div>
            </div><!-- /#gallery -->

          </div><!-- /.card-content -->
        </div><!-- /.card -->
      </div><!-- /#campaignFeed -->

      <div id="campaignExtra" class="col s12 m12 l3 hide-on-med-and-down">

      </div>

    </div><!-- /.row -->
  </div><!-- /#campaignView -->
{% endblock %}


{% block scripts %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>

  <script src="{{ static('js/like_button.js' % f) }}"></script>

  <script type="text/javascript">
    const jsonURL = "{{ url_for('campaign:campaign_json', kwargs={'campaign_id': cam.id}) }}";
    const likeURL = "{{ url_for('campaign:like_campaign', kwargs={'campaign_id': cam.id}) }}";
    let ministry = {};

    $.getJSON(jsonURL, function (data) {
      likeButton.liked(data['liked']);
    });

    let likeButton = new likeButtonViewModel(likeURL);
    ko.applyBindings(likeButton, document.getElementById('likeButton'));
  </script>

{% endblock %}


{% block css %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
{% endblock %}
