/** Body Styling **/
body {
  /**color: rgba(0,0,0,0.60);*/
  background-color: #f2f4f8;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

main {
  flex: 1 0 auto;
}

strong {
  font-weight: 600 !important;
  font-style: oblique;
}

.wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (max-width: 1080px) {
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.page-container {
  color: rgba(0, 0, 0, 0.60) !important;
}


/** first.html content styling **/
#welcomeBanner img {
  margin-top: 1em;
}


/** feed styling **/
#feed .row .col {
  padding: 0 .5em;
}


/** content/description area for ministry/campaign **/
.wysiwyg-content h1, .wysiwyg-content h2, .wysiwyg-content h3 {
  /** neutralize big headers **/
  font-size: 2.28rem;
  margin: 1.14rem 0 0.912rem;
}

.wysiwyg-content p + p {
  margin-top: 1em !important;
}

.wysiwyg-content ul,
.wysiwyg-content ol {
  padding-left: 40px;
}

.wysiwyg-content ul li {
  list-style-type: circle;
}


/** Section **/
.section, section {
  padding-top: 20px;
  padding-bottom: 40px;
}

#News:last-child {
  border-bottom: solid 1px #FF7100;
}

a {
  color: #8e24aa;
}

.donation-progress {
  height: 50px;
  border-radius: 5px;
  background-color: #FBFBFB;
  border: solid 1px #777;
  max-width: 100%;
}

.donation-progress .current {
  content: "";
  line-height: 48px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 3px;
  max-width: 100%;
}

.donation-progress .remaining {
  display: inline-block;
  line-height: 50px;
  text-align: center;
  max-width: 96%;
}


div.tags ~ p.hint {
  font-size: 12px;
  line-height: 14px;
  color: dimgrey;
  margin-bottom: 24px;
}

#content {
  min-height: 90%;
}


.dropdown-content {
  min-width: 4em;
}

.dropdown-content li > a {
  text-decoration: none;
  color: #242424dd;
}


td a {
  color: #ef6c00;
}


input, textarea {
  color: rgba(0, 0, 0, 0.87) !important;
}

.input-field > .hint {
  color: dimgray;
  font-size: 12px;
}

/* Profile Image Dialog Trigger */
div.dialog-trigger div {
  position: absolute;
  height: 120px;
  width: 120px;
  transition: background-color 120ms ease-in;
  border: 1px solid rgba(200, 200, 200, 0.8);
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

div.dialog-trigger div:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

div.dialog-trigger div i {
  background-color: rgba(200, 200, 200, 0.2);
  border-bottom-right-radius: 5px;
  padding: 4px;
  color: rgba(200, 200, 200, 0.8);
}

div.dialog-trigger img {
  height: 120px;
  width: 120px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
}


/* Gallery Styles */
.gallery-tile .tile-caption {
  position: relative;
  bottom: 2.4em;
  height: 2.4em;
  width: 100%;
  padding: 8px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}


/* Campaign Goal Gauge styling */
.campaign-goal {
  position: relative;
  align-content: center;
  width: 300px;
}

.goal-values {
  position: absolute;
  top: 80px;
  display: inline;
  align-content: center;
  width: 100%;
  font-size: small;
  font-weight: lighter;
}

.goal-values span {
  display: block;
  left: 0;
  right: 0;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.goal-values span:first-child {
  max-width: 6em;
  border-bottom: black solid 1px;
}


/* Ministry Page styling */
.sm-links {
  text-align: center;
}


/* Card Styling */
.card .card-title {
  font-size: 24px !important;
}

.mini-gallery .col {
  padding: 0 !important;
}

.mini-gallery .tile {
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0.25rem;
  overflow: hidden;
  background-size: cover;
  -moz-background-size: cover;
  display: block;
  height: 200px;
  color: #777 !important;
}

.mini-gallery .show-more {
  display: block;
  padding: 0;
}


/* Profile Page Styling */
/* This was used from the material admin theme "account_settings.css" */
.tabs-vertical {
  /* tabs*/
  /* hide default indicator*/
  /*input file hide */
}

.tabs-vertical .media-body {
  padding: 0 25px;
  /*media body in general tab*/

  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.tabs-vertical .tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  height: auto;

  border-radius: 4px;
  background-color: transparent;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.tabs-vertical .tabs .tab {
  /* tab inside tabs*/
  width: 100%;

  text-align: start;
}

.tabs-vertical .tabs .tab a {
  -webkit-transition: none !important;
  transition: none !important;

  color: #6b6f82;
}

.tabs-vertical .tabs .tab a:hover {
  color: #6b6f82 !important;
}

.tabs-vertical .tabs .tab a.active {
  color: #e91e63 !important;
  border-radius: 4px;
  background-color: #fce4ec !important;
}

.tabs-vertical .tabs .tab a.active:hover {
  color: #ff4081 !important;
}

.tabs-vertical .tabs .tab a i {
  /* icons */
  position: relative;
  top: 7px;

  margin-right: .2rem;
}

.tabs-vertical .tabs .tab:hover {
  background-color: #eee;
}

.tabs-vertical .indicator {
  display: none;
}

.tabs-vertical .upfilewrapper {
  overflow: hidden;

  width: 0;
  height: 0;
}

@media (max-width: 600px) {
  /* all submit and cancel button alignment change*/
  .media-body .general-action-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }

  .media-body .general-action-btn .btn {
    margin-bottom: 1rem;
  }

  .form-action {
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }

  .form-action .btn {
    margin-bottom: 1rem;
  }
}

/* Payment Error Styling */
.payment_done {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
  background: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* vim:foldmethod=syntax shiftwidth=2 tabstop=2:
 */
