/** Body Styling **/
body {
  /**color: rgba(0,0,0,0.60);*/
  background-color: #f2f4f8;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

main {
  flex: 1 0 auto;
}

strong {
  font-weight: 600 !important;
  font-style: oblique;
}

.wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (max-width: 1080px) {
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.page-container {
  color: rgba(0, 0, 0, 0.60) !important;
}


/** Section **/
.section, section {
  padding-top: 20px;
  padding-bottom: 40px;
}

#News:last-child {
  border-bottom: solid 1px #FF7100;
}

.donation-progress {
  height: 50px;
  border-radius: 5px;
  background-color: #FBFBFB;
  border: solid 1px #777;
}

.donation-progress .current {
  content: "";
  line-height: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: inline-block;
}

.donation-progress .remaining {
  display: inline-block;
  line-height: 50px;
  text-align: center;
  max-width: 96%;
}


div.tags ~ p.hint {
  font-size: 12px;
  line-height: 14px;
  color: dimgrey;
  margin-bottom: 24px;
}

.md-item-text.compact {
  padding-top: 8px;
  padding-bottom: 8px;
}

.contact-item {
  box-sizing: border-box;
}

.contact-item .md-list-item-text {
  padding: 14px 0;
  max-width: 190px;
}

.contact-item .md-list-item-text h3 {
  margin: 0 !important;
  padding: 0;
  line-height: 1.2em !important;
}

.contact-item .md-list-item-text h3,
.contact-item .md-list-item-text p {
  text-overflow: ellipsis;
  white-space: nowrap;
  /**  overflow: hidden;*/
}

#content {
  min-height: 90%;
}

md-content.rep_requests {
  min-width: 400px;
}

md-content.rep_requests input {
  min-width: 400px;
}

md-list.available_contacts {
  height: 250px;
  overflow: hidden;
}

@media (min-width: 960px) {
  .contact-item {
    float: left;
    width: 33%;
  }
}


.dropdown-content {
  min-width: 4em;
}

.dropdown-content li > a {
  text-decoration: none;
  color: #242424dd;
}


td a {
  color: #ef6c00;
}


input, textarea {
  color: rgba(0, 0, 0, 0.87) !important;
}

.input-field > .hint {
  color: dimgray;
  font-size: 12px;
}

/* Profile Image Dialog Trigger */
div.dialog-trigger div {
  position: absolute;
  height: 120px;
  width: 120px;
  transition: background-color 120ms ease-in;
  border: 1px solid rgba(200, 200, 200, 0.8);
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

div.dialog-trigger div:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

div.dialog-trigger div i {
  background-color: rgba(200, 200, 200, 0.2);
  border-bottom-right-radius: 5px;
  padding: 4px;
  color: rgba(200, 200, 200, 0.8);
}

div.dialog-trigger img {
  height: 120px;
  width: 120px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
}


/* Gallery Styles */
.gallery-tile .tile-caption {
  position: relative;
  bottom: 2.4em;
  height: 2.4em;
  width: 100%;
  padding: 8px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}


/* Campaign Goal Gauge styling */
.campaign-goal {
  position: relative;
  align-content: center;
  width: 300px;
}

.goal-values {
  position: absolute;
  top: 80px;
  display: inline;
  align-content: center;
  width: 100%;
  font-size: small;
  font-weight: lighter;
}

.goal-values span {
  display: block;
  left: 0;
  right: 0;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.goal-values span:first-child {
  max-width: 6em;
  border-bottom: black solid 1px;
}


/* Ministry Page styling */
.sm-links {
  text-align: center;
}


/* Homepage Styling */
.card .card-title {
  font-size: 24px !important;
}


/* Profile Page Styling */
/* This was used from the material admin theme "account_settings.css" */
.tabs-vertical {
  /* tabs*/
  /* hide default indicator*/
  /*input file hide */
}

.tabs-vertical .media-body {
  padding: 0 25px;
  /*media body in general tab*/

  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.tabs-vertical .tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  height: auto;

  border-radius: 4px;
  background-color: transparent;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.tabs-vertical .tabs .tab {
  /* tab inside tabs*/
  width: 100%;

  text-align: start;
}

.tabs-vertical .tabs .tab a {
  -webkit-transition: none !important;
  transition: none !important;

  color: #6b6f82;
}

.tabs-vertical .tabs .tab a:hover {
  color: #6b6f82 !important;
}

.tabs-vertical .tabs .tab a.active {
  color: #e91e63 !important;
  border-radius: 4px;
  background-color: #fce4ec !important;
}

.tabs-vertical .tabs .tab a.active:hover {
  color: #ff4081 !important;
}

.tabs-vertical .tabs .tab a i {
  /* icons */
  position: relative;
  top: 7px;

  margin-right: .2rem;
}

.tabs-vertical .tabs .tab:hover {
  background-color: #eee;
}

.tabs-vertical .indicator {
  display: none;
}

.tabs-vertical .upfilewrapper {
  overflow: hidden;

  width: 0;
  height: 0;
}

@media (max-width: 600px) {
  /* all submit and cancel button alignment change*/
  .media-body .general-action-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }

  .media-body .general-action-btn .btn {
    margin-bottom: 1rem;
  }

  .form-action {
    flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }

  .form-action .btn {
    margin-bottom: 1rem;
  }
}


/* Payment Error Styling */
.payment_done {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
  background: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


/* Styling for pickadate.js input */
.picker {
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  color: #000;
  position: absolute;
  z-index: 10000
}

.picker__input.picker__input--active {
  border-color: #0089ec
}

.picker__holder {
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch
}

.picker {
  width: 100%
}

.picker__holder {
  position: absolute;
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 176px;
  max-width: 466px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  max-height: 0;
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -webkit-transition: all .15s ease-out, max-height 0 .15s;
  -moz-transition: all .15s ease-out, max-height 0 .15s;
  transition: all .15s ease-out, max-height 0 .15s
}

.picker--opened .picker__holder {
  max-height: 25em;
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
  -webkit-transition: all .15s ease-out, max-height 0;
  -moz-transition: all .15s ease-out, max-height 0;
  transition: all .15s ease-out, max-height 0;
  -webkit-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, .12);
  -moz-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, .12);
  box-shadow: 0 6px 18px 1px rgba(0, 0, 0, .12)
}


.picker__box {
  padding: 0 1em
}

.picker__header {
  text-align: center;
  position: relative;
  margin-top: .75em
}

.picker__month, .picker__year {
  font-weight: 500;
  display: inline-block;
  margin-left: .25em;
  margin-right: .25em
}

.picker__year {
  color: #999;
  font-size: .8em;
  font-style: italic
}

.picker__select--month, .picker__select--year {
  font-size: .8em;
  border: 1px solid #b7b7b7;
  height: 2.5em;
  padding: .66em .25em;
  margin-left: .25em;
  margin-right: .25em;
  margin-top: -.5em
}

.picker__select--month {
  width: 35%
}

.picker__select--year {
  width: 22.5%
}

.picker__select--month:focus, .picker__select--year:focus {
  border-color: #0089ec
}

.picker__nav--prev, .picker__nav--next {
  position: absolute;
  top: -.33em;
  padding: .5em 1.33em;
  width: 1em;
  /* height: 1em; */
}

.picker__nav--prev {
  left: -1em;
  padding-right: 1.5em
}

.picker__nav--next {
  right: -1em;
  padding-left: 1.5em
}

.picker__nav--prev:before, .picker__nav--next:before {
  content: " ";
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-right: .75em solid #000;
  width: 0;
  height: 0;
  display: block;
  margin: 0 auto
}

.picker__nav--next:before {
  border-right: 0;
  border-left: .75em solid #000
}

.picker__nav--prev:hover, .picker__nav--next:hover {
  cursor: pointer;
  color: #000;
  background: #b1dcfb
}

.picker__nav--disabled, .picker__nav--disabled:hover, .picker__nav--disabled:before, .picker__nav--disabled:before:hover {
  cursor: default;
  background: 0;
  border-right-color: whitesmoke;
  border-left-color: whitesmoke
}

.picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
  margin-top: .75em;
  margin-bottom: .5em
}

@media (min-height: 26.5em) {
  .picker__table {
    margin-bottom: .75em
  }
}

.picker__table td {
  margin: 0;
  padding: 0
}

.picker__weekday {
  width: 14.285714286%;
  font-size: .75em;
  padding-bottom: .25em;
  color: #999;
  font-weight: 500
}

@media (min-height: 26.5em) {
  .picker__weekday {
    padding-bottom: .5em
  }
}

.picker__day {
  padding: .3125em 0;
  font-weight: 200;
  border: 1px solid transparent
}

.picker__day--today {
  color: #0089ec;
  position: relative
}

.picker__day--today:before {
  content: " ";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 0;
  height: 0;
  border-top: .5em solid #0059bc;
  border-left: .5em solid transparent
}

.picker__day--selected, .picker__day--selected:hover {
  border-color: #0089ec
}

.picker__day--highlighted {
  background: #b1dcfb
}

.picker__day--disabled:before {
  border-top-color: #aaa
}

.picker__day--outfocus {
  color: #ddd;
  -ms-filter: "alpha(Opacity=66)";
  filter: alpha(opacity=66);
  -moz-opacity: .66;
  opacity: .66
}

.picker__day--infocus:hover, .picker__day--outfocus:hover {
  cursor: pointer;
  color: #000;
  background: #b1dcfb
}

.picker__day--highlighted:hover, .picker--focused .picker__day--highlighted {
  background: #0089ec;
  color: #fff
}

.picker__day--disabled, .picker__day--disabled:hover {
  background: whitesmoke;
  border-color: whitesmoke;
  color: #ddd;
  cursor: default
}

.picker__footer {
  text-align: center
}

.picker__button--today, .picker__button--clear {
  border: 1px solid #fff;
  background: #fff;
  font-size: .8em;
  padding: .66em 0;
  font-weight: 700;
  width: 50%;
  display: inline-block;
  vertical-align: bottom
}

.picker__button--today:hover, .picker__button--clear:hover {
  cursor: pointer;
  color: #000;
  background: #b1dcfb;
  border-bottom-color: #b1dcfb
}

.picker__button--today:focus, .picker__button--clear:focus {
  background: #b1dcfb;
  border-color: #0089ec;
  outline: 0
}

.picker__button--today:before, .picker__button--clear:before {
  position: relative;
  display: inline-block;
  height: 0
}

.picker__button--today:before {
  content: " ";
  margin-right: .45em;
  top: -.05em;
  width: 0;
  border-top: .66em solid #0059bc;
  border-left: .66em solid transparent
}

.picker__button--clear:before {
  content: "\D7";
  margin-right: .35em;
  top: -.1em;
  color: #e20;
  vertical-align: top;
  font-size: 1.1em
}


/* vim:foldmethod=syntax shiftwidth=2 tabstop=2:
 */
