/** Footer Styling **/
footer {
  background-color: #8B0053 !important;
}

.page-footer {
  padding: 20px;
  position: relative;
  bottom: 0;

  font-size: 12px;
  text-align: right;
  color: #EEE;
}
@media screen and (min-width: 850px) {
  .page-footer {
    width: 80%;
    margin: auto;
  }
}

footer.page-footer .footer-top:first-child {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
}
footer #sitemap ul {
  font-size: 14px;
  text-align: left !important;

  list-style-type: circle !important;
  color: #EEE !important;
}
footer #sitemap ul li {
  margin-bottom: 5px;
}

.social-media-links {
  position: absolute;
  right: 0;
}
.social-media-links a {
  height: 50px;
  width: 50px;
  padding: 5px 5px;
  margin-bottom: 15px;
}
.social-media-links a img {
  height: 40px;
  width: 40px;
}


/* vim:foldmethod=syntax shiftwidth=2 tabstop=2:
 */
