/** Header Styling **/
header {
  position: fixed;
  z-index: 500;
  background-color: #8B0053 !important;
  width: 100%;
  border-bottom: solid 1px #FF7100;
}

nav a.md-unselected {
    color: #EEE !important;
}

.brand-logo.center {
  left: auto !important;
  margin-top: auto;
  margin-bottom: auto;
  padding: 2px;

  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: #eee;
  height: 100%;

}

.brand-logo #logo {
  height: 100%;
}
.brand-logo #brand-text {
  height: 1em;
  margin-top: auto;
  margin-bottom: .7em;
}

.title-shadow-orange {
  text-shadow: 0 3px 7px #FF7100;
  text-shadow: 3px 0 7px #FF7100;
}

.profile-area {
  float: right;
  margin: auto 15px auto 0;
  border: solid 1px #FF7100;
  padding: 2px 16px;
  border-radius: 30px;
  background-color: rgba(255,255,255,0.2);
}
.profile-area .uname {
  font-size: 22px;
  margin: auto 10px auto auto;
  text-decoration: none;
}
.profile-area .login {
  font-size: 18px;
}
.profile-area .logout {
  font-size: 14px;
  margin: auto;
}
.profile-img {
  border-radius: 20px;
  height: 1.5em;
  padding: 0px;
}


#sidenav {
  z-index: 250;
  color: #8B0053;
}
#sidenav a {
  color: #8B0053;
}
#sidenav .top {
  background-color: #CCC;
  border-radius: 30px;
}
#sidenav .profile-area {
  color: #FF7100;
  border: none;
  background-color: transparent;
  float: left;
  margin: 0 6px;
  padding: 0;
}
#sidenav .profile-area a {
  color: #FF7100;
}
@media screen and (max-width: 450px) {
  #sidenav .profile-area {
    margin-left: -20px;
  }
  #sidenav .profile-area .uname {
    font-size: .75em;
  }
}

.search-bar {
  margin: auto 0 auto auto;
}
.search-bar form {
  margin: auto 0;
  overflow: hidden;
}
.search-bar form input {
  background-color: transparent;
  padding: 2px;
  border: none;
  border-bottom: solid 1px #EEE;
  color: #EEE;
}

.search-bar form input:focus {
  background-color: rgba(255,255,255,0.2);
  outline: none;
}
.search-bar form ::placeholder {
  color: #EEE !important;
}


#notificationArea {
  width: 100%;
  position: fixed;
  z-index: 500;
}
@media screen and (max-width: 959px) {
  #notificationArea {
    bottom: 0;
  }
}


/* vim:foldmethod=syntax shiftwidth=2 tabstop=2:
 */
