/** Header Styling **/
.brand-logo {
  display: inline-block;
}

.brand-logo.center {
  left: auto !important;
  margin-top: auto;
  margin-bottom: auto;
  padding: 2px;

  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: #eee;
  height: 100%;

  transform: none !important;
}
.brand-logo #logo {
  height: 60%;
}

@media screen and (max-width: 600px) {
  .brand-logo #logo {
    height: 80%;
    vertical-align: middle;
    margin-bottom: .7em;
  }
}
.brand-logo #brand-text {
  height: 1em;
  margin-top: auto;
  margin-bottom: .7em;
}

.uname {
  font-size: 22px;
  text-decoration: none;
  color: white !important;
  font-weight: 400;
}
.profile-img {
  margin: 8px 16px 8px -4px;
  border-radius: 50%;
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  flex: none;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
}
.user-widget {
  height: 100%;
}

.user-widget .dropdown-trigger > i {
  display: inline;
}

.user-widget .dropdown-trigger {
  height: 100%;
}

.user-widget .dropdown-trigger {
  margin-left: auto;
  width: fit-content;
}

.user-widget .dropdown-trigger .profile-img {
  float: left;
}
#navbar-menu {
  font-size: 14px;
}

#navbar-menu li > a {
  color: #242424dd;
}

#navbar-menu li.disabled {
  color: #9e9e9e;
  min-height: 2.4em;
  line-height: 2.5em;
  padding-left: 12px;
}

#navbar-menu li.disabled:hover {
  background-color: rgba(0,0,0,0);
}
#navbar-menu li.profile-area {
  grid-template-rows: 4.5em;
  height: 4.5em;
}
li.profile-area {
  display: grid;
  grid-template-columns: 50px auto 5em;
  overflow: hidden;
  padding: 12px 4px;
}
#navbar-menu li.profile-area {
  padding: 12px 4px 12px 12px;
}
.profile-area:hover {
  background-color: #eee;
}
#navbar-menu .profile-area span {
  margin-top: auto;
  margin-bottom: auto;
}
.profile-area .view_profile:hover {
  background-color: rgba(0,0,0,0);
}
.profile-area > a:first-child {
    padding: 0;
    grid-column: 1 / 3;
}
.profile-area a div {
  display: inline-grid;
  grid-column: 2;
  height: 100%;
  padding-left: 8px;
}
.profile-area .profile-img {
  margin: 0;
  display: inline;
  grid-column: 1;
  float: left;
}
.profile-area .edit-btn {
  max-width: 3em;
  grid-column: 3;
}
#navbar-menu .profile-menu .edit-btn {
  padding: 10px;
}
.profile-area .edit-btn i {
  margin: 0;
}


#notificationArea {
  width: 100%;
  position: fixed;
  z-index: 500;
}
@media screen and (max-width: 959px) {
  #notificationArea {
    bottom: 0;
  }
}


/* vim:foldmethod=syntax shiftwidth=2 tabstop=2:
 */