/* Image Input Dialog Styling */

#imageDialogs {
  margin-bottom: 1.5em;
}

.image-edit-trigger:hover {
  opacity: 80% !important;
}

.image-edit-trigger .responsive-img {
  max-height: 150px;
}

.image-edit-label-wrapper {
  position: absolute;
  height: 34px;
  width: 34px;
  border-bottom-right-radius: 15px;
  background-color: rgba(255, 255, 255, .3);
}

.image-edit-label {
  position: absolute;
  top: 5px;
  left: 5px;
  color: rgba(255, 255, 255, .8);
}

.img-tile {
  position: relative;
  color: antiquewhite;
}

.img-tile .prev_img-current {
  outline: 2px solid red !important;
}

.img-tile .prev_img-selected {
  outline: 2px solid orange !important;
}

.img-tile .current-img-label {
  position: absolute;
  bottom: 4px;
  right: 0;
  background-color: red;
  padding: 1px 4px 3px 6px;
  border-top-left-radius: 10px
}

.current-img-label i {
  padding-top: 2px;
  margin-left: 7px;
}

.img-tile .selected-img-label {
  position: absolute;
  bottom: 4px;
  right: 0;
  background-color: orange;
  padding-left: 3px;
  padding-top: 3px;
  border-top-left-radius: 10px
}

/* Rep Selection Styling */

#reps, #requests {
  min-height: 50px;
}

#reps h6, #requests h6 {
  margin-top: 1em;
  margin-left: 1em;
}

/* Materialize overrides */

/* Change Input Styling */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 1px solid #ff4081 !important;
  -webkit-box-shadow: 0 1px 0 0 #ff4081 !important;
  box-shadow: 0 1px 0 0 #ff4081 !important;
}

.input-field input[type=text].valid,
.input-field input[type=email].valid,
.input-field input[type=password].valid {
  border-bottom: 1px solid #ffa726 !important;
  -webkit-box-shadow: 0 1px 0 0 #ffa726 !important;
  box-shadow: 0 1px 0 0 #ffa726 !important;
}

[type="submit"] {
  -webkit-appearance: none;
}
