/** Header Styling **/
header {
  position: fixed;
  z-index: 500;
  background-color: #8B0053 !important;
  width: 100%;
}

nav a.md-unselected {
    color: #EEE !important;
}

.brand-logo.center {
  left: auto !important;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 35px;

  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: #eee;
}

.title-shadow-orange {
  text-shadow: 0 3px 7px #FF7100;
  text-shadow: 3px 0 7px #FF7100;
}


/** Body Styling **/
body {
  /**color: rgba(0,0,0,0.60);*/
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  height: auto !important;
  color: #EEE !important;
  background-color: #8B0053 !important;
}

.wrapper {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.page-container {
  color:  rgba(0,0,0,0.60) !important;
}

a {
  color: #EEE;
  decoration: none;
}
a:not(section a) {
  decoration: none;
}

    /** Section **/
.section {
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: #af005a;
  color: #EEE;
}

.scroll-content > .section:last-child {
    box-shadow: none !mportant;
}

.section .flow-text {
  margin-top: 30px;
  margin-bottom: 30px;
}

#section-info {
  padding-top: 15px;
  padding-left: 30px;

  font-size: 14px;
  font-weight: 300;
}

#section-info span {
  font-weight: 500;
}

.progress {
  height: 50px;
  border-radius: 50px;
  background-color: #FBFBFB;
  border: solid 2px #777;
}
.progress .current {
  background-color: #1F1;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: inline-block;
  text-align: center;
  color: #090;
}

.progress .remaining {
  display: inline-block;
  line-height: 50px;
  color: #0C0;
  text-align: center;
}

    /** Parallax **/
.parallax-container {
  height: 300px;
}

.parallax-container:first-child {
  height: 500px;
}

.parallax-img {
    zoom: 55%;
}

@media screen and (max-width: 650px) {
.parallax-img {
    zoom: 25%;
}}

@media screen and (min-width: 950px) {
.parallax-img {
    zoom: 85%;
}}


/** Footer Styling **/
footer.page-footer {
  padding: 20px;
  position: relative;
  bottom: 0;

  font-size: 12px;
  text-align: right;
}

footer.page-footer .footer-top:first-child {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
}

footer #sitemap ul {
  font-size: 14px;
  text-align: left !important;

  list-style-type: circle !important;
  color: #EEE !important;
}

footer #sitemap ul li {
  margin-bottom: 5px;
}

.social-media-links {
  position: absolute;
  right: 0;
}

.social-media-links a {
  height: 50px;
  width: 50px;
  padding: 5px 5px;
  margin-bottom: 15px;
}

.social-media-links a img {
  height: 40px;
  width: 40px;
}

/** Animations **/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1; 
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.3s;
  -moz-animation-duration:0.3s;
  animation-duration:0.3s;

  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
