.sidenav {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.sidenav .edit-btn {
  margin: 0;
}

.sidenav .spacer {
  flex-grow: 1;
}

#sidebar-donate-button {
  margin: 12px;
  font-size: 14px;
  line-height: 1.5em;
  align-self: flex-end;
}

#sidebar-donate-button .btn-small {
  line-height: 32.4px;
  height: 32.4px;
  display: inline-block;
}

#sidebar-donate-button p {
  margin-bottom: 0;
}

.user-view .collapsible {
  margin-top: 12px;
  margin-left: -16px;
  margin-right: -16px;
}