.sidenav {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.sidenav .spacer {
  flex-grow: 1;
}

#sidebar-donate-button {
  margin: 12px;
  font-size: 14px;
  line-height: 1.5em;
  align-self: flex-end;
}

#sidebar-donate-button .btn-small {
  line-height: 32.4px;
  height: 32.4px;
  display: inline-block;
}

#sidebar-donate-button p {
  margin-bottom: 0;
}

#slide-out img,
img.menu-icon {
  height: 35px;
  margin-top: 4px;
  margin-right: 1em;
}

.sidenav li:not(.open) > a.active .menu-icon {
  -webkit-filter: invert(1);
  filter: invert(1);
  opacity: .8;
}
