{% from "macros/parts/gallery.html" import gallery %}
{% from "macros/parts/confirm_delete.html" import confirm_delete %}

{# {{{ NewsPost Card #}
{% macro news_card(post, AUTH=False) %}
  <div class="col s12 l6">
    <div class="card">

      {% if post.attachment %}
        <div class="card-image">
          <img src="{{ post.attachment.url }}">
          <a class="card-title dropdown-trigger" data-target="news_card_{{ post.id }}">
            <span class="truncate" style="max-width: 85%; display: inline-block">
              {{ post.title }}
            </span>
            <i class="material-icons">arrow_drop_down</i>
          </a>
        </div><!-- /.card-image -->
      {% endif %}

      <div class="card-content">
        {% if not post.attachment %}
          <a href="#" class="dropdown-trigger" data-target="news_card_{{ post.id }}">
            <span class="truncate" style="max-width: 85%; display: inline-block;">
              {{ post.title }}
            </span>
            <i class="material-icons">arrow_drop_down</i>
          </a>
        {% endif %}
        <p>
          <span>Posted: </span>
          <span>{{ f_time(post.pub_date) }}</span>
        </p>
        <div style="min-height: 50px;">
          <p class="truncate">{{ post.content|safe }}</p>
        </div>
      </div><!-- /.card-content -->

      <ul id="news_card_{{ post.id }}" class="dropdown-content" style="min-width: 13em;">
        {% if AUTH %}
          <li><a href="{{ post.edit }}">
            <i class="material-icons">create</i>
            Edit News Post
          </a></li>
          <li>{{ confirm_delete('news post', post.id, text='Delete Post', anchor=True, part=0) }}</li>
        {% endif %}
        <li><a href="{{ post.url }}">
          <i class="material-icons">link</i>
          Link to News
        </a></li>
      </ul>

      {{ confirm_delete('news post', post.id, text='Delete Post', anchor=True, part=1) }}

      <div class="card-action">
        <a href="#" class="btn-flat text-orange"><i class="material-icons">comment</i></a>
        <a href="{{ post.url }}" class="btn-flat text-orange"><i class="material-icons">open_in_new</i></a>
      </div><!-- /.card-action -->

    </div><!-- /.card -->
  </div><!-- /.col -->
{% endmacro %}
{# }}} #}


{# {{{ Campaign Card #}
{% macro campaign_card(campaign, AUTH=False) %}
  <div class="col s12 l6">
    <div class="card">

      {% if campaign.banner_img %}
        <div class="card-image">
          <img src="{{ campaign.banner_img.url }}">
          <a class="card-title dropdown-trigger" data-target="campaign_{{ campaign.id }}">
            <span class="truncate" style="max-width: 85%; display: inline-block">
              {{ campaign.title }}
            </span>
            <i class="material-icons">arrow_drop_down</i>
          </a>
        </div><!-- /.card-image -->
      {% endif %}

      <div class="card-content">
        {% if not campaign.banner_img %}
          <a href="#" class="dropdown-trigger" data-target="campaign_{{ campaign.id }}">
            <span class="truncate" style="max-width: 85%; display: inline-block;">
              {{ campaign.title }}
            </span>
            <i class="material-icons">arrow_drop_down</i>
          </a>
        {% endif %}
        <div style="min-height: 50px;">
          <p class="truncate">{{ campaign.content|safe }}</p>
        </div>
      </div><!-- /.card-content -->

      <ul id="campaign_{{ campaign.id }}" class="dropdown-content" style="min-width: 13em;">
        {% if AUTH %}
          {% for opt in campaign_admin_urls(campaign) %}
            <li><a href="{{ url_for(opt['reverse_url'], kwargs=opt['kwargs']) }}">
              <i class="material-icons">{{ opt['icon'] }}</i>
              {{ opt['label'] }}
            </a></li>
          {% endfor %}
          <li>{{ confirm_delete('campaign', campaign.id, text='Delete Campaign', anchor=True, part=0) }}</li>
        {% endif %}
        <li><a href="{{ campaign.url }}">
          <i class="material-icons">link</i>
          Link to Campaign
        </a></li>
      </ul>

      {{ confirm_delete('campaign', campaign.id, text='Delete Campaign', anchor=True, part=1) }}

      <div class="card-action">
        <a href="#" class="btn-flat text-orange"><i class="material-icons">comment</i></a>
        <a href="{{ campaign.url }}" class="btn-flat text-orange"><i class="material-icons">open_in_new</i></a>
      </div><!-- /.card-action -->

    </div><!-- /.card -->
  </div><!-- /.col -->
{% endmacro %}
{# }}} #}


{% macro ministry_card(ministry, AUTH=False) %}

  <div class="col s12 l6">
    <div class="card">

      {% if ministry.banner_img %}
        <div class="card-image">
          <img src="{{ ministry.banner_img.url }}">
          <a class="card-title dropdown-trigger" data-target="ministry_{{ ministry.id }}">
            <span class="truncate" style="max-width: 85%; display: inline-block">
              {{ ministry.name }}
            </span>
            <i class="material-icons">arrow_drop_down</i>
          </a>
        </div><!-- /.card-image -->
      {% endif %}

      <div class="card-content">
        {% if not ministry.banner_img %}
          <a class="card-title dropdown-trigger" data-target="ministry_{{ ministry.id }}">
            <span class="truncate" style="max-width: 85%; display: inline-block">
              {{ ministry.name }}
            </span>
            <i class="material-icons">arrow_drop_down</i>
          </a>
        {% endif %}
        <div style="min-height: 50px">
          <p class="truncate">{{ ministry.description|safe }}</p>
        </div>
      </div><!-- /.card-content -->

      <ul id="ministry_{{ ministry.id }}">
        {% if AUTH %}
          {% for opt in ministry_admin_urls(ministry) %}
            <li><a href="{{ url_for(opt['reverse_url'], kwargs=opt['kwargs']) }}">
              <i class="material-icons">{{ opt['icon'] }}</i>
              {{ opt['label'] }}
            </a></li>
          {% endfor %}
          <li>{{ confirm_delete('ministry', ministry.id, text='Delete Ministry', anchor=True, part=0) }}</li>
        {% endif %}
        <li><a href="{{ ministry.url }}">
          <i class="material-icons">link</i>
          Link to Ministry
        </a></li>
      </ul>

      {{ confirm_delete('ministry', ministry.id, text='Delete Ministry', anchor=True, part=1) }}

      <div class="card-action">
        <a href="#" class="btn-flat text-orange"><i class="material-icons">comment</i></a>
        <a href="{{ ministry.url }}" class="btn-flat text-orange"><i class="material-icons">open_in_new</i></a>
      </div><!-- /.card-action -->

    </div><!-- /.card -->
  </div><!-- /.col -->

{% endmacro %}


{# {{{ Card Area #}
{# Arguments
   =========
  campaigns[0] determines if a campaigns tab should be displayed (eg: there are no campaigns of campaigns)
  campaigns[1] is the actual Campaign object data
#}
{% macro card_area(news, campaigns=(False, []), AUTH=None) %}

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#news">News</a></li>
        {% if campaigns[0] %}
          <li class="tab col s3"><a href="#campaigns">Campaigns</a></li>
        {% endif %}
        <li class="tab col s3"><a href="#gallery">Gallery</a></li>
      </ul>
    </div>
  </div>

  <div id="news" class="col s12">
    {% if news %}
      {# TODO: generate different card types (both randomly and per parent object type) #}
      {% for n in news %}
        {{ news_card(n, AUTH) }}
      {% endfor %}
    {% else %}
      <br>
      <p>There is no news to show at this time.</p>
    {% endif %}
  </div><!-- /#news -->

  {% if campaigns[0] %}
    <div id="campaigns" class="col s12">
      {% if campaigns[1] %}
        {% for c in campaigns[1] %}
          {{ campaign_card(c, AUTH) }}
        {% endfor %}
      {% else %}
        <br>
        <p>There are no campaigns to show at this time.</p>
      {% endif %}
    </div><!-- /#campaign -->
  {% endif %}

  <div id="gallery" class="col s12">
    {{ gallery() }}
  </div><!-- /# gallery -->

{% endmacro %}
{# }}} #}



{% macro frontpage_ministry_card(ministry) %}

  <div class="col s12 l6">
    <div class="card">

      {% if ministry.banner_img %}
        <div class="card-image">
          <img src="{{ ministry.banner_img.url }}">
          <a class="card-title dropdown-trigger" data-target="ministry_{{ ministry.id }}">
            <span class="truncate" style="max-width: 85%; display: inline-block">
              {{ ministry.name }}
            </span>
            <i class="material-icons">arrow_drop_down</i>
          </a>
        </div><!-- /.card-image -->
      {% endif %}

      <div class="card-content">
        {% if not ministry.banner_img %}
          <a class="card-title dropdown-trigger" data-target="ministry_{{ ministry.id }}">
            <span class="truncate" style="max-width: 85%; display: inline-block">
              {{ ministry.name }}
            </span>
            <i class="material-icons">arrow_drop_down</i>
          </a>
        {% endif %}
        <div style="min-height: 50px">
          <p class="truncate">{{ ministry.description|safe }}</p>
        </div>
      </div><!-- /.card-content -->

      <div class="card-action">
        <a href="#" class="btn-flat text-orange"><i class="material-icons">comment</i></a>
        <a href="{{ ministry.url }}" class="btn-flat text-orange"><i class="material-icons">open_in_new</i></a>
      </div><!-- /.card-action -->

    </div><!-- /.card -->
  </div><!-- /.col -->

{% endmacro %}
