{% from "macros/parts/gallery.html" import gallery %}
{% from "macros/parts/confirm_delete.html" import confirm_delete %}

{# Post Card #}
{% macro news_card(post, AUTH=False, wide=False) %}
  {#
  Arguments
  =========
  wide: (bool)
    Controls whether the card will be given the `l6` attribute, thereby forcing it to takeup the max-width
  #}
  <div class="grid-item col s12 {% if not wide %}l6{% endif %}">
    <div class="card-panel border-radius-8 {% if post.attachment %}mt-10 card-animation-1{% endif %}">

      {% if post.attachment %}
        <a href="{{ post.url }}">
          <img class="responsive-img border-radius-8 z-depth-4 image-n-margin" src="{{ post.attachment.url }}">
        </a><!-- /.banner-img -->
      {% endif %}

      <h5 class="{% if post.attachment %} mt-5{% else %} mt-1{% endif %}"
          style="justify-content: right;">
        <a class="deep-orange-text card-title" href="{{ post.url }}" style="display: inline;">
          {{ post.title }}
        </a><!-- /.card-title -->
        {% if AUTH %}
          <a class="btn-flat dropdown-trigger grey-text p-0 ml-1" data-target="news_{{ post.id }}_card_dropdown">
            <i class="material-icons">more_horiz</i>
          </a><!-- /.dropdown-trigger -->
        {% endif %}
      </h5><!-- /title -->

      <div class="display-flex justify-content-between flex-wrap mt-4">
        <div class="display-flex mt-2 right-align" style="min-width: 55%; overflow: hidden;">
          <i class="material-icons">visibility</i>
          <span class="ml-3 vertical-align-top">{{ post.views.count() }}</span>
        </div>
      </div><!-- /.display-flex -->

      {% if AUTH %}
        <ul id="news_{{ post.id }}_card_dropdown" class="dropdown-content" style="min-width: 13em;">
          {% if AUTH %}
            <li><a href="{{ post.edit }}">
              <i class="material-icons">create</i>
              Edit News Post
            </a></li>
            <li>{{ confirm_delete('news post', post.id, text='Delete Post', anchor=True, part=0) }}</li>
          {% endif %}
        </ul>
      {% endif %}

      {{ confirm_delete('news post', post.id, text='Delete Post', anchor=True, part=1) }}

    </div><!-- /.card-panel -->
  </div><!-- /.col -->
{% endmacro %}


{# Campaign Card #}
{% macro campaign_card(campaign, AUTH=False) %}
  <div class="col s12 l6">
    <div class="card">

      {% if campaign.banner_img %}
        <div class="card-image">
          <a href="{{ campaign.url }}">
            <img src="{{ campaign.banner_img.url }}">
          </a>
          {% if AUTH %}
            <a class="card-title dropdown-trigger" data-target="campaign_{{ campaign.id }}">
              <span class="truncate" style="max-width: 85%; display: inline-block">
                {{ campaign.title }}
              </span>
              <i class="material-icons">arrow_drop_down</i>
            </a>
          {% else %}
            <a class="card-title" href="{{ campaign.url }}">{{ campaign.title }}</a>
          {% endif %}
        </div><!-- /.card-image -->
      {% endif %}

      <div class="card-content">
        {% if not campaign.banner_img %}
          {% if AUTH %}
            <a href="#" class="card-title dropdown-trigger" data-target="campaign_{{ campaign.id }}">
              <span class="truncate" style="max-width: 85%; display: inline-block;">
                {{ campaign.title }}
              </span>
              <i class="material-icons">arrow_drop_down</i>
            </a>
          {% else %}
            <a href="{{ campaign.url }}">{{ campaign.title }}</a>
          {% endif %}
        {% endif %}
        <div style="min-height: 50px;">
          <p class="truncate">{{ campaign.content|safe }}</p>
        </div>
      </div><!-- /.card-content -->

      {% if AUTH %}
        <ul id="campaign_{{ campaign.id }}" class="dropdown-content" style="min-width: 13em;">
          {% for opt in campaign_admin_urls(campaign) %}
            <li><a href="{{ url_for(opt['reverse_url'], kwargs=opt['kwargs']) }}">
              <i class="material-icons">{{ opt['icon'] }}</i>
              {{ opt['label'] }}
            </a></li>
          {% endfor %}
          <li>{{ confirm_delete('campaign', campaign.id, text='Delete Campaign', anchor=True, part=0) }}</li>
          <li><a href="{{ campaign.url }}">
            <i class="material-icons">link</i>
            View Campaign
          </a></li>
        </ul>
      {% endif %}

      {{ confirm_delete('campaign', campaign.id, text='Delete Campaign', anchor=True, part=1) }}

      <div class="card-action">
        {% if COMMENTS %}
          <a href="#" class="btn-flat text-orange"><i class="material-icons">comment</i></a>
        {% endif %}
        <a href="{{ campaign.url }}" class="btn-flat text-orange"><i class="material-icons">open_in_new</i></a>
      </div><!-- /.card-action -->

    </div><!-- /.card -->
  </div><!-- /.col -->
{% endmacro %}


{% macro ministry_card(ministry, AUTH=False) %}

  <div class="col s12 l6">
    <div class="card">

      {% if ministry.banner_img %}
        <div class="card-image">
          <a href="{{ ministry.url }}">
            <img src="{{ ministry.banner_img.url }}">
          </a>
          {% if AUTH %}
            <a class="card-title dropdown-trigger" data-target="ministry_{{ ministry.id }}">
              <span class="truncate" style="max-width: 85%; display: inline-block">
                {{ ministry.name }}
              </span>
              <i class="material-icons">arrow_drop_down</i>
            </a>
          {% else %}
            <a class="card-title" href="{{ ministry.url }}">{{ ministry.name }}</a>
          {% endif %}
        </div><!-- /.card-image -->
      {% endif %}

      <div class="card-content">
        {% if not ministry.banner_img %}
          {% if AUTH %}
            <a class="card-title dropdown-trigger" data-target="ministry_{{ ministry.id }}">
              <span class="truncate" style="max-width: 85%; display: inline-block">
                {{ ministry.name }}
              </span>
              <i class="material-icons">arrow_drop_down</i>
            </a>
          {% else %}
            <a href="{{ ministry.url }}">{{ ministry.name }}</a>
          {% endif %}
        {% endif %}
        <div style="min-height: 50px">
          <p class="truncate">{{ ministry.description|safe }}</p>
        </div>
      </div><!-- /.card-content -->

      {% if AUTH %}
        <ul id="ministry_{{ ministry.id }}">
          {% for opt in ministry_admin_urls(ministry) %}
            <li><a href="{{ url_for(opt['reverse_url'], kwargs=opt['kwargs']) }}">
              <i class="material-icons">{{ opt['icon'] }}</i>
              {{ opt['label'] }}
            </a></li>
          {% endfor %}
          <li>{{ confirm_delete('ministry', ministry.id, text='Delete Ministry', anchor=True, part=0) }}</li>
          <li><a href="{{ ministry.url }}">
            <i class="material-icons">link</i>
            View Ministry
          </a></li>
        </ul>
      {% endif %}

      {{ confirm_delete('ministry', ministry.id, text='Delete Ministry', anchor=True, part=1) }}

      <div class="card-action">
        {% if COMMENTS %}
          <a href="#" class="btn-flat text-orange"><i class="material-icons">comment</i></a>
        {% endif %}
        <a href="{{ ministry.url }}" class="btn-flat text-orange"><i class="material-icons">open_in_new</i></a>
      </div><!-- /.card-action -->

    </div><!-- /.card -->
  </div><!-- /.col -->

{% endmacro %}


{# {{{ Card Area #}
{# Arguments
   =========
  campaigns[0] determines if a campaigns tab should be displayed (eg: there are no campaigns of campaigns)
  campaigns[1] is the actual Campaign object data
#}
{% macro card_area(news, campaigns=(False, []), AUTH=None, images=[]) %}

  {% if campaigns[0] %}
    {% set width="s4" %}
  {% else %}
    {% set width="s6" %}
  {% endif %}
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col {{ width }}"><a href="#news">News</a></li>
        {% if campaigns[0] %}
          <li class="tab col {{ width }}"><a href="#campaigns">Campaigns</a></li>
        {% endif %}
        <li class="tab col {{ width }}"><a href="#gallery">Gallery</a></li>
      </ul>
    </div>
  </div>

  <div id="news" class="col s12">
    {% if news %}
      {# TODO: generate different card types (both randomly and per parent object type) #}
      {% for n in news %}
        {{ news_card(n, AUTH) }}
      {% endfor %}
    {% else %}
      <br>
      <p>There is no news to show at this time.</p>
    {% endif %}
  </div><!-- /#news -->

  {% if campaigns[0] %}
    <div id="campaigns" class="col s12">
      {% if campaigns[1] %}
        {% for c in campaigns[1] %}
          {{ campaign_card(c, AUTH) }}
        {% endfor %}
      {% else %}
        <br>
        <p>There are no campaigns to show at this time.</p>
      {% endif %}
    </div><!-- /#campaign -->
  {% endif %}

  <div id="gallery" class="col s12">
    {{ gallery(images) }}
  </div><!-- /# gallery -->

{% endmacro %}
{# }}} #}


{% macro frontpage_ministry_card(ministry, request, wide=False) %}
  {#
  Arguments
  =========
  wide: (bool)
    Controls whether the card will be given the `l6` attribute, thereby forcing it to takeup the max-width
  #}
  {% set AUTH = ministry.authorized_user(request.user) %}

  <div class="grid-item col s12 {% if not wide %}l6{% endif %}">
    <div class="card-panel border-radius-8{% if ministry.banner_img %} mt-9 card-animation-1{% endif %}">

      {% if ministry.banner_img %}
        <a href="{{ ministry.url }}">
          <img class="responsive-img border-radius-8 z-depth-4 image-n-margin" src="{{ ministry.banner_img.url }}">
        </a><!-- /.banner-img -->
      {% endif %}
      <h5 class="{% if ministry.banner_img %} mt-5{% else %} mt-1{% endif %}">
        <a class="deep-orange-text card-title" href="{{ ministry.url }}">
          {{ ministry.name }}
        </a><!-- /.card-title -->
        {% if AUTH %}
          <a class="btn-flat dropdown-trigger grey-text p-0 ml-1"
             data-target="ministry_{{ ministry.id }}_card_dropdown">
            <i class="material-icons">more_horiz</i>
          </a><!-- /.dropdown-trigger -->
        {% endif %}
      </h5><!-- /title -->

      <div class="display-flex justify-content-between flex-wrap mt-4">
        <div class="display-flex mt-2 right-align" style="min-width: 55%; overflow: hidden;">
          <a href="#">
            <i class="material-icons">favorite_border</i>
          </a>
          <span class="ml-3 vertical-align-top">{{ ministry.like_count }}</span>

          <i class="material-icons ml-10">visibility</i>
          <span class="ml-3 vertical-align-top">{{ ministry.views.count() }}</span>

          <i class="material-icons ml-10">card_giftcard</i>
          <span class="ml-3 mr-4 vertical-align-top">{{ ministry.campaigns.count() }}</span>

        </div>
      </div><!-- /.display-flex -->

      <div class="row">
        {% if ministry.has_tags %}
          <div class="tag-area col s12 mt-2">
            {% for tag in ministry.tags.all() %}
              {# TODO: tag URL #}
              <div class="chip cyan white-text">{{ tag }}</div>
            {% endfor %}
          </div><!-- /.tag-area -->
        {% endif %}
      </div><!-- /.row -->

      {% if AUTH %}
        <ul id="ministry_{{ ministry.id }}_card_dropdown" class="dropdown-content" style="min-width: 8em;">
          {% for opt in ministry_admin_urls(ministry) %}
            <li>
              <a href="{{ url_for(opt['reverse_url'], kwargs=opt['kwargs']) }}">
                <i class="material-icons">{{ opt['icon'] }}</i>
                {{ opt['label'] }}
              </a>
            </li>
          {% endfor %}
        </ul><!-- /.dropdown-content -->
      {% endif %}

    </div><!-- /.card -->
  </div><!-- /.col -->
{% endmacro %}


{% macro frontpage_campaign_card(campaign, request, wide=False) %}
  {#
  Arguments
  =========
  wide: (bool)
    Controls whether the card will be given the `l6` attribute, thereby forcing it to takeup the max-width
  #}
  {% set AUTH = campaign.ministry.authorized_user(request.user) %}

  <div class="grid-item col s12 {% if not wide %}l6{% endif %}">
    <div class="card-panel border-radius-8{% if campaign.banner_img %} mt-9 card-animation-1{% endif %}">

      {% if campaign.banner_img %}
        <a href="{{ campaign.url }}">
          <img class="responsive-img border-radius-8 z-depth-4 image-n-margin" src="{{ campaign.banner_img.url }}"
               alt="banner_img">
        </a><!-- /.banner-img -->
      {% endif %}
      <h5 class="deep-orange-text{% if campaign.banner_img %} mt-5{% else %} mt-1{% endif %}"
          style="justify-content: right">
        <a class="card-title" href="{{ campaign.url }}">
          {{ campaign.title }}
        </a><!-- /.card-title -->

        {% if AUTH %}
          <a class="btn-flat dropdown-trigger grey-text p-0 ml-1"
             data-target="campaign_{{ campaign.id }}_card_dropdown">
            <i class="material-icons">more_vert</i>
          </a><!-- /.dropdown-trigger -->
        {% endif %}
      </h5><!-- /title -->

      <div class="display-flex justify-content-between flex-wrap mt-4">
        <a href="{{ campaign.ministry.url }}"
           class="display-flex align-items-center mt-2"
           style="min-width: 35%;">
          <img class="circle responsive-img mr-6 vertical-text-middle" src="{{ campaign.ministry.profile_img.url }}"
               alt="ministry profile img" width="30">
          <span class="pt-2">{{ campaign.ministry }}</span>
        </a>

        <div class="display-flex mt-2 right-align" style="min-width: 45%">

          <a href="#">
            <i class="material-icons">favorite_border</i>
          </a>
          <span class="ml-3 vertical-align-top">{{ campaign.like_count }}</span>

          <i class="material-icons ml-10">visibility</i>
          <span class="ml-3 vertical-align-top">{{ campaign.views.count() }}</span>

          <i class="material-icons ml-10">card_giftcard</i>
          <span class="ml-3 mr-4 vertical-align-top">{{ campaign.donations.count() }}</span>

        </div>

      </div><!-- /.display-flex -->

      <div class="row mt-3">
        {% if campaign.has_tags %}
          <div class="tag-area col s12 {% if not wide %}m6{% else %}m4{% endif %} mt-2">
            {% for tag in campaign.tags.all() %}
              {# TODO: tag URL #}
              <div class="chip cyan white-text">{{ tag }}</div>
            {% endfor %}
          </div><!-- /.tag-area -->
        {% endif %}
        <div class="stats col s12 {% if not wide %}m6{% else %}m8{% endif %} mt-2 right">
          {# TODO: style colors based on urgency #}
          <span class="btn-small mt-1 right blue darken-2">Ends:&nbsp;{{ f_time(campaign.end_date) }}</span>
          <span class="btn-small mt-1 right green">{{ campaign.percent_complete }}% to goal</span>
        </div>
      </div><!-- /.row -->

      {% if AUTH %}
        <ul id="campaign_{{ campaign.id }}_card_dropdown" class="dropdown-content" style="min-width: 8em;">
          {% for opt in campaign_admin_urls(campaign) %}
            <li>
              <a href="{{ url_for(opt['reverse_url'], kwargs=opt['kwargs']) }}">
                <i class="material-icons">{{ opt['icon'] }}</i>
                {{ opt['label'] }}
              </a>
            </li>
          {% endfor %}
        </ul><!-- /.dropdown-content -->
      {% endif %}

    </div><!-- /.card -->
  </div><!-- /.col -->
{% endmacro %}
