{# This is a template that is emailed to the user's email address for account verification. #}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confirm Account</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<h2>Welcome to Love Our Neighbor!</h2>
<p>
  We are excited that you have joined the Love Our Neighbor family!
  Please finalize your account by <a href="{{ url }}">verifying your email address</a>.
</p>

<a href="{{ url }}">{{ url }}</a>
</body>
</html>
