{% extends "layout.html" %}

{% from "macros/parts/donate_button.html" import donate_button %}
{% import "macros/cards.html" as card %}


{% block title %}Home{% endblock %}


{% block metadata %}
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="https://loveourneighbor.org{{ static('img/brand/LON_letterhead.png') }}">
  <meta property="og:url" content="https://loveourneighbor.org/home">
  <meta property="og:title" content="Love Our Neighbor Homepage">
  <meta property="og:description" content="What is Love Our Neighbor?">
{% endblock %}


{% block body %}
  {% if motd %}
    <div class="content-wrapper-before gradient-45deg-purple-deep-orange"></div>
  {% endif %}

  <div class="container section">
    <div class="wrapper">
      {% if motd %}
        <div class="card" id="motd">

          <div class="card-content">
            <span class="card-title">{{ motd.title }}</span>
            {{ motd.message|safe }}
          </div>

        </div><!-- /#motd -->
      {% endif %}

      <div id="feed" class="grid row">

        {% for obj in object_list %}

          {% if hasattr(obj, 'goal') %}
            {{ card.frontpage_campaign_card(obj, request, wide=False) }}
          {% else %}
            {{ card.post_card(obj, wide=False, request=request) }}
          {% endif %}

        {% endfor %}

      </div>

    </div><!-- /.wrapper -->
  </div><!-- /.section -->
{% endblock %}


{% block scripts %}
  <script src="{{ static('js/mini-gallery-init.js') }}"></script>
  <!-- masonry -->
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script>
    let $grid = $('.grid').masonry({
      itemSelector: '.grid-item',
    });
    $grid.imagesLoaded().progress(function () {
      $grid.masonry('layout');
    });
  </script>
{% endblock %}
