{# This is a template that is emailed to the user for the resetting of their password. #}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<h2>Request for Password Reset</h2>
<p>This email has been sent because you requested your password to be reset.
  If this was not you, then you may ignore this message.
  Please click the link below:
</p>

<a href="{{ url }}">{{ url }}</a>
</body>
</html>