{% extends "layout.html" %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
  <section class="wrapper">
    <h1>Forgot Password</h1>

    <form name="loginForm" class="login" method="POST" action="{{ url_for('people:forgot_password') }}">

      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

      <div class="row">
        <div class="input-field col s12">
          <input name="email" type="email" id="email"
                 class="validate"
                 minlength="9" maxlength="64"
                 required/>
          <label for="email">Email</label>
        </div>
      </div>
      <button class="btn btn-waves orange" type="submit">Reset Password</button>

    </form>
  </section>
{% endblock %}