{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/people/login.html
#}
{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}
<section class="wrapper">
  <!-- people/login -->

  <h1>Sign In</h1>

  <p>If you have not created an account yet, then please
  <a href="{{ url_for('people:create_user') }}">sign up</a> first.</p>

  <form name="loginForm" class="login" method="POST" action="{{ url_for('people:login') }}">

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div class="row">
      <div class="input-field col s12">
        <input name="email" type="email" id="email"
               class="validate"
               minlength="9" maxlength="64" 
               required/>
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12">
        <input type="password" name="password" id="password" class="validate"
               minlength="9" maxlength="64"
               required/>
        <label for="password">Password</label>
      </div>
    </div>

    <button class="btn btn-waves orange" type="submit">Sign In</button>

  </form>

  <a class="button secondaryAction" href="{{ url_for('people:forgot_password') }}">Forgot Password?</a>

</section>
{% endblock %}


{% block scripts %}

  <script>
    let input = document.getElementsByName('email')[0];
    input.focus();
  </script>

{% endblock %}
