{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/people/profile.html
#}

{% extends "layout.html" %}

{% from "macros/parts/input_img_dialog.html" import input_img_dialog %}
{% from "macros/parts/input_field.html" import input_field %}

{% from "campaign/campaign_card.html" import campaign_card %}
{% from "church/church_card.html" import church_card %}
{% from "ministry/ministry_card.html" import ministry_card %}

{# TODO: total donated amount #}
{# TODO: campaigns involved in #}
{# TODO: user submissions #}
{# TODO: voting/decision making involved in #}
{# TODO: show linked social media accounts #}
{# TODO: messages #}

{% block title %}User Profile{% endblock %}

{% block body %}

  <!-- people/profile -->
  <div class="row">
    <div class="col s12">
      <div class="container">
        <section class="tabs-vertical mt-1 section">
          <div class="row">
            <div class="col l4 s12">
              <div class="card-panel">
                <ul class="tabs">
                  <li class="tab">
                    <a href="#profile">
                      <i class="material-icons">account_circle</i>&nbsp;My Profile
                    </a>
                  </li>
                  <li class="tab">
                    <a href="#profiles_admin">
                      <i class="material-icons">public</i>&nbsp;Profiles You Manage
                    </a>
                  </li>
                  <li class="tab">
                    <a href="#likes">
                      <i class="material-icons">loyalty</i>&nbsp;Likes
                    </a>
                  </li>
                  <li class="tab">
                    <a href="#receipts">
                      <i class="material-icons">receipt</i>&nbsp;Receipts
                    </a>
                  </li>
                </ul><!-- /.tabs -->
              </div><!-- /.card-panel -->
            </div><!-- /tabs -->
            <div class="col l8 s12">
              <div id="profile">
                <div class="card-panel">
                  <form method="POST" enctype="multipart/form-data"
                        action="{{ url_for('people:user_profile') }}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div class="row">

                      <div class="col s12" id="imageDialogs">
                        <div class="row">
                          <div class="col s6 l2">
                            {{ input_img_dialog('profile', 'Profile Image', form.profile_img, request.user.profile_img) }}
                          </div>
                        </div>
                      </div><!-- /profile_img -->

                      {{ input_field(form.first_name, icon='person') }}<!-- /first_name -->
                      {{ input_field(form.last_name, icon='person_outline') }}<!-- /last_name -->

                      {{ input_field(form._location, width='s12', icon='place') }}<!-- /location -->

                    </div><!-- /.row -->

                    <div id="form_buttons">
                      <button class="btn orange" type="submit">
                        <i class="material-icons">save</i>&nbsp;
                        Save
                      </button>
                    </div><!-- /#form_buttons -->
                  </form>
                </div><!-- /.card-panel -->
              </div><!-- /#profile -->

              <div id="profiles_admin">
                <div class="card-panel">

                  <h4>
                    Ministry Profiles&nbsp;
                    <a class="btn purple lighten-2" href="{{ url_for('ministry:create_ministry') }}">
                      <i class="material-icons">add</i>&nbsp;New Ministry
                    </a>
                  </h4>
                  <div class="row">

                    {% set ministries = {'Minsitries You Administer': request.user.administers_ministry.all(),
                     'Ministries You Represent': request.user.represents_ministry.all()} %}
                    {# make each section half-size on large screen if there are both categories to represent #}
                    {% set full = len(ministries.values()[0]) and len(ministries.values()[1]) %}

                    {% for text, iter in ministries.items() %}
                      {% if len(iter) %}
                        <div class="col {% if full %}l6{% endif %} s12">
                          <h5 class="text-grey darken-2">{{ text }}</h5>
                          <ul class="collection">
                            {% for ministry in iter %}
                              <li class="collection-item avatar">
                                <img src="{{ ministry.profile_img.url }}" class="circle" alt="profile-image">
                                <a href="{{ ministry.url }}" class="title">
                                  {{ ministry.name }}
                                </a>
                                <a href="{{ ministry.edit }}" class="secondary-content">
                                  <i class="material-icons">settings</i>
                                </a>
                              </li>
                            {% endfor %}
                          </ul><!-- /.collection -->
                        </div><!-- /.col -->
                      {% endif %}
                    {% endfor %}

                  </div><!-- /.row -->

                  <h4>
                    Church Profiles&nbsp;
                    <a class="btn purple lighten-2" href="{{ url_for('church:create_church') }}">
                      <i class="material-icons">add</i>&nbsp;New Church
                    </a>
                  </h4>
                  <div class="row">
                    {% set churches = {'Church Profiles You Administer': request.user.administers_church.all(),
                     'Church Profiles You Represent': request.user.represents_church.all()} %}
                    {# make each section half-size on large screen if there are both categories to represent #}
                    {% set full = len(churches.values()[0]) and len(churches.values()[1]) %}

                    {% for text, iter in churches.items() %}
                      {% if len(iter) %}
                        <div class="col {% if full %}l6{% endif %} s12">
                          <h5 class="text-grey darken-2">{{ text }}</h5>
                          <ul class="collection">
                            {% for church in iter %}
                              <li class="collection-item avatar">
                                <img src="{{ church.profile_img.url }}" class="circle" alt="profile-image">
                                <a href="{{ church.url }}" class="title">
                                  {{ church|string }}
                                </a>
                                <a href="{{ church.edit }}" class="secondary-content">
                                  <i class="material-icons">settings</i>
                                </a>
                              </li>
                            {% endfor %}
                          </ul><!-- /.collection -->
                        </div><!-- /.col -->
                      {% endif %}
                    {% endfor %}

                  </div><!-- /.row -->

                </div><!-- /.card-panel -->
              </div><!-- /#ministries -->

              <div id="likes" class="col s12">
                <div class="card-panel">
                  <div class="row grid">
                    {% for obj in likes %}
                      {% if hasattr(obj, 'founded') and hasattr(obj, 'campaigns') %}{# Minitry Profile #}
                        {{ ministry_card(obj, request=request) }}
                      {% elif hasattr(obj, 'founded') %}{# Church Profile #}
                        {{ church_card(obj, request=request) }}
                      {% else %}{# Campaign #}
                        {{ campaign_card(obj, request=request) }}
                      {% endif %}
                    {% else %}
                      <h6>You haven't liked anything yet.</h6>
                    {% endfor %}
                  </div><!-- /.row -->
                </div><!-- /.card-panel -->
              </div><!-- /#likes -->

              <div id="receipts" class="col s12">
                <div class="card-panel">
                  {# TODO: cards describing donation statistics #}
                  <table>
                    <tr class="header">
                      <td>#</td>
                      <td>Payment Date</td>
                      <td class="hide-on-med-and-down">TX ID</td>
                      <td>Amount</td>
                      <td class="hide-on-med-and-down">Confirmation</td>
                      <td>Campaign</td>
                      <td class="hide-on-med-and-down">Ministry</td>
                    </tr>
                    {# TODO: implement sorting #}
                    {% for num, tx in donations.items() %}
                      <tr>
                        <td class="grey-text darken-2">{{ num }}</td>
                        <td>
                          <a href="{{ tx.url }}">{{ tx.payment_date.strftime('%m/%d/%Y') }}</a>
                        </td>
                        <td class="hide-on-med-and-down">
                          <a href="{{ tx.url }}">{{ tx.id }}</a>
                        </td>
                        <td>{{ tx.amount }}</td>
                        <td class="hide-on-med-and-down">{{ tx.confirmation }}</td>
                        <td>
                          {% if tx.campaign.url == '#' %}
                            {# 'Administration Donation' #}
                            {{ tx.campaign.title }}
                          {% else %}
                            <a href="{{ tx.campaign.url }}">{{ tx.campaign.title }}</a>
                          {% endif %}
                        </td>
                        <td class="hide-on-med-and-down">
                          {% if tx.ministry.url == '#' %}
                            {# 'Love Our Neighbor' #}
                            {{ tx.ministry.title }}
                          {% else %}
                            <a href="{{ tx.ministry.url }}">{{ tx.ministry.title }}</a>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </table>
                </div><!-- /.card-panel -->
              </div><!-- /#receipts -->

            </div><!-- /tab-content -->
          </div>
        </section>
      </div>
    </div>
  </div>

{% endblock %}


{% block scripts %}

<!-- masonry -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<script>
  $('.grid').masonry({
    itemSelector: '.grid-item',
  });
</script>

<!-- Knockout.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
<script src="{{ static('js/image_selection.js') }}"></script>
<script>
  const profileURL = "{{ url_for('people:profile_img_json') }}";

  let profileSelection = new PreviousImageSelection('selected_profile_img', profileURL);

  ko.applyBindings(profileSelection, document.getElementById('profile_img_input'));
</script>

{% endblock %}
