{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/people/signup.html
#}
{% extends "layout.html" %}

{% from "macros/parts/input_field.html" import input_field %}

{% block title %}Sign-up{% endblock %}

{% block body %}
  <div class="wrapper mb-4">
    <h1>Sign Up</h1>

    <p>Already have an account? Then please <a href="{{ url_for('people:login') }}">sign in</a>.</p>

    <form class="signup" name="signupForm" method="post" action="{{ url_for('people:create_user') }}">

      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

      <div class="row">
        {{ input_field(form.first_name, width='l6 s12') }}
        {{ input_field(form.last_name, width='l6 s12') }}
        {{ input_field(form.email, width='s12') }}
        {{ input_field(form.password, width='s12') }}
        {{ input_field(form.password2, width='s12') }}
      </div>

      <button type="submit" class="btn orange">Sign Up&nbsp;&raquo;</button>

    </form>
  </div>
{% endblock %}


{% block scripts %}
  <script>
    let input = document.getElementsByName('email')[0];
    input.focus();
  </script>

{% endblock %}
