{# templates/objects/layout_objects.html #}


{% macro section_start(id) -%}

    {# TODO: experiment w/ z-depth #}
    <div id="{{ id }}" class="section">
      <div class="wrapper">

{%- endmacro %}


{% macro section_close() -%}

      </div>
    </div>

{%- endmacro %}


{% macro contact_us(txt = "Contact Us") %}
    <a href="#/about#contact_us">{{ txt }}</a>
{% endmacro %}


{% macro comments_section(obj, obj_type, request=None, form=None, csrf_token=None) %}
  <div class="wrapper" style="padding-left: 15px;">
    {% if len(obj.comments.all()) %}
      <h3 style="margin-bottom: 0px; border-bottom: solid 1px #FF7100;">Comments:</h3>
      <md-list flex>
        {% for i in obj.comments.all() %}
          {# TODO: implement this in angular to reduce server overhead #}
          <md-list-item class="md-2-line">
            <div class="md-list-item-text" layout="column">
              <p>{{ i.content }}</p>
              <div layout="row">
                <img class="profile-img" src="{{ i.user.profile.avatar_url }}">
                <div layout="column">
                  <bold>By: {{ i.user.name }}</bold>
                  <small>{{ i.pub_date }}</small>
                </div>
              </div>
            </div>
          </md-list-item>
        {% endfor %}
      </md-list>
    {% endif %}

    <h4 style="margin-bottom: 10px; border-bottom: solid 1px #FF7100;">Post a new comment:</h4>
    {% if request and request.user.is_authenticated %}
      <form enctype="multipart/form-data" method="POST" action="{{ url_for("ministry:create_comment", kwargs={'obj_type': obj_type, 'obj_id': obj.id}) }}">
        <input type="hidden" enctype="multipart/form-data" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ form.as_p() }}
        <md-button class="md-raised md-primary" type="submit">Post</md-button>
      </form>
    {% else %}
      <a href="#accounts/login" style="text-decoration: none;">
        <span>Login to Comment</span>
        <md-button class="md-raised md-accent">Login</md-button>
      </a>
    {% endif %}
  </div>
{% endmacro %}


{% macro show_campaign(cam, height=400, detail=True, request=None, AUTH=None, form=None, csrf_token=None) %}
     <div class="">
      <input type="hidden" id="current_object_json" value="{{ url_for("ministry:campaign_json", kwargs={'campaign_id': cam.id}) }}">
      {% if AUTH == None %}
        {% set AUTH = request.user == cam.ministry.admin or request.user in cam.ministry.reps.all() %}
      {% endif %}

      <div class="parallax-container" style='height: {{ height }};'>
        <div ng-parallax class="parallax-img" pattern="'.{% if cam.img_path %}{{ static(cam.img_path.url) }}{% endif %}'" speed="1">
          <div class="overlay wrapper">
            {# TODO: put some content in here #}
            <h1>
              {{ cam.title.upper() }}
              {% if AUTH %}
                <a href="#{{ url_for('ministry:edit_campaign', kwargs={'campaign_id': cam.id}) }}">
                  <md-button class="md-raised md-accent">
                    Edit
                  </md-button>
                </a>
                <a href="#{{ url_for('ministry:create_news', kwargs={'obj_type': 'campaign', 'obj_id': cam.id}) }}"
                 style="text-decoration: none;">
                  <md-button class="md-raised md-primary">
                    Create News
                  </md-button>
                </a>
              {% endif %}
            </h1>

            <span class="md-subhead">By:
              <a href="#{{ url_for("ministry:ministry_profile", kwargs={'ministry_id': cam.ministry.id}) }}">
                {{ cam.ministry }}
              </a>
            </span>

            <h3>Progress:</h3>
            <div class="progress">
              {% if cam.donated %}
              <div class="current" style="width: {{ round((cam.donated / cam.goal) * 100) }}%">
                <span>
                  ${% raw %}{{ object.donated }}{% endraw %}
                </span>
              </div>
              {% endif %}
              <div class="remaining" style="width: {{ round(((cam.goal - cam.donated) / cam.goal) * 90) }}%">
                <span>
                  ${% raw %}{{ object.goal - object.donated }}{% endraw %}
                </span>
              </div>
            </div>

            <div class="donate" flex>
              {% set donations = {
                  '$7':  url_for('ministry:create_donation', kwargs={'campaign_id': cam.id, 'amount': 7}),
                  '$17': url_for('ministry:create_donation', kwargs={'campaign_id': cam.id, 'amount': 17}),
                  '$70': url_for('ministry:create_donation', kwargs={'campaign_id': cam.id, 'amount': 70}),
                  'Other': ''
              } %}
              <div hide-xs>
                <h3>Donate:</h3>
                {% for amt, _url in donations.items() %}
                  {# TODO: fix this stupid hack #}
                  {% if request and request.user.is_authenticated %}
                    <a href="{{ _url }}">
                  {% else %}
                    <a href="#/accounts/login/">
                  {% endif %}
                    <md-button class="md-raised{% if amt != 'Other' %} md-accent{% endif %}">{{ amt }}</md-button>
                  </a>
                {% endfor %}
              </div>
              <div hide-gt-xs style="padding-top: 20px; padding-left: 20px;">
                <a href="{{ donations['Other'] }}">
                  <md-button class="md-raised md-accent">Donate</md-button>
                </a>
              </div>
            </div>


          </div>
        </div>
      </div>

      {{ section_start("") }}
        {# TODO: show countdown as 'days left' #}

        <div layout-gt-sm="row" layout="column">

          {{ like_button(cam, request) }}

          <p class="section-info">
            <span>Began:</span>&nbsp;
              {{ cam.start_date.strftime("%h %d, %Y") }}
            <br>
            <span>Until:</span>&nbsp;
              {{ cam.end_date.strftime("%h %d, %Y") }}
            <br>
            <span>Contributions:</span>&nbsp;
              {% raw %}{{ object.donations }}{% endraw %} have supported so far
            <br>
            <span>Views:</span>&nbsp;
              {% raw %}{{ object.views }}{% endraw %}
          </p>
        </div>

        <p class="flow-text">{{ cam.content|safe }}</p>
        {% if detail %}
          <a href="#{{ url_for('ministry:campaign_detail', kwargs={'campaign_id': cam.id}) }}">
            <md-button class="md-raised md-accent">
              See More
            </md-button>
          </a>
        {% endif %}

        {{ comments_section(cam, 'campaign', request, form=form, csrf_token=csrf_token) }}

      {{ section_close() }}

    </div>

{% endmacro %}


{% macro show_ministry(ministry, height=250, detail=True, request=None, AUTH=None, form=None, csrf_token=None) %}
     <div class="">
      <input type="hidden" id="current_object_json" value="{{ url_for("ministry:ministry_json", kwargs={'ministry_id': ministry.id}) }}">
      {% if AUTH == None %}
        {% set AUTH = request.user == ministry.admin or request.user in ministry.reps.all() %}
      {% endif %}

      <div class="parallax-container" style='height: {{ height }};'>
        <div ng-parallax class="parallax-img" pattern="'.{% if ministry.img_path %}{{ static(ministry.img_path.url) }}{% endif %}'" speed="3">
          <div class="overlay wrapper">
            {# TODO: put some content in here #}
            <h1>
              {{ ministry.name.upper() }}
              {% if AUTH %}
                <a href="#{{ url_for('ministry:edit_ministry', kwargs={'ministry_id': ministry.id}) }}">
                  <md-button class="md-raised md-accent">
                    Edit
                  </md-button>
                </a>
              {% endif %}
            </h1>

            <div layout="row" layout-sm="column">

              {{ like_button(ministry, request) }}

              <div hide-xs hide-sm flex style="margin: auto 0">
              <p class="section-info">
                <span># of Projects:</span>&nbsp;
                  {{ len(ministry.campaigns.all()) }}
                <br>
                <span>Total Donations:</span>&nbsp;
                  {{ ministry.donated }}
                <br>
                <span>Views:</span>&nbsp;
                  {% raw %}{{ object.views }}{% endraw %}
              </p>
              </div>
            </div><!-- /layout -->

          </div>
        </div>
      </div>

      {{ section_start("") }}

        <div layout-sm="row">
          <div hide-gt-sm flex>
            <h3>Statistics:</h3>
            <p class="section-info">
              <span># of Projects:</span>&nbsp;
                {{ len(ministry.campaigns.all()) }}
              <br>
              <span>Total Donations:</span>&nbsp;
                {{ ministry.donated }}
              <br>
              <span>Views:</span>&nbsp;
                {% raw %}{{ object.views }}{% endraw %}
            </p>
          </div><!-- /flex -->
          <div flex>
            <h3>Ministry Information:</h3>
            <p class="section-info">
              <span>Website:</span>&nbsp;
                <a href="{{ ministry.website }}">{{ ministry.website.split("://")[1] }}</a>
              <br>
              {% set info = {
                  'phone_number': 'Phone',
                  'address': 'address',
                  'founded': 'Date Founded',
                  'created': 'Profile Created'
              } %}
              {# TODO: make intuitive date for `created`. eg: "1 year ago" #}
              {% for attr, str in info.items() %}
                {% if ministry.__dict__[attr] %}
                  <span>{{ str }}:</span>&nbsp;
                    {{ ministry.__dict__[attr] }}
                  <br>
                {% endif %}
              {% endfor %}
            </p>
          </div>
        </div><!-- /row -->

        {% if ministry.description %}
          <h3>Description:</h3>
          <p class="flow-text">{{ ministry.description|safe }}</p>
          {% if detail %}
            <a href="#{{ url_for('ministry:ministry_profile', kwargs={'ministry_id': ministry.id}) }}">
              <md-button class="md-raised md-accent">
                See More
              </md-button>
            </a>
          {% endif %}
        {% endif %}

        {{ comments_section(ministry, 'ministry', request, form=form, csrf_token=csrf_token) }}

      {{ section_close() }}

      {# TODO: show news and campaigns #}

    </div>

{% endmacro %}


{% macro news_post(post, detail=True, request=None, AUTH=None, form=None, csrf_token=None) %}
      {# TODO: group by month and randomly (or scroll) through images per section #}
      {{ section_start("News") }}
        <p id="section-info">
          <span>Published:</span>&nbsp;
            {{ post.pub_date.strftime("%h %d, %Y") }}
        </p>

        <h1>
          {{ post.title.upper() }}

          {% if AUTH %}
            <a style="text-decoration: none;" href="#{{ url_for('ministry:edit_news', kwargs={'post_id': post.id}) }}">
              <md-button class="md-raised md-accent">
                Edit
              </md-button>
            </a>

            <a style="text-decoration: none;" href="#{{url_for('ministry:delete_news', kwargs={'post_id': post.id}) }}">
              <md-button class="md-raised md-warn">
                Delete
              </md-button>
            </a>
          {% endif %}

        </h1>

        <p class="">{{ post.content|safe }}</p>

        {% if detail %}
          <a href="#{{ url_for('ministry:news_detail', kwargs={'post_id': post.id}) }}">
            <md-button class="md-raised md-accent">
              Details
            </md-button>
          </a>
        {% endif %}

        {{ comments_section(post, 'news_post', request, form=form, csrf_token=csrf_token) }}

      {{ section_close() }}

{% endmacro %}


{% macro like_button(_obj, request=None) %}
    {# TODO: implement "unlike" in django view #}
    {% if request and not request.user.is_authenticated %}
    <a href="#/accounts/login">
    {% endif %}
    <div class="like-button" flex
      {# TODO: do better object detection here #}
      {% if hasattr(_obj, 'admin') %}
        ng-click="like('{{ url_for('ministry:like_ministry', kwargs={"ministry_id": _obj.id}) }}')"
      {% else %}
        ng-click="like('{{ url_for('ministry:like_campaign', kwargs={"campaign_id": _obj.id}) }}')"
      {% endif %}
      ng-style="like_style()"
      style="">
        <span ng-if="object.liked">Liked</span>
        <span ng-if="!object.liked">Like!</span>
        <br>
        {# TODO: implement a filter to sum up large numbers #}
        <small>{% raw %}{{ object.likes }}{% endraw %} like this</small>
    </div>
    {% if request and not request.user.is_authenticated %}
    </a>
    {% endif %}
{% endmacro %}
