{# templates/objects/layout_objects.html #}

{% macro parallax_img(img, height=100) %}

  <div class="parallax-container" style='height: {{height}};'>
    <div ng-parallax class="parallax-img" pattern="'.{{ static(img) }}'" speed="1">
    </div>
  </div>

{% endmacro %}


{% macro section_start(id) -%}

    {# TODO: experiment w/ z-depth #}
    <div id="{{ id }}" class="section">
      <div class="wrapper">

{%- endmacro %}


{% macro section_close() -%}

      </div>
    </div>

{%- endmacro %}


{% macro contact_us(txt = "Contact Us") %}
    <a href="#/about#contact_us">{{ txt }}</a>
{% endmacro %}


{% macro show_campaign(cam, height=400, detail=True, request=None) %}
     <div class="">
      <input type="hidden" id="current_campaign_json" value="{{ url_for("ministry:campaign_json", kwargs={'campaign_id': cam.id}) }}">

      <div class="parallax-container" style='height: {{ height }};'>
        <div ng-parallax class="parallax-img" pattern="'.{{ static(cam.img_path) }}'" speed="1">
          <div class="overlay wrapper">
            {# TODO: put some content in here #}
            <h1>{{ cam.title.upper() }}</h1>

            <h3>Progress:</h3>
            <div class="progress">
              {% if cam.donated %}
              <div class="current" style="width: {{ round((cam.donated / cam.goal) * 100) }}%">
                <span>
                  ${% raw %}{{ object.donated }}{% endraw %}
                </span>
              </div>
              {% endif %}
              <div class="remaining" style="width: {{ round(((cam.goal - cam.donated) / cam.goal) * 90) }}%">
                <span>
                  ${% raw %}{{ object.goal - object.donated }}{% endraw %}
                </span>
              </div>
            </div>

            <div class="donate">
              <h3>Donate:</h3>
              {% set donations = {
                  '$7':  url_for('ministry:create_donation', kwargs={'campaign_id': cam.id, 'amount': 7}),
                  '$17': url_for('ministry:create_donation', kwargs={'campaign_id': cam.id, 'amount': 17}),
                  '$70': url_for('ministry:create_donation', kwargs={'campaign_id': cam.id, 'amount': 70}),
                  'Other': ''
              } %}
              {% for amt, _url in donations.items() %}
                {# TODO: fix this stupid hack #}
                {% if request and request.user.is_authenticated %}
                  <a href="{{ _url }}">
                {% else %}
                  <a href="#/accounts/login/">
                {% endif %}
                  <md-button class="md-raised{% if amt != 'Other' %} md-accent{% endif %}">{{ amt }}</md-button>
                </a>
              {% endfor %}
            </div>

            {{ like_button(cam, request) }}


          </div>
        </div>
      </div>

      {{ section_start("") }}
        {# TODO: show countdown as 'days left' #}

        <p id="section-info">
          <span>Began:</span>&nbsp;
            {{ cam.start_date.strftime("%h %d, %Y") }}
          <br>
          <span>Until:</span>&nbsp;
            {{ cam.end_date.strftime("%h %d, %Y") }}
          <br>
          <span>Contributions:</span>&nbsp;
            {% raw %}{{ object.donations }}{% endraw %} have supported so far
          <br>
          <span>Views:</span>&nbsp;
            {% raw %}{{ object.views }}{% endraw %}
          <br>
          <span>Likes:</span>&nbsp;
            {% raw %}{{ object.likes }}{% endraw %}
        </p>

        <p class="flow-text">{{ cam.content|safe }}</p>
        {% if detail %}
          <a href="#{{ url_for('ministry:campaign_detail', kwargs={'campaign_id': cam.id}) }}">
            <md-button class="md-raised md-accent">
              See More
            </md-button>
          </a>
        {% endif %}

      {{ section_close() }}

    </div>

{% endmacro %}


{% macro news_post(post, detail=True) %}
      {# TODO: group by month and randomly (or scroll) through images per section #}
      {{ section_start("News") }}
        <p id="section-info">
          <span>Published:</span>&nbsp;
            {{ post.pub_date.strftime("%h %d, %Y") }}
        </p>

        <h1>{{ post.title.upper() }}</h1>

        <p class="">{{ post.content|safe }}</p>

        {% if detail %}
          <a href="#{{ url_for('ministry:news_detail', kwargs={'post_id': post.id}) }}">
            <md-button class="md-raised md-accent">
              Details
            </md-button>
          </a>
        {% endif %}
      {{ section_close() }}

{% endmacro %}


{% macro like_button(_obj, request=None) %}
    {# TODO: implement "unlike" in django view #}
    {% if request and not request.user.is_authenticated %}
    <a href="#/accounts/login">
    {% endif %}
    <div class="like-button"
      {# TODO: do better object detection here #}
      {% if hasattr(_obj, 'admin') %}
        ng-click="like('{{ url_for('ministry:like_ministry', kwargs={"ministry_id": _obj.id}) }}')"
      {% else %}
        ng-click="like('{{ url_for('ministry:like_campaign', kwargs={"campaign_id": _obj.id}) }}')"
      {% endif %}
      ng-style="like_style()"
      style="">
        <span ng-if="object.liked">Liked</span>
        <span ng-if="!object.liked">Like!</span>
        <br>
        {# TODO: implement a filter to sum up large numbers #}
        <small>{% raw %}{{ object.likes }}{% endraw %} like this</small>
    </div>
    {% if request and not request.user.is_authenticated %}
    </a>
    {% endif %}
{% endmacro %}
