{# vim: ft=jinja foldmethod=marker:
    templates/objects/content/render_objects.html

#}
{% import "parts.html" as parts %}


{# {{{ Campaign Render Macro #}
{% macro show_campaign(cam, height=400, detail=True, request=None, AUTH=None, form=None, csrf_token=None) %}
     <div class="">
      <input type="hidden" id="current_object_json" value="{{ cam.json }}">
      {% if AUTH == None %}
        {% set AUTH = request.user == cam.ministry.admin or request.user in cam.ministry.reps.all() %}
      {% endif %}

      {# {{{ Top Section Overlay #}
      <div class="parallax-container" style='height: {{ height }};'>
        <div ng-parallax class="parallax-img" pattern="'{% if cam.banner_img %}{{ cam.banner_img.url }}{% endif %}'" speed="1">
          <div class="overlay wrapper">
            {# TODO: put some content in here #}
            <h1>
              {{ cam.title.upper() }}
              {# {{{ Action Menu #}
              {% if AUTH %}
                <md-menu>
                  <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <md-icon>
                      <i class="material-icons" style="color: white">arrow_drop_down</i>
                    </md-icon>
                  </md-button>
                  <md-menu-content>
                    {% for opt in campaign_admin_urls(cam) %}
                      <md-menu-item>
                        <md-button ng-href="#{{ url_for(opt['reverse_url'], kwargs=opt['kwargs']) }}">
                          <md-icon>
                            <i class="material-icons">{{ opt['icon'] }}</i>
                          </md-icon>&nbsp;
                          {{ opt['label'] }}
                        </md-button>
                      </md-menu-item>
                    {% endfor %}
                  </md-menu-content>
                </md-menu>
              {% endif %}
              {# }}} #}
            </h1>

            <span class="md-subhead">By:
              <a href="#{{ url_for("ministry:ministry_profile", kwargs={'ministry_id': cam.ministry.id}) }}">
                {{ cam.ministry }}
              </a>
            </span>

            <h3>Progress:</h3>
            <div class="progress">
              {% if cam.donated %}
              <div class="current" style="width: {{ round((cam.donated / cam.goal) * 100) }}%">
                <span>
                  ${% raw %}{{ object().donated }}{% endraw %}
                </span>
              </div>
              {% endif %}
              <div class="remaining" style="width: {{ round(((cam.goal - cam.donated) / cam.goal) * 90) }}%">
                <span>
                  ${% raw %}{{ object().goal - object().donated }}{% endraw %}
                </span>
              </div>
            </div>

            <br>

            <div class="donate" flex>
              {# TODO: create anonymous donations #}
              <md-button class="md-raised md-accent"
              {% if request.user.is_authenticated %}
                ng-href="#{{ url_for('donation:select_payment', kwargs={'campaign_id': cam.id}) }}"
              {% else %}
                ng-href="#/people/login" style="text-decoration: none"
              {% endif %}
              >
                Donate
                <md-icon>
                  <i class="material-icons">redeem</i>
                </md-icon>
              </md-button>
            </div>


          </div>
        </div>
      </div>
      {# }}} #}

      {{ parts.section_start("") }}
        {# TODO: show countdown as 'days left' #}

        <div hide-sm hide-xs>{{ parts.tag_chips(cam) }}<br></div>

        <div layout-gt-sm="row" layout="column">

          {{ parts.like_button(cam, request) }}

          <div hide-gt-sm>{{ parts.tag_chips(cam) }}</div>

          <p class="section-info">
            <span>Began:</span>&nbsp;
              {{ cam.start_date.strftime("%h %d, %Y") }}&nbsp;
              <span>({{ f_time(cam.start_date) }})</span>
            <br>
            <span>Until:</span>&nbsp;
              {{ cam.end_date.strftime("%h %d, %Y") }}&nbsp;
              <span>({{ f_time(cam.end_date) }})</span>
            <br>
            <span>Contributions:</span>&nbsp;
              {% raw %}{{ object().donations }}{% endraw %} have supported so far
            <br>
            <span>Views:</span>&nbsp;
              {% raw %}{{ object().views }}{% endraw %}
          </p>
        </div>

        <p class="flow-text">{{ cam.content|safe }}</p>
        {% if detail %}
          <md-button ng-href="#{{ cam.url }}" class="md-accent md-raised" style="text-decoration: none;">
            Link to this&nbsp;
            <md-icon>
              <i class="material-icons">link</i>
            </md-icon>
          </md-button>
        {% endif %}

        {{ parts.comments_section(cam, 'campaign', request, form=form, csrf_token=csrf_token) }}

      {{ parts.section_close() }}

    </div>

{% endmacro %}
{# }}} #}


{# {{{ MinistryProfile Macro #}
{% macro show_ministry(ministry, height=250, detail=True, request=None, AUTH=None, form=None, csrf_token=None) %}
     <div class="">
      <input type="hidden" id="current_object_json" value="{{ ministry.json }}">
      {% if AUTH == None %}
        {% set AUTH = request.user == ministry.admin or request.user in ministry.reps.all() %}
      {% endif %}

      {# {{{ Top Section Overlay #}
      <div class="parallax-container" style='height: {{ height }};'>
        <div ng-parallax class="parallax-img" pattern="'{% if ministry.banner_img %}{{ ministry.banner_img.url }}{% endif %}'" speed="3">
          <div class="overlay wrapper">
            {# TODO: put some content in here #}
            <h1>
              {{ ministry.name.upper() }}
              {# {{{ Action Menu #}
              {% if request.user.is_authenticated %}
                <md-menu>
                  <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <md-icon>
                      <i class="material-icons" style="color: white">arrow_drop_down</i>
                    </md-icon>
                  </md-button>
                  <md-menu-content>
                    {% if AUTH %}
                      {% for opt in ministry_admin_urls(ministry) %}
                        <md-menu-item>
                          <md-button ng-href="#{{ url_for(opt['reverse_url'], kwargs=opt['kwargs']) }}">
                            <md-icon>
                              <i class="material-icons">{{ opt['icon'] }}</i>
                            </md-icon>&nbsp;
                          {{ opt['label'] }}
                          </md-button>
                        </md-menu-item>
                      {% endfor %}
                    {% elif not AUTH %}
                      <md-button ng-href="#{{ url_for('ministry:request_to_be_rep', kwargs={'ministry_id': ministry.id}) }}">
                        Request to be a representative
                      </md-button>
                    {% endif %}
                    </md-menu-item>
                  </md-menu-centent>
                </md-menu>
              {% endif %}
              {# }}} #}
            </h1>

            <div layout="row" layout-sm="column">

              {{ parts.like_button(ministry, request) }}

              <div hide-xs hide-sm flex="30" style="margin: auto 0">
                <p class="section-info">
                  <span># of Projects:</span>&nbsp;
                    {{ len(ministry.campaigns.all()) }}
                  <br>
                  <span>Total Donations:</span>&nbsp;
                    {{ ministry.donated }}
                  <br>
                  <span>Views:</span>&nbsp;
                    {% raw %}{{ object().views }}{% endraw %}
                </p>
              </div>

            </div><!-- /layout -->

          </div>
        </div>
      </div>
      {# }}} #}

      {{ parts.section_start("") }}

        {% if ministry.description %}
          <h3>Description:</h3>
          <p class="flow-text">{{ ministry.description|safe }}</p>
          {% if detail %}
            <md-button ng-href="#{{ ministry.url }}" class="md-raised md-accent">
              See More
            </md-button>
          {% endif %}
        {% endif %}

        {{ parts.tag_chips(ministry) }}

        <div layout-sm="row">
          <div flex>
            <h3>Ministry Information:</h3>
            <p class="section-info">
              <span>Website:</span>&nbsp;
                <a href="{{ ministry.website }}">{{ ministry.website.split("://")[1] }}</a>
              <br>
              {% set info = {
                  'phone_number': 'Phone',
                  'address': 'Address',
                  'founded': 'Date Founded',
                  'pub_date': 'Profile Created'
              } %}
              {# TODO: make intuitive date for `pub_date`. eg: "1 year ago" #}
              {% for attr, str in info.items() %}
                {% if ministry.__dict__[attr] %}
                  <span>{{ str }}:</span>&nbsp;
                    {{ ministry.__dict__[attr] }}
                  <br>
                {% endif %}
              {% endfor %}
            </p><!-- /.section-info -->
          </div><!-- /flex -->
          <div hide-gt-sm flex>
            <h3>Statistics:</h3>
            <p class="section-info">
              <span># of Projects:</span>&nbsp;
                {{ len(ministry.campaigns.all()) }}
              <br>
              <span>Total Donations:</span>&nbsp;
                {{ ministry.donated }}
              <br>
              <span>Views:</span>&nbsp;
                {% raw %}{{ object().views }}{% endraw %}
            </p><!-- /.section-info -->
          </div><!-- /flex -->
        </div><!-- /row -->

        {{ parts.comments_section(ministry, 'ministry', request, form=form, csrf_token=csrf_token) }}

      {{ parts.section_close() }}

      {# TODO: show news and campaigns #}

    </div>

{% endmacro %}
{# }}} #}


{# {{{ NewsPost Render Macro #}
{% macro news_post(post, request=None, AUTH=None, form=None, csrf_token=None) %}
    {# TODO: group by month and randomly (or scroll) through images per section #}
    <div class="section">
      <article class="wrapper">

        <p id="section-info">
          <span>Published:</span>&nbsp;{{ post.pub_date.strftime("%h %d, %Y") }}
        </p>

        <h1>
          {{ post.title.upper() }}

          {# {{{ Action Menu #}
          <md-menu>
            <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
              <md-icon>
                <i class="material-icons" style="color: white">arrow_drop_down</i>
              </md-icon>
            </md-button>
            <md-menu-content>
              {% if AUTH %}
                <md-menu-item>
                  <md-button ng-href="#{{ post.edit }}">
                    <md-icon>
                    <i class="material-icons">create</i>
                    </md-icon>&nbsp;
                    Edit News Post
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-href="#{{url_for('ministry:delete_news', kwargs={'post_id': post.id}) }}">
                    <md-icon>
                      <i class="material-icons">delete</i>
                    </md-icon>&nbsp;
                    Delete News Post
                  </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
              {% endif %}

              <md-menu-item>
                <md-button ng-href="#{{ post.url }}">
                  <md-icon>
                    <i class="material-icons">link</i>
                  </md-icon>&nbsp;
                  Link to news
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          {# }}} #}

        </h1>

        {% if post.campaign %}
          <h6>
            <span>For:&nbsp;</span>
            <a href="#{{ post.campaign.url }}">
              {{ post.campaign }}
            </a>
          </h6>
        {% endif %}

        {% if post.attachment %}
        <img src="{{ post.attachment.url }}" class="news_post_media">
        {% endif %}

        <p class="">{{ post.content|safe }}</p>

        {{ parts.comments_section(post, 'news_post', request, form=form, csrf_token=csrf_token) }}

      </article>
    </div>

{% endmacro %}
{# }}} #}


{# --------------- #
 #   Card Macros   #
 # --------------- #}
{# {{{ NewsPost Card #}
{% macro news_card(post, AUTH=False) %}
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <span class="md-subhead">
          Posted: {{ f_time(post.pub_date) }}
        </span>
      </md-card-header-text>
    </md-card-header>

    {% if post.attachment %}
    <img src="{{ post.attachment.url }}" class="md-card-image">
    {% endif %}

    <md-card-title>
      <md-truncate class="md-title">
        {{ post.title }}
      </md-truncate>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
      <md-button class="md-icon-button">
        <i class="material-icons">comment</i>
      </md-button>
      <md-button class="md-icon-button"
                 ng-href="#{{ post.url }}">
        <i class="material-icons">open_in_new</i>
      </md-button>
      {% if AUTH %}
      {% endif %}
    </md-card-actions>
    <md-card-content style="min-height: 50px">
      <md-truncate>
        {{ post.content | safe }}
      </md-truncate>
    </md-card-content>
  </md-card>
{% endmacro %}
{# }}} #}


{# {{{ Campaign Card #}
{% macro campaign_card(campaign, AUTH=False) %}
  <md-card>
    {% if campaign.banner_img %}
    <img src="{{ campaign.banner_img.url }}" class="md-card-image">
    {% endif %}
    <md-card-title>
      <md-truncate class="md-headline">
        {{ campaign.title }}
      </md-truncate>
      {% if AUTH %}
        <md-menu>
          <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
            <md-icon class="color: black">
              <i class="material-icons">arrow_drop_down</i>
            </md-icon>
          </md-button>
          <md-menu-content>
            {% for opt in campaign_admin_urls(campaign) %}
              <md-menu-item>
                <md-button ng-href="#{{ url_for(opt['reverse_url'], kwargs=opt['kwargs']) }}">
                  <md-icon>
                    <i class="material-icons">{{ opt['icon'] }}</i>
                  </md-icon>&nbsp;
                  {{ opt['label'] }}
                </md-button>
              </md-menu-item>
            {% endfor %}
          </md-menu-content>
        </md-menu>
      {% endif %}
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
    {# TODO: show tooltips #}
      <md-button class="md-icon-button">
        <i class="material-icons">comment</i>
      </md-button>
      <md-button class="md-icon-button"
                 ng-href="#{{ campaign.url }}">
        <i class="material-icons">open_in_new</i>
      </md-button>
    </md-card-actions>
    <md-card-content style="min-height: 50px">
      <md-truncate>
        {{ campaign.content | safe }}
      </md-truncate>
    </md-card-content>
  </md-card>
{% endmacro %}
{# }}} #}
