{# templates/objects/layout_objects.html #}


{% macro section_start(id) -%}

    {# TODO: experiment w/ z-depth #}
    <div id="{{ id }}" class="section">
      <div class="wrapper">

{%- endmacro %}


{% macro section_close() -%}

      </div>
    </div>

{%- endmacro %}


{% macro contact_us(txt = "Contact Us") %}
    <a href="#/about#contact_us">{{ txt }}</a>
{% endmacro %}


{% macro comments_section(obj, obj_type, request=None, form=None, csrf_token=None) %}
  <div class="comments_section wrapper">
    <h3>Comments:</h3>
    {% if len(obj.comments.all()) %}
      <md-list flex>
        {% for i in obj.comments.all() %}
          {# TODO: implement this in angular to reduce server overhead #}
          <md-list-item class="md-2-line comment">
            <div class="md-list-item-text" layout="column">
              <p>{{ i.content }}</p>
              <div layout="row">
                <img class="profile-img" src="{{ i.user.profile.avatar_url }}">
                <div layout="column">
                  <bold>By: {{ i.user.name }}</bold>
                  <small>{{ i.pub_date }}</small>
                </div>
              </div>
            </div>
          </md-list-item>
        {% endfor %}
      </md-list>
    {% else %}
      <p class="md-caption">Be the first to comment</p>
    {% endif %}
    <md-divider></md-divider>
    <br>
    <div class="new_comment">
      {# TODO: use js to dynamically hide this #}
      {% if request and request.user.is_authenticated %}
        <form enctype="multipart/form-data" method="POST" style="display: none;"
            action="{{ url_for("ministry:create_comment", kwargs={'obj_type': obj_type, 'obj_id': obj.id}) }}">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          {{ form.as_p() }}
          <md-button class="md-raised md-primary" type="submit">
            Comment&nbsp;
            <md-icon>
              <i class="material-icons">send</i>
            </md-icon>
          </md-button>
          <md-button class="md-icon-button md-warn" ng-click="hide_new_comment($event)">
            <i class="material-icons">cancel</i>
          </md-button>
        </form>
        <md-button class="md-icon-button md-raised md-primary" ng-click="unhide_new_comment($event)">
          <i class="material-icons">add_comment</i>
        </md-button>
      {% else %}
        <a href="#accounts/login" style="text-decoration: none;">
          <span>Login to Comment</span>
          <md-button class="md-raised md-accent">Login</md-button>
        </a>
      {% endif %}
    </div><!-- /.new_comment -->
  </div><!-- /.comment_form -->
{% endmacro %}


{% macro show_campaign(cam, height=400, detail=True, request=None, AUTH=None, form=None, csrf_token=None) %}
     <div class="">
      <input type="hidden" id="current_object_json" value="{{ url_for("ministry:campaign_json", kwargs={'campaign_id': cam.id}) }}">
      {% if AUTH == None %}
        {% set AUTH = request.user == cam.ministry.admin or request.user in cam.ministry.reps.all() %}
      {% endif %}

      <div class="parallax-container" style='height: {{ height }};'>
        <div ng-parallax class="parallax-img" pattern="'.{% if cam.banner_img %}{{ static(cam.banner_img.url) }}{% endif %}'" speed="1">
          <div class="overlay wrapper">
            {# TODO: put some content in here #}
            <h1>
              {{ cam.title.upper() }}
              {% if AUTH %}
                <a href="#{{ url_for('ministry:edit_campaign', kwargs={'campaign_id': cam.id}) }}">
                  <md-button class="md-icon-button md-raised md-accent">
                    <md-icon>
                      <i class="material-icons">create</i>
                    </md-icon>
                  </md-button>
                </a>
                <a href="#{{ url_for('ministry:create_news', kwargs={'obj_type': 'campaign', 'obj_id': cam.id}) }}"
                 style="text-decoration: none;">
                  <md-button class="md-primary">
                    New Post&nbsp;
                    <md-icon>
                      <i class="material-icons">note_add</i>
                    </md-icon>
                  </md-button>
                </a>
              {% endif %}
            </h1>

            <span class="md-subhead">By:
              <a href="#{{ url_for("ministry:ministry_profile", kwargs={'ministry_id': cam.ministry.id}) }}">
                {{ cam.ministry }}
              </a>
            </span>

            <h3>Progress:</h3>
            <div class="progress">
              {% if cam.donated %}
              <div class="current" style="width: {{ round((cam.donated / cam.goal) * 100) }}%">
                <span>
                  ${% raw %}{{ object.donated }}{% endraw %}
                </span>
              </div>
              {% endif %}
              <div class="remaining" style="width: {{ round(((cam.goal - cam.donated) / cam.goal) * 90) }}%">
                <span>
                  ${% raw %}{{ object.goal - object.donated }}{% endraw %}
                </span>
              </div>
            </div>

            <br>

            <div class="donate" flex>
              {# TODO: create anonymous donations #}
              {% if request.user.is_authenticated %}
                <a href="#{{ url_for('donation:select_payment', kwargs={'campaign_id': cam.id}) }}" style="text-decoration: none">
              {% else %}
                <a href="#/accounts/login" style="text-decoration: none">
              {% endif %}
                <md-button class="md-raised md-accent">
                  Donate
                  <md-icon>
                    <i class="material-icons">redeem</i>
                  </md-icon>
                </md-button>
              </a>
            </div>


          </div>
        </div>
      </div>

      {{ section_start("") }}
        {# TODO: show countdown as 'days left' #}

        <div hide-sm hide-xs>{{ tag_chips(cam) }}<br></div>

        <div layout-gt-sm="row" layout="column">

          {{ like_button(cam, request) }}

          <div hide-gt-sm>{{ tag_chips(cam) }}</div>

          <p class="section-info">
            <span>Began:</span>&nbsp;
              {{ cam.start_date.strftime("%h %d, %Y") }}
            <br>
            <span>Until:</span>&nbsp;
              {{ cam.end_date.strftime("%h %d, %Y") }}
            <br>
            <span>Contributions:</span>&nbsp;
              {% raw %}{{ object.donations }}{% endraw %} have supported so far
            <br>
            <span>Views:</span>&nbsp;
              {% raw %}{{ object.views }}{% endraw %}
          </p>
        </div>

        <p class="flow-text">{{ cam.content|safe }}</p>
        {% if detail %}
          <a href="#{{ url_for('ministry:campaign_detail', kwargs={'campaign_id': cam.id}) }}">
            <md-button class="md-accent md-raised">
              Link to this&nbsp;
              <md-icon>
                <i class="material-icons">link</i>
              </md-icon>
            </md-button>
          </a>
        {% endif %}

        {{ comments_section(cam, 'campaign', request, form=form, csrf_token=csrf_token) }}

      {{ section_close() }}

    </div>

{% endmacro %}


{% macro show_ministry(ministry, height=250, detail=True, request=None, AUTH=None, form=None, csrf_token=None) %}
     <div class="">
      <input type="hidden" id="current_object_json" value="{{ url_for("ministry:ministry_json", kwargs={'ministry_id': ministry.id}) }}">
      {% if AUTH == None %}
        {% set AUTH = request.user == ministry.admin or request.user in ministry.reps.all() %}
      {% endif %}

      <div class="parallax-container" style='height: {{ height }};'>
        <div ng-parallax class="parallax-img" pattern="'.{% if ministry.banner_img %}{{ static(ministry.banner_img.url) }}{% endif %}'" speed="3">
          <div class="overlay wrapper">
            {# TODO: put some content in here #}
            <h1>
              {{ ministry.name.upper() }}
              {% if request.user.is_authenticated %}
                <md-menu>
                  <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <md-icon>
                      <i class="material-icons">arrow_drop_down</i>
                    </md-icon>
                  </md-button>
                  <md-menu-content>
                    <md-menu-item>
                    {% if AUTH %}
                      <md-button ng-href="#{{ url_for('ministry:edit_ministry', kwargs={'ministry_id': ministry.id}) }}">
                        <md-icon>
                          <i class="material-icons">create</i>
                        </md-icon>
                        Edit
                      </md-button>
                    {% elif not AUTH %}
                      <md-button ng-href="#{{ url_for('ministry:request_to_be_rep', kwargs={'ministry_id': ministry.id}) }}">
                        Request to be a representative
                      </md-button>
                    {% endif %}
                    </md-menu-item>
                  </md-menu-centent>
                </md-menu>
              {% endif %}
            </h1>

            <div layout="row" layout-sm="column">

              {{ like_button(ministry, request) }}

              <div hide-xs hide-sm flex="30" style="margin: auto 0">
                <p class="section-info">
                  <span># of Projects:</span>&nbsp;
                    {{ len(ministry.campaigns.all()) }}
                  <br>
                  <span>Total Donations:</span>&nbsp;
                    {{ ministry.donated }}
                  <br>
                  <span>Views:</span>&nbsp;
                    {% raw %}{{ object.views }}{% endraw %}
                </p>
              </div>

            </div><!-- /layout -->

          </div>
        </div>
      </div>

      {{ section_start("") }}

        {% if ministry.description %}
          <h3>Description:</h3>
          <p class="flow-text">{{ ministry.description|safe }}</p>
          {% if detail %}
            <a href="#{{ url_for('ministry:ministry_profile', kwargs={'ministry_id': ministry.id}) }}">
              <md-button class="md-raised md-accent">
                See More
              </md-button>
            </a>
          {% endif %}
        {% endif %}

        {{ tag_chips(ministry) }}

        <div layout-sm="row">
          <div flex>
            <h3>Ministry Information:</h3>
            <p class="section-info">
              <span>Website:</span>&nbsp;
                <a href="{{ ministry.website }}">{{ ministry.website.split("://")[1] }}</a>
              <br>
              {% set info = {
                  'phone_number': 'Phone',
                  'address': 'address',
                  'founded': 'Date Founded',
                  'created': 'Profile Created'
              } %}
              {# TODO: make intuitive date for `created`. eg: "1 year ago" #}
              {% for attr, str in info.items() %}
                {% if ministry.__dict__[attr] %}
                  <span>{{ str }}:</span>&nbsp;
                    {{ ministry.__dict__[attr] }}
                  <br>
                {% endif %}
              {% endfor %}
            </p><!-- /.section-info -->
          </div><!-- /flex -->
          <div hide-gt-sm flex>
            <h3>Statistics:</h3>
            <p class="section-info">
              <span># of Projects:</span>&nbsp;
                {{ len(ministry.campaigns.all()) }}
              <br>
              <span>Total Donations:</span>&nbsp;
                {{ ministry.donated }}
              <br>
              <span>Views:</span>&nbsp;
                {% raw %}{{ object.views }}{% endraw %}
            </p><!-- /.section-info -->
          </div><!-- /flex -->
        </div><!-- /row -->

        {{ comments_section(ministry, 'ministry', request, form=form, csrf_token=csrf_token) }}

      {{ section_close() }}

      {# TODO: show news and campaigns #}

    </div>

{% endmacro %}


{% macro news_post(post, detail=True, request=None, AUTH=None, form=None, csrf_token=None) %}
      {# TODO: group by month and randomly (or scroll) through images per section #}
    <div class="section">
      <article class="wrapper">
        <p id="section-info">
          <span>Published:</span>&nbsp;{{ post.pub_date.strftime("%h %d, %Y") }}
          {% if detail %}
            <a href="#{{ url_for('ministry:news_detail', kwargs={'post_id': post.id}) }}">
              <md-button class="md-raised md-accent">
                Link to news&nbsp;
                <md-icon>
                  <i class="material-icons">link</i>
                </md-icon>
              </md-button>
            </a>
          {% endif %}

        </p>

        <h1>
          {{ post.title.upper() }}

          {% if AUTH %}
            <a style="text-decoration: none;" href="#{{ url_for('ministry:edit_news', kwargs={'post_id': post.id}) }}">
              <md-button class="md-icon-button md-raised md-accent">
                <md-icon>
                <i class="material-icons">create</i>
                </md-icon>
              </md-button>
            </a>

            <a style="text-decoration: none;" href="#{{url_for('ministry:delete_news', kwargs={'post_id': post.id}) }}">
              <md-button class="md-icon-button md-raised md-warn">
                <md-icon>
                  <i class="material-icons">delete</i>
                </md-icon>
              </md-button>
            </a>
          {% endif %}

        </h1>

        {% if post.campaign %}
          <h6>
            <span>For:&nbsp;</span>
            <a href="#{{ url_for('ministry:campaign_detail', kwargs={'campaign_id': post.campaign.id}) }}">
              {{ post.campaign }}
            </a>
          </h6>
        {% endif %}

        <p class="">{{ post.content|safe }}</p>

        {{ comments_section(post, 'news_post', request, form=form, csrf_token=csrf_token) }}

      </article>
    </div>

{% endmacro %}


{% macro like_button(_obj, request=None) %}
    {# TODO: implement "unlike" in django view #}
    {% if request and not request.user.is_authenticated %}
    <a href="#/accounts/login" style="text-decoration: none;">
    {% endif %}
    <div class="like-button" flex
      {# TODO: do better object detection here #}
      {% if hasattr(_obj, 'admin') %}
        ng-click="like('{{ url_for('ministry:like_ministry', kwargs={"ministry_id": _obj.id}) }}')"
      {% else %}
        ng-click="like('{{ url_for('ministry:like_campaign', kwargs={"campaign_id": _obj.id}) }}')"
      {% endif %}
      ng-style="like_style()"
      style="">
        <div style="text-height: 36px !important;">
          <span ng-if="object.liked"><i class="material-icons" style="font-size: 1.7em;">favorite</i></span>
          <span ng-if="!object.liked"><i class="material-icons" style="font-size: 1.7em;">favorite_border</i></span>
          <br>
        </div>
        {# TODO: implement a filter to sum up large numbers #}
        <small>{% raw %}{{ object.likes }}{% endraw %} like this</small>
    </div>
    {% if request and not request.user.is_authenticated %}
    </a>
    {% endif %}
{% endmacro %}


{% macro tag_chips(obj) %}
  {% if len(obj.tags.all()) %}
    <h3 style="margin: 5px 0;">Tags:</h3>
    <md-chips>
      {% for i in obj.tags.all() %}
        {# TODO: link to search query showing related objects #}
        <md-chip>{{ i.name }}</md-chip>
      {% endfor %}
    </md-chips>
  {% endif %}
{% endmacro %}
