{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/objects/layout_objects.html
#}

{% set links =
  [
    ('home', 'Home'),
    ('faq', 'FAQ'),
    ('about', 'About Us')
  ]
%}


{# {{{ User Widget Macro #}
{% macro user_widget(request, sidenav=False) %}

    {% if request.user.is_authenticated %}
      <div layout="row">
          {% if request.user.logged_in_as %}

            <a href="#{{ url_for('ministry:ministry_profile', kwargs={'ministry_id': request.user.logged_in_as.id}) }}"{% if sidenav %} ng-click="sidenav.close()"{% endif %}>
              <md-list-item class="md-1-line">
                <img class="md-avatar" src="{{ static(request.user.logged_in_as.profile_img.url) }}">
                <span class="uname">{{- request.user.logged_in_as.name -}}</span>
              </md-list-item>
            </a>

          {% else %}

            <a href="#{{ url_for('people:user_profile') }}"{% if sidenav %} ng-click="sidenav.close()"{% endif %}>
              <md-list-item class="md-1-line">
                <img class="md-avatar" src="{{ request.user.profile.avatar_url }}">
                <span>{{- request.user.profile.name -}}</span>
              </md-list-item>
            </a>

          {% endif %}

        {# {{{ Profile Menu #}
        {% if not sidenav %}
          <md-menu md-position-mode="target-right bottom" ng-cloak>
            <md-button ng-click="$mdMenu.open($event)" class="md-icon-button">
              <md-icon md-menu-origin>
                <i class="material-icons">arrow_drop_down</i>
              </md-icon>
            </md-button>
            <md-menu-content width="4" style="overflow-y: hidden; z-index: 300;">
              <md-menu-item>
                {% if request.user.logged_in_as %}
                  <md-button ng-href="#{{ url_for('people:be_me_again') }}">
                    Your Profile
                  </md-button>
                {% else %}
                  <md-button ng-href="#{{ url_for('people:user_profile') }}">
                    Your Profile
                  </md-button>
                {% endif %}

              </md-menu-item>

              {% if len(request.user.administers.all()) %}
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button disabled>
                    Ministries You Administer:
                  </md-button>
                </md-menu-item>
                {% for ministry in request.user.administers.all() %}
                  {% set ALIAS = (request.user.logged_in_as == ministry) %}
                  <md-menu-item>
                    <md-button ng-href="#{{ url_for('ministry:login_as_ministry', kwargs={'ministry_id': ministry.id}) }}"{% if ALIAS %} class="md-primary"{% endif %}>
                      {% if ALIAS %}<md-icon><i class="material-icons">how_to_reg</i></md-icon>{% endif %}
                      {{ ministry }}
                    </md-button>
                    <md-button ng-href="#{{ url_for('ministry:edit_ministry', kwargs={'ministry_id': ministry.id}) }}" class="md-icon-button">
                      <md-icon>
                        <i class="material-icons">settings</i>
                      </md-icon>
                    </md-button>
                  </md-menu-item>
                {% endfor %}
              {% endif %}

              {% if len(request.user.represents.all()) %}
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <md-button disabled>
                    Ministries You Represent:
                  </md-button>
                </md-menu-item>
                {% for ministry in request.user.represents.all() %}
                  {% set ALIAS = (request.user.logged_in_as == ministry) %}
                  <md-menu-item >
                    <md-button ng-href="#{{ url_for('ministry:login_as_ministry', kwargs={'ministry_id': ministry.id}) }}"{% if ALIAS %} class="md-primary"{% endif %}>
                      {% if ALIAS %}<md-icon><i class="material-icons">how_to_reg</i></md-icon>{% endif %}
                      {{ ministry }}
                    </md-button>
                    <md-button ng-href="#{{ url_for('ministry:edit_ministry', kwargs={'ministry_id': ministry.id}) }}" class="md-icon-button">
                      <i class="material-icons">settings</i>
                    </md-button>
                  </md-menu-item>
                {% endfor %}
              {% endif %}

              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-href="/people/logout/">
                  Logout
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>


        {% elif sidenav %}
          <md-button ng-click="switching = !switching" class="md-icon-button" style="margin-top: auto; margin-bottom: auto;">
            <md-icon ng-if="!switching" md-menu-origin>
              <i class="material-icons">arrow_drop_down</i>
            </md-icon>
            <md-icon ng-if="switching" md-menu-origin>
              <i class="material-icons">arrow_drop_up</i>
            </md-icon>
          </md-button>
        {% endif %}
        {# }}} #}


      </div><!-- /.layout-row -->
    {% else %}

      <div layout="row">
        <md-list>
          <md-list-item class="md-1-line">
            <md-button ng-href="#/people/login"{% if sidenav %} ng-click="sidenav.close()"{% endif %}>Login</md-button>
          </md-list-item>
        </md-list>
      </div>

    {% endif %}

{% endmacro %}
{# }}} #}


{# {{{ Navbar Macro #}
{% macro navbar_links(request) %}

    <md-toolbar class="md-primary" ng-cloak>
      <div class="md-toolbar-tools" layout="row" layout-align="left end">

        <a class="title-shadow-orange brand-logo center md-accent md-hue-2" href="#home" layout-padding>Love Our Neighbor</a>

        <md-nav-bar ng-model="currentNavItem" class="" md-selected-nav-item="currentNavItem" hide-xs hide-sm>
        {%- for _link in links -%}
          <md-nav-item md-nav-href="{{ _link[0] }}" name="{{ _link[1] }}">
              {{ _link[1] }}
          </md-nav-item>
        {%- endfor -%}
        </md-nav-bar>

        {{ searchbar() }}

        <div hide-xs hide-sm>
          {{ user_widget(request) }}
        </div>

        {# Hidden Side Nav Button #}
        <md-button class="md-icon-button" style="font-size: 1em; margin: auto 15px auto auto;" ng-click="sidenav.toggleRight()" hide-gt-sm>
          <md-icon>
            <i class="material-icons" aria-hidden="true">menu</i>
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>

{% endmacro %}
{# }}} #}


{# {{{ Sidenav Macro #}
{% macro sidenav(request) %}

  <md-sidenav class="md-sidenav-right md-whiteframe-4dp" id="sidenav"
              md-component-id="right" layout="column" ng-cloak>

    <md-toolbar layout="row">
      <div class="md-toolbar-tools">

      <div class="profile-area" ng-hide="searching" flex=70>
        {{ user_widget(request, sidenav=True) }}
      </div>

      <md-button ng-hide="searching" ng-click="searching = !searching" class="md-icon-button">
        <md-icon><i class="material-icons">search</i></md-icon>
      </md-button>
      <md-button ng-hide="!searching" ng-click="get_search()" class="md-icon-button">
        <md-icon><i class="material-icons" style="color: white;">search</i></md-icon>
      </md-button>
      <div ng-if="searching" flex=70>
        {{ searchbar(sidenav=True) }}
      </div>

      <md-button ng-hide="!searching" ng-click="searching = !searching" class="md-icon-button">
        <md-icon><i class="material-icons">cancel</i></md-icon>
      </md-button>
      <md-button ng-if="!searching" ng-click="sidenav.close()" class="md-icon-button">
        <md-icon>
          <i class="material-icons" aria-hidden="true">close</i>
        </md-icon>
      </md-button>
      </div>
    </md-toolbar>

    {% if request.user.is_authenticated %}
    <md-list ng-if="switching" layout="column" ng-click="sidenav.close()">
      <md-list-item class="md-line-1">
        {% if request.user.logged_in_as %}
          <md-button ng-href="#{{ url_for('people:be_me_again') }}">
            Your Profile
          </md-button>
        {% else %}
          <md-button ng-href="#{{ url_for('people:user_profile') }}">
            Your Profile
          </md-button>
        {% endif %}
      </md-list-item>

      {% if len(request.user.administers.all()) %}
        <md-divider></md-divider>
        <md-list-item class="md-line-1">
          <md-button disabled>
            Ministries You Administer:
          </md-button>
        </md-list-item>
        {% for ministry in request.user.administers.all() %}
          {% set ALIAS = (request.user.logged_in_as == ministry) %}
          <md-list-item class="md-line-1">
            <md-button ng-href="#{{ url_for('ministry:login_as_ministry', kwargs={'ministry_id': ministry.id}) }}"{% if ALIAS %} class="md-primary"{% endif %}>
              {% if ALIAS %}<md-icon><i class="material-icons">how_to_reg</i></md-icon>{% endif %}
              {{ ministry }}
            </md-button>
            <md-button ng-href="#{{ url_for('ministry:edit_ministry', kwargs={'ministry_id': ministry.id}) }}" class="md-icon-button">
              <i class="material-icons">settings</i>
            </md-button>
          </md-list-item>
        {% endfor %}
      {% endif %}

      {% if len(request.user.represents.all()) %}
        <md-divider></md-divider>
        <md-list-item class="md-line-1">
          <md-button disabled>
            Ministries You Represent:
          </md-button>
        </md-list-item>
        {% for ministry in request.user.represents.all() %}
          {% set ALIAS = (request.user.logged_in_as == ministry) %}
          <md-list-item class="md-line-1">
            <md-button ng-href="#{{ url_for('ministry:login_as_ministry', kwargs={'ministry_id': ministry.id}) }}"{% if ALIAS %} class="md-primary"{% endif %}>
              {% if ALIAS %}<md-icon><i class="material-icons">how_to_reg</i></md-icon>{% endif %}
              {{ ministry }}
            </md-button>
            <md-button ng-href="#{{ url_for('ministry:edit_ministry', kwargs={'ministry_id': ministry.id}) }}" class="md-icon-button">
              <i class="material-icons">settings</i>
            </md-button>
          </md-list-item>
        {% endfor %}

      {% endif %}

      <md-divider></md-divider>
      <md-list-item class="md-line-1">
        <md-button ng-href="/people/logout/">
          Logout
        </md-button>
      </md-list-item>
    </md-list>

    <md-divider></md-divider>

    {% endif %}


    <md-list flex>
    {%- for _link in links -%}
      <a href="{{ _link[0] }}" name="{{ _link[1] }}">
        <md-list-item class="md-line-1" ng-click="sidenav.close()">{{ _link[1] }}</md-list-item>
      </a>
    {%- endfor -%}
    </md-list>

  </md-sidenav>

{% endmacro %}
{# }}} #}


{# {{{ Footer Macro #}
{% macro footer() %}

      <footer class="md-primary" ng-cloak>
        <div class="page-footer">
          <div class="footer-top">
            <div class="social-media-links">
              <a class="waves-effect waves-teal btn-flat">
                <img src="{{ static('img/igram-icon.png') }}">
              </a>
              <a class="waves-effect waves-teal btn-flat">
                <img src="{{ static('img/facebook-icon.png') }}">
              </a>
              {# TODO: import YouTube and other SM links #}
            </div>
          </div>
          <div id="sitemap">
            <ul>
              {%- for _link in links -%}
                <li>
                  <a href="#/{{ _link[0] }}" name="{{ _link[1] }}">
                    {{ _link[1] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
          <div class="footer-copyright">
              © 2019 Love Your Neighbors
          </div><!-- ./page-footer -->
        </div>
      </footer>

{% endmacro %}
{# }}} #}


{# {{{ Searchbar Macro #}
{% macro searchbar(sidenav=False) %}
  <div layout="row" class="search-bar" {% if not sidenav %}hide-xs hide-sm{% endif %}>
    <form method="GET" ng-submit="search(query)">
      {% if not sidenav %}
      <md-icon>
        <i class="material-icons" style="color: white">search</i>
      </md-icon>
      {% endif %}
      <input ng-model="query" placeholder="Search">
    </form>
  </div>
{% endmacro %}
{# }}} #}
