{# vim: foldmethod=marker ft=jinja:

    templates/objects/content/parts.html

#}


{# {{{ Section start/stop #}
{% macro section_start(id) -%}

    {# TODO: experiment w/ z-depth #}
    <div id="{{ id }}" class="section">
      <div class="wrapper">

{%- endmacro %}


{% macro section_close() -%}

      </div>
    </div>

{%- endmacro %}
{# }}} #}


{# {{{ Contact Us #}
{% macro contact_us(txt = "Contact Us") %}

    <a href="#/about#contact_us">{{ txt }}</a>

{% endmacro %}
{# }}} #}


{# {{{ Comments Section #}
{% macro comments_section(obj, obj_type, request=None, form=None, csrf_token=None) %}

  <div class="comments_section wrapper">
    <h3>Comments:</h3>

    {# {{{ Comment List #}
    {% if len(obj.comments.all()) %}
      <md-list flex>

        {% for i in obj.comments.all() %}
          {# TODO: implement this in angular to reduce server overhead #}
          <md-list-item class="md-2-line comment">
            <div class="md-list-item-text" layout="column">

              <p>{{ i.content }}</p>

              <div layout="row">
                <img class="profile-img" src="{{ i.user.profile_img }}">
                <div layout="column">
                  <bold>By: {{ i.user.name }}</bold>
                  <small>{{ f_time(i.pub_date) }}</small>
                </div>
              </div>

            </div><!-- ./md-list-item-text -->
          </md-list-item>
        {% endfor %}

      </md-list>
    {% else %}
      <p class="md-caption">Be the first to comment</p>
    {% endif %}
    {# }}} #}

    <md-divider></md-divider>
    <br>

    {# {{{ New Comment #}
    <div class="new_comment">
      {# TODO: use js to dynamically hide this #}

      {% if request and request.user.is_authenticated %}
        <form enctype="multipart/form-data" method="POST" style="display: none;"
            action="{{ url_for("ministry:create_comment", kwargs={'obj_type': obj_type, 'obj_id': obj.id}) }}">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <md-input-container>

            {# TODO: add `md-no-asterisk` to get rid of asterisk in label #}
            {{ form.as_p() }}

          </md-input-container>

          <md-button class="md-raised md-primary" type="submit">
            Comment&nbsp;
            <md-icon>
              <i class="material-icons">send</i>
            </md-icon>
          </md-button>
          <md-button class="md-icon-button md-warn" ng-click="comment.hide($event)">
            <i class="material-icons">cancel</i>
          </md-button>

        </form>

        <md-button class="md-icon-button md-raised md-primary" ng-click="comment.show($event)">
          <i class="material-icons">add_comment</i>
        </md-button>

      {% else %}
        <a href="#{{ url_for('people:login') }}" style="text-decoration: none;">
          <span>Login to Comment</span>
          <md-button class="md-raised md-accent">Login</md-button>
        </a>
      {% endif %}
      {# }}} #}

    </div><!-- /.new_comment -->
  </div><!-- /.comment_form -->

{% endmacro %}
{# }}} #}


{# {{{ Like Button #}
{% macro like_button(_obj, request=None) %}

    {# TODO: implement "unlike" in django view #}
    {% if request and not request.user.is_authenticated %}
    <a href="#/people/login" style="text-decoration: none;">
    {% endif %}
    <div class="like-button" flex
      {# TODO: do better object detection here #}
      {% if hasattr(_obj, 'admin') %}
        ng-click="likeButton.like('{{ url_for('ministry:like_ministry', kwargs={"ministry_id": _obj.id}) }}')"
      {% else %}
        ng-click="likeButton.like('{{ url_for('ministry:like_campaign', kwargs={"campaign_id": _obj.id}) }}')"
      {% endif %}
      ng-style="likeButton.style()"
      style="">
        <div style="text-height: 36px !important;">
          <span ng-if="object().liked"><i class="material-icons" style="font-size: 1.7em;">favorite</i></span>
          <span ng-if="!object().liked"><i class="material-icons" style="font-size: 1.7em;">favorite_border</i></span>
          <br>
        </div>
        {# TODO: implement a filter to sum up large numbers #}
        <small>{% raw %}{{ object().likes }}{% endraw %} like this</small>
    </div>
    {% if request and not request.user.is_authenticated %}
    </a>
    {% endif %}

{% endmacro %}
{# }}} #}


{# {{{ Tag Chips #}
{% macro tag_chips(obj) %}

  {% if len(obj.tags.all()) %}
    <h3 style="margin: 5px 0;">Tags:</h3>

    <md-chips>
      {% for i in obj.tags.all() %}

        {# TODO: link to search query showing related objects #}

        <md-chip ng-click="goto('{{ url_for('search:search_tag', kwargs={'tag_name': i.name}) }}')">{{ i.name }}</md-chip>

      {% endfor %}
    </md-chips>

  {% endif %}

{% endmacro %}
{# }}} #}


{# {{{ WYSIWYG Editor #}
{% macro wysiwyg_editor(name, content='', unique='') %}

  {# SECURITY NOTE: it seems to be that it is possible to bypass sanitation. However AngularJS seems to inhibit the browser from loading embedded content. #}

  <input name="{{ name }}" id="styledContent_{{ name }}_{{ unique }}" type="hidden" value="{{ content }}">

  <trix-editor style="min-height: 20em" input="styledContent_{{ name }}_{{ unique }}"></trix-editor>

{% endmacro %}
{# }}} #}


{# {{{ Gallery #}
{% macro gallery() %}

  <br>
  <md-grid-list
        md-cols="1" md-cols-sm="4" md-cols-md="6" md-cols-gt-md="8"
        md-row-height="1:1"
        md-gutter="16px">

    <md-grid-tile ng-repeat="img in gallery"
                  {# TODO: dynamically allocate this #}
                  md-rowspan="1"
                  md-colspan="1"
                  md-rowspan-gt-xs="2"
                  md-colspan-gt-xs="2">

      <img style="width: 100%; bottom: 0; position: absolute;"
           ng-src="{% raw %}{{ img.src }}{% endraw %}">

    </md-grid-tile>
  </md-grid-list>

  <p ng-hide="gallery">There are no gallery images at this time</p>

{% endmacro %}
{# }}} #}


{# {{{ CC Payment #}

{% macro cc_payment(url, form, request=None) %}

  <form name="ccPaymentForm" method="POST"
        action="{{ url }}"
        id="ccPaymentForm"
        layout="column">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    {# {{{ Payment Details #}
    <h3>Payment Details:</h3>

    {# {{{ Email Input #}
    {% if request and not request.is_authenticated %}
      <md-input-container>
        <label>Email</label>
        <input name="email" type="email" required
               minlength="9" maxlength="64" 
               ng-model="email"
               ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="ccPaymentForm.email.$error" role="alert">
          <div ng-message-exp="['required']">
            This field is required.
          </div>
          <div ng-message-exp="['pattern']">
            Please enter a valid email address.
          </div>
          <div ng-message-exp="['minlength', 'maxlength']">
            Your email must be between 9 and 64 characters long.
          </div>
        </div>
      </md-input-container>
    {% endif %}
    {# }}} #}

    {# {{{ Amount Input #}
    <md-input-container>
      {{ form.amount.label_tag() }}
      <input name="amount" type="number"
             ng-model="amount"
             min="1" required>
      <div ng-messages="ccPaymentForm.amount.$error" role="alert">
        <div ng-message-exp="['required']">
          This field is required.
        </div>
      </div>
    </md-input-container>
    {# }}} #}

    {# {{{ Card Number #}
    <md-input-container class="md-block">
      {{ form.card_number.label_tag() }}
      <!-- TODO: add ng-pattern -->
      <input name="card_number" type="number"
             ng-model="card_number"
             maxlength="64" required>
      <div ng-messages="ccPaymentForm.card_number.$error" role="alert" multiple md-auto-hide="true">
        <div ng-message-exp="['required']">
          This field is required.
        </div>
      </div>
    </md-input-container>
    {# }}} #}

    {# {{{ Card Expiration/CCV2 #}
    <div layout="row" class="md-block">
      <md-input-container flex="50" class="md-block">
        {{ form.ccv2.label_tag() }}
        <!-- TODO: add ng-pattern -->
        <input name="ccv2" type="number"
               ng-model="ccv2"
               maxlength="3" required>
        <div ng-messages="ccPaymentForm.ccv2.$error" role="alert">
          <div ng-message-exp="['required']">
            This field is required.
          </div>
        </div>
      </md-input-container>

      <md-input-container flex="50" class="md-block">
        <label>Exp. Date: (MM-YY)</label>
        <input name="expiration_date" type="text"
               ng-model="expiration_date"
               minlength="5" maxlength="5"
               ng-pattern="/([0-9])([0-9])-([0-9])([0-9])$/" required>
               {# TODO: turn pattern into a function that returns a regex of valid date #}
        <div ng-messages="ccPaymentForm.expiration_date.$error" role="alert">
          <div ng-message-exp="['required']">
            This field is required.
          </div>
          <div ng-message-exp="['pattern', 'minlength', 'maxlength']">
            Please enter in the format MM-YY.
          </div>
        </div>
      </md-input-container>
    </div>
    {# }}} #}

    {# {{{ Donation Options #}
    <input type="hidden" name="cover_fees" value="{% raw %}{{ cover_fees }}{% endraw %}">
    <md-checkbox ng-model="cover_fees">
      Increase my donation amount to help cover credit card processing fees. (3% increase)
    </md-checkbox>

    <input type="hidden" name="recurring" value="{% raw %}{{ recurring }}{% endraw %}">
    <md-checkbox ng-model="recurring">
      Make this donation recurring (monthly).
    </md-checkbox>
    {# }}} #}

    {# }}} #}

    {# {{{ Billing Info #}
    <h3>Your Information</h3>

    {# {{{ Name #}
    <md-input-container class="md-block">
      {{ form.first_name.label_tag() }}
      <input name="first_name" type="text"
             ng-model="first_name"
             maxlength="32" required>
      <div ng-messages="ccPaymentForm.first_name.$error" role="alert">
        <div ng-message-exp="['required']">
          This field is required.
        </div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      {{ form.last_name.label_tag() }}
      <input name="last_name" type="text"
             ng-model="last_name"
             maxlength="32" required>
      <div ng-messages="ccPaymentForm.last_name.$error" role="alert">
        <div ng-message-exp="['required']">
          This field is required.
        </div>
      </div>
    </md-input-container>
    {# }}} #}

    {# {{{ Address #}
    <div layout="row">
      <md-input-container flex="100">
        {{ form.address.label_tag() }}
        <input name="address" type="text"
               ng-model="address"
               maxlength="64" required>
        <div ng-messages="ccPaymentForm.address.$error" role="alert">
          <div ng-message-exp="['required']">
            This field is required.
          </div>
        </div>
      </md-input-container>
    </div>
    <div layout="column" layout-gt-sm="row">
      <md-input-container flex-gt-sm="33">
        {{ form.city.label_tag() }}
        <input name="city" type="text"
               ng-model="city"
               maxlength="32" required>
        <div ng-messages="ccPaymentForm.city.$error" role="alert">
          <div ng-message-exp="['required']">
            This field is required.
          </div>
        </div>
      </md-input-container>
      <md-input-container flex-gt-sm="33">
        {{ form.state.label_tag() }}
        <input name="state" type="text"
               ng-model="state"
               maxlength="32" required>
        <div ng-messages="ccPaymentForm.state.$error" role="alert">
          <div ng-message-exp="['required']">
            This field is required.
          </div>
        </div>
      </md-input-container>
      <md-input-container flex-gt-sm="33">
        {{ form.zipcode.label_tag() }}
        <!-- TODO: add ng-pattern -->
        <input name="zipcode" type="number"
               ng-model="zipcode"
               min="0" required>
        <div ng-messages="ccPaymentForm.zipcode.$error" role="alert">
          <div ng-message-exp="['required']">
            This field is required.
          </div>
        </div>
      </md-input-container>
    </div>
    {# }}} #}

    {# {{{ Country #}
    <md-input-container>
      {{ form.country.label_tag() }}
      {{ form.country }}
    </md-input-container>
    {# }}} #}
    {# }}} #}

    <md-button class="md-raised md-accent" type="submit">Donate Now</md-button>

  </form>

{% endmacro %}

{# }}} #}
