{# vim: foldmethod=marker tabstop=2 shiftwidth=2:
    templates/news/view_news.html
#}
{% extends "layout.html" %}
{% from "macros/parts/wysiwyg_editor.html" import wysiwyg_editor, wysiwyg_script %}
{% from "macros/parts/confirm_delete.html" import confirm_delete %}


{% block title %}
  {% if start %}
    Creating News Post
  {% else %}
    {{ post.title }} Edit Post
  {% endif %}
{% endblock %}


{% block body %}
  <section class="wrapper">
    <!-- ministry/news_content -->

    {% if start %}
      <h2>Create News Post:</h2>
      <!-- TODO: make link for more information -->

      <form method="POST" action="{{ url_for('news:create_news', kwargs=kwargs) }}">

    {% else %}
      <h1>Edit Ministry Profile:</h1>

      <form enctype="multipart/form-data" method="POST"
            action="{{ url_for('news:edit_news', kwargs={'post_id': post.id}) }}">

    {% endif %}

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div class="row">

      <div class="col s12 input-field">
        {{ form.title.label_tag() }}
        {{ form.title }}
      </div><!-- /title -->

      <div>
        {{ form.attachment.label_tag() }}
        {{ form.attachment }}
      </div><!-- /attachment -->

      <br>
      <div class="divider"></div>
      <br>

      <div>
        <i class="material-icons">subject</i>
        {{ form.content.label_tag() }}

        {% if start %}
          {{ wysiwyg_editor(form.content.name) }}
        {% else %}
          {{ wysiwyg_editor(form.content.name, post.content) }}
        {% endif %}
      </div><!-- /WYSIWYG Editor -->

      <br>

      <div id="form_buttons" class="row">
        <div class="col l3 s12">
          <button class="btn orange" type="submit">
            <i class="material-icons">save</i>
            Save
          </button>
        </div>

        <div class="col l3 s12">
          {% if not start and post %}
            {{ confirm_delete('news post', post.id) }}
          {% endif %}
        </div>
      </div><!-- /#form_buttons -->

    </div>

    </form>

  </section>

{% endblock %}


{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

  {% set page_assets = (
  'app.module.js',
  'app.config.js',
  'news/news.controller.js',
  ) %}
  {% for f in page_assets %}
    <script src="{{ static('app/%s' % f) }}"></script>
  {% endfor %}

  {{ wysiwyg_script() }}

{% endblock %}
