{% extends "layout.html" %}

{% from "macros/parts/comments_section.html" import comments_section %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
  <!-- ministry/news_post -->

  {# TODO: group by month and randomly (or scroll) through images per section #}
  <div class="section">
    <article class="wrapper">

      <p id="section-info">
        <span>Published:</span>&nbsp;{{ post.pub_date.strftime("%h %d, %Y") }}
      </p>

      <h1>
        <a class="dropdown-trigger" href="#" data-target="actionMenu">
          {{ post.title.upper() }}
          <i class="material-icons">arrow_drop_down</i>
        </a>
      </h1>

      <ul id="actionMenu" class="dropdown-content">
        {% if AUTH %}
          <li><a href="{{ post.edit }}">
            <i class="material-icons">create</i>
            Edit News Post
          </a></li>

          <li><a href="{{ url_for('news:delete_news', kwargs={'post_id': post.id}) }}">
            <i class="material-icons">delete</i>
            Delete News Post
          </a></li>
        {% endif %}

        <li><a href="{{ post.url }}">
          <i class="material-icons">link</i>
          Link to news
        </a></li>
      </ul>

      {% if post.campaign %}
        <h6>
          <span>For:&nbsp;</span>
          <a href="{{ post.campaign.url }}">
            {{ post.campaign }}
          </a>
        </h6>
      {% endif %}

      {% if post.attachment %}
        <img src="{{ post.attachment.url }}" class="news_post_media">
      {% endif %}

      <p class="">{{ post.content|safe }}</p>

      {{ comments_section(post, 'news_post', request, form=form, csrf_token=csrf_token) }}

    </article>
  </div>
{% endblock %}
