{#{% extends "account/base.html" %}#}

{% load i18n %}

{% block content %}
<section class="wrapper">
  <h1>{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="#{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">

    {% csrf_token %}

    <div layout="column" layout-padding class="md-inline-form" flex-gt-sm="50">
      <md-input-container>
        {{ form.email.label_tag }}
        {{ form.email }}
      </md-input-container>
      <md-input-container>
        {{ form.password1.label_tag }}
        {{ form.password1 }}
      </md-input-container>
      <md-input-container>
        {{ form.password2.label_tag }}
        {{ form.password2 }}
      </md-input-container>
    </div>

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <md-button type="submit" class="md-raised md-primary">{% trans "Sign Up" %} &raquo;</md-button>
  </form>
</section>

{% endblock %}
