{% macro campaign_date_input_scripts(selector='.pickadate') %}
  {# This activates pickadate functionality on start_date and end_date elements,
      and activates date validation (modified from https://codepen.io/amsul/pen/nGckA).
   #}

  <script src="https://cdn.jsdelivr.net/npm/pickadate@3.5.6/lib/compressed/picker.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pickadate@3.5.6/lib/compressed/picker.date.min.js"></script>
  <script>
    const pickerOptions = {
      formatSubmit: 'yyyy-mm-dd',
      hiddenName: true,
      closeOnSelect: true,
      onSet: function () {
        console.log(this.$node.parent());
        this.$node.parent().children()[4].classList = ["active"];
      },
      klass: {
        buttonClose: 'btn red mb-2'
      },
      min: 1,
      editable: true,
    };
    $('.pickadate').pickadate(pickerOptions);

    let from_in = $('#id_start_date');
    let to_in = $('#id_end_date');
    let from_picker = from_in.pickadate('picker');
    let to_picker = to_in.pickadate('picker');

    to_picker.set('max', 360);

    // Check if there’s a “from” or “to” date to start with.
    if (from_picker.get('value')) {
      to_picker.set('min', from_picker.get('select'))
    }
    if (to_picker.get('value')) {
      from_picker.set('max', to_picker.get('select'))
    }

    // When something has been selected, update the “from” and “to” limits.
    from_picker.on('set', function (event) {
      if (event.select) {
        to_picker.set('min', from_picker.get('select'))
      } else if ('clear' in event) {
        to_picker.set('min', false)
      }
    });
    to_picker.on('set', function (event) {
      if (event.select) {
        from_picker.set('max', to_picker.get('select'))
      } else if ('clear' in event) {
        from_picker.set('max', false)
      }
    });

    /**
     * This re-enables the widget from working after the 'editable' option is true
     *  'editable' needs to remain enabled so that the 'required' element remains enforced
     *
     *  @see https://github.com/amsul/pickadate.js/issues/542
     */
    from_in.on('click', function (event) {
      if (from_picker.get('open')) {
        from_picker.close();
      } else {
        from_picker.open();
      }
      event.stopPropagation();
    });
    to_in.on('click', function (event) {
      if (to_picker.get('open')) {
        to_picker.close();
      } else {
        to_picker.open();
      }
      event.stopPropagation();
    });
  </script>

{% endmacro %}