{% extends "layout.html" %}


{% block title -%}
   Uh Oh! - Green Ridge
{%- endblock %}



{% block nav_links %}
  {{ layout.navbar_links('home') }}
{% endblock %}




{% block body -%}


    <main>

      {{ layout.parallax_img("img/parallax1.jpg") }}
      {{ layout.section_start("404") }}
        <h4>Sorry!</h4>

        <p class="flow-text">This page is not ready yet!</p>
      {{ layout.section_close() }}

      {{ layout.parallax_img("img/parallax1.jpg") }}
      {{ layout.section_start("contact_us") }}
        <h4>Contact Us</h4>

        <p class="flow-text">greenridgegardens@gmail.com</p>
      {{ layout.section_close() }}

    </main>

{% endblock %}
