{# TODO: display name and profile pic. Enable editing #}
{# TODO: total donated amount #}
{# TODO: campaigns involved in #}

<section class="wrapper">
  {% if start %}
    <h1>New Ministry Profile:</h1>
    <form method="POST" action="{{ url_for('ministry:create_campaign', kwargs={"ministry_id": ministry.id}) }}">
  {% else %}
    <h1>Edit Ministry Profile:</h1>
    <form method="POST" action="{{ url_for('ministry:edit_campaign', kwargs={'campaign_id': campaign.id}) }}">
  {% endif %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{ form.as_p() }}
    <button type="submit">Save</button>
    {# TODO: implement delete #}
  </form>
</section>

