{# vim: foldmethod=marker ft=jinja shiftwidth=2 tabstop=2:

    templates/layout.html

#}

{% from "macros/layout/navbar_links.html" import navbar_links %}
{% from "macros/layout/searchbar.html" import searchbar %}
{% from "macros/layout/sidenav.html" import sidenav %}
{% from "macros/layout/footer.html" import footer %}


<!DOCTYPE html>
<html lang="en">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{{ ', '.join(keywords) }}">


  {% block metadata %}
  <!-- Facebook OpenGraph meta properties -->
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ static('img/favicon.png') }}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="51">
  <meta property="og:image:height" content="59">
  {% endblock %}


  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153638464-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-153638464-1');
    </script>


    <title>{% block title %}{% endblock %} - Love Our Neighbor</title>

    {#  favicon #}

    <link rel="icon" href="{{ static('img/favicon.svg') }}" type="image/svg">

    {# {{{ CSS Imports #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block css %}{% endblock %}

    {# Local Scripts #}
    {# TODO: fetch these from CDN while on production #}
    {% assets "css" %}
      <link rel="stylesheet" href="/{{ ASSET_URL }}">
    {% endassets %}

    {# }}} #}

  </head>

  <body>

  <header style="z-index: 750">
    {% set links =
    [
      (url_for('home'), 'Home'),
      (url_for('faq'), 'FAQ'),
      (url_for('about'), 'About Us')
    ] %}
    {{ navbar_links(request, links) }}
  </header>

  <main>
    {% block body %}
    {% endblock %}
  </main>

  {% set _links =
    [
      (url_for('home'), 'Home'),
      (url_for('faq'), 'FAQ'),
    ] + get_flatpages() %}
  {{ footer(_links) }}

  {{ sidenav(request, links) }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let options = {};
      // Initialize Sidebar Component
      let el = document.querySelectorAll('.sidenav');
      M.Sidenav.init(el);

      // Initialize Dropdown Components
      el = document.querySelectorAll('.dropdown-trigger');
      M.Dropdown.init(el);

      // Initialize Collapsible Components
      el = document.querySelectorAll('.sidenav-accordian');
      M.Collapsible.init(el, {
        onOpenStart: open_collapsible,
        onCloseStart: close_collapsible
      });
      el = document.querySelectorAll('.collapsible');
      M.Collapsible.init(el);

      // Initialize Datepicker components
      el = document.querySelectorAll('.datepicker');
      options = {format: 'mm/dd/yyyy'};
      M.Datepicker.init(el, options);

      el = document.querySelectorAll('.modal');
      M.Modal.init(el);

      // Initialize Tab Components
      el = document.querySelectorAll('.tabs');
      M.Tabs.init(el);

      // Parallax Banner Images
      el = document.querySelectorAll('.parallax');
      M.Parallax.init(el);

      // Image Viewer
      el = document.querySelectorAll('.materialboxed');
      M.Materialbox.init(el);

      el = document.querySelectorAll('.tooltipped');
      M.Tooltip.init(el)

    });

  </script>

  {% block scripts %}{% endblock %}

  {# paths must be relative to static directory #}
  {% set layout_assets = (
    'js/ui-feedback.animations.js',
  ) %}
  {% for f in layout_assets %}
    <script src="{{ static('%s' % f) }}"></script>
  {% endfor %}

  {# }}} #}

  </body>
</html>
