{# vim: foldmethod=marker ft=jinja shiftwidth=2 tabstop=2:

    templates/layout.html

#}

{% from "navbar_links.html" import navbar_links %}
{% from "searchbar.html" import searchbar %}
{% from "sidenav.html" import sidenav %}
{% from "footer.html" import footer %}



<html lang="en">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{{ ', '.join(keywords) }}">

  <!-- sharethis.js -->
  <script type='text/javascript'
          src='https://platform-api.sharethis.com/js/sharethis.js#property=5d86a3a539dead0012285037&product=inline-share-buttons'
          async='async'></script>


  <!-- Facebook OpenGraph meta properties -->
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ static('img/favicon.png') }}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="51">
  <meta property="og:image:height" content="59">


  <head>
    <title>Love Our Neighbor</title>

    {#  favicon #}

    <link rel="icon" href="{{ static('img/favicon.svg') }}" type="image/svg">

    {# {{{ CSS Imports #}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {# Local Scripts #}
    {# TODO: fetch these from CDN while on production #}
    {% assets "css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {# }}} #}

  </head>

  <body ng-app="LON">

  <div ng-controller="LayoutCtrl">

    {% set links =
      [
        ('/#/home', 'Home'),
        ('/#/faq', 'FAQ'),
        ('/#/about', 'About Us')
      ] %}

    {{ navbar_links(request, links) }}

    <div id="notificationArea"></div>

    <div ng-hide="share.disabled" class="sharethis-sticky-share-buttons share-button"></div>

    <md-content id="content" layout-align="center top" flex>

      <div ng-view id="globalContainer"></div> 

    </md-content><!-- #/content -->

    {{ footer() }}

    {{ sidenav(request, links) }}

  </div><!-- /ng-controller -->

  {# {{{ Google Analytics #}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  {% set GA_TRACKING_ID = "UA-135736820-1" %}

  <script async src=https://www.googletagmanager.com/gtag/js?id={{ GA_TRACKING_ID }}"></script>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ GA_TRACKING_ID }}', 'auto');
  </script>
  {# }}} #}

  {# {{{ AngularJS #}
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
  {# }}} #}

  {# {{{ Other JS #}
  {# Local Scripts #}
  {%- set scripts =
    [
      'jquery-2.1.1.min.js',
      'ngParallax.min.js',
      'angularjs_tinymce.min.js',
    ]
  -%}

  {%- for s in scripts %}
      <script type="text/javascript" src="{{ static("js/%s" % s) }}"></script>
  {% endfor -%}

  {% assets "angular_js" %}
    <script type="application/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <!-- WYSIWYG Editor -->
  {% set TINY_API_KEY = 'ropl0dvkzt3bbjqb9e8dk06ff578n2fkfvgun5yxa1zgb234' %}
  <script src="https://cdn.tiny.cloud/1/{{ TINY_API_KEY }}/tinymce/4/tinymce.min.js" referrerpolicy="origin"></script>
  {# }}} #}

  </body>
</html>
