<section class="wrapper">

  <h1>Sign In</h1>

  <p>If you have not created an account yet, then please
  <a href="#people/create">sign up</a> first.</p>

  <form name="loginForm" class="login" method="POST" action="/people/login">

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div layout="column" layout-padding class="md-inline-form" flex-gt-sm="50">
      <md-input-container>
        <label>Email</label>
        <input name="email" type="email" required
               minlength="9" maxlength="64" 
               ng-model="email"
               ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="loginForm.email.$error" role="alert">
          <div ng-message-exp="['required']">
            This field is required.
          </div>
          <div ng-message-exp="['pattern']">
            Please enter a valid email address.
          </div>
          <div ng-message-exp="['minlength', 'maxlength']">
            Your email must be between 9 and 64 characters long.
          </div>
        </div>
      </md-input-container>
      <md-input-container>
        {{ form.password.label_tag() }}
        <input type="password" name="password" required
               minlength="9" maxlength="64"
               ng-model="password"/>
        <div ng-messages="loginForm.password.$error" role="alert">
          <div ng-message-exp="['required']">
            You must enter a password silly.
          </div>
          <div ng-message-exp="['minlength', 'maxlength']">
            Your password must be between 9 and 64 characters long.
          </div>
        </div>
      </md-input-container>
    </div>

    <md-button class="md-raised md-primary" type="submit">Sign In</md-button>

  </form>

  <a class="button secondaryAction" href="'account_reset_password'">Forgot Password?</a>

</section>
