{# TODO: display name and profile pic. Enable editing #}
{# TODO: total donated amount #}
{# TODO: campaigns involved in #}

<section class="wrapper">
  {% if start %}
    <h1>New Ministry Profile:</h1>
    <!-- TODO: make link for more information -->
    <h3>Please note that all ministry profiles are must be approved before they are made public</h3>

    <form method="POST" action="{{ url_for('ministry:create_ministry') }}">

  {% else %}
    <h1>

      Edit Ministry Profile:&nbsp;

      <a href="#{{ url_for('ministry:ministry_profile', kwargs={'ministry_id': ministry.id}) }}"
       style="text-decoration: none;">
        <md-button class="md-raised md-primary">
          View
        </md-button>
      </a>

    </h1>

    <form method="POST" action="{{ url_for('ministry:edit_ministry', kwargs={'ministry_id': ministry.id}) }}">

  {% endif %}

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    {{ form.as_p() }}

    <md-button class="md-raised md-primary" type="submit">Save</md-button>

    {% if not start and ministry %}

      <md-button class="md-raised md-warn">
        <a style="color: #FFF; text-decoration: none;" href="{{ url_for('ministry:delete_ministry', kwargs={'ministry_id': ministry.id}) }}">
          Delete
        </a>
        {# TODO: implement DOUBLE dialog confirmation #}
      </md-button>

      <br>
      <br>

      <a href="#{{ url_for('ministry:create_news', kwargs={'obj_type': 'ministry', 'obj_id': ministry.id}) }}"
       style="text-decoration: none;">
        <md-button class="md-raised md-accent">
          Create News
        </md-button>
      </a>

    {% endif %}

  </form>


  {% if not start %}
    {# TODO: differentiate between current and previous fundraisers #}
    <h1>Campaigns:</h1>
    <a href="#{{ url_for('ministry:create_campaign', kwargs={'ministry_id': ministry.id}) }}">
      Create a new fundraiser
    </a>

    <ul>
      {% for i in ministry.campaigns.all() %}
        <li>
          <a href="#{{ url_for('ministry:campaign_detail', kwargs={'campaign_id': i.id}) }}">
            {{ i }}
          </a>
        </li>
      {% endfor %}
    </ul>

  {% endif %}

</section>

