{# TODO: display name and profile pic. Enable editing #}
{# TODO: liked ministries/campaigns #}
{# TODO: total donated amount #}
{# TODO: campaigns involved in #}
{# TODO: user submissions #}
{# TODO: voting/decision making involved in #}
{# TODO: show linked social media accounts #}
{# TODO: messages #}

<section class="wrapper">
  <h1>Your Details:</h1>
  <form method="POST" action="{{ url_for('user_profile') }}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{ form.as_p() }}
    <button type="submit">Save</button>
  </form>

  {% if len(request.user.administers.all()) %}

    {% for ministry in request.user.administers.all() %}
      <h1>Ministries You Administer:</h1>
      <ul>
        <li><a href="#{{ url_for('ministry:edit_ministry', kwargs={'ministry_id': ministry.id}) }}">{{ ministry }}</a></li>
      </ul>
      <a href="#{{ url_for('ministry:create_ministry') }}"><p>Create a new ministry</p></a>
    {% endfor %}

  {% else %}

    <a href="#{{ url_for('ministry:create_ministry') }}"><p>Would you like to create a profile for your Ministry?</p></a>

  {% endif %}

</section>

