{# TODO: display name and profile pic. Enable editing #}
{# TODO: liked ministries/campaigns #}
{# TODO: total donated amount #}
{# TODO: campaigns involved in #}
{# TODO: user submissions #}
{# TODO: voting/decision making involved in #}
{# TODO: show linked social media accounts #}
{# TODO: messages #}

<section class="wrapper">
  <h1>Your Details:</h1>
  <form method="POST" action="{{ url_for('user_profile') }}">

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div layout="row" layout-padding>

      <div layout="column" layout-padding class="md-inline-form">
        <div layout-gt-sm="row">
          <md-input-container style="margin: 0">
            {# TODO: render WYSIWYG editor #}
            {{ form.first_name.label_tag() }}
            {{ form.first_name }}
          </md-input-container>
          <md-input-container style="margin: 0">
            {# TODO: render WYSIWYG editor #}
            {{ form.last_name.label_tag() }}
            {{ form.last_name }}
          </md-input-container>
        </div>

        <md-input-container>
          {# TODO: render WYSIWYG editor #}
          <md-icon><i class="material-icons">face</i></md-icon>
          {{ form.display_name.label_tag() }}
          {{ form.display_name }}
          <div class="hint">Tell us what we should call you!</div>
        </md-input-container>

        <md-input-container>
          {# TODO: render WYSIWYG editor #}
          <md-icon><i class="material-icons">face</i></md-icon>
          {{ form._location.label_tag() }}
          {{ form._location }}
          <div class="hint">Where are you?</div>
          {# TODO: show hint that this can be country, state, or city #}
          {# TODO: show dialog on what this is used for #}
        </md-input-container>
      </div>

      <div layout="row" layout-align="end center" layout-padding>
        <md-button type="submit" class="md-icon-button md-fab md-primary">
          <i class="material-icons">save</i>
        </md-button>
      </div>

    </div>
  </form>

  {% if len(request.user.administers.all()) %}
    <h1>Ministries You Administer:</h1>

    <ul>
    {% for ministry in request.user.administers.all() %}
        <li><a href="#{{ url_for('ministry:edit_ministry', kwargs={'ministry_id': ministry.id}) }}">{{ ministry }}</a></li>
    {% endfor %}
    </ul>

    <a href="#{{ url_for('ministry:create_ministry') }}"><p>Create a new ministry</p></a>

  {% else %}

    <a href="#{{ url_for('ministry:create_ministry') }}"><p>Would you like to create a profile for your Ministry?</p></a>

  {% endif %}

</section>


<!-- Google Analytics Virtual Pageview -->
<script>ga('send', 'pageview', 'profile edit')</script>
