{% extends "layout.html" %}

{% block body %}
  <input type="hidden" id="current_object_json" value="{{ url_for('search:search_json', kwargs={'query': query}) }}">
  <div ng-app="LON" ng-cloak>
    <section class="wrapper" ng-controller="searchCtrl">
      <h1>Found {% raw %}{{ object.count }}{% endraw %} Results for "{{ query }}"</h1>
      <div layout-gt-sm="row" layout="column">
        <div>
          <section layout="column">
            <md-subheader>Types:</md-subheader>
            <md-checkbox ng-model="filter_types.ministry" ng-disabled="!(object.ministries.length)">
              {% raw %}
              Ministries
              ({{ object.ministries.length }})&nbsp;
              {% endraw %}
            </md-checkbox>
            <md-checkbox ng-model="filter_types.campaign" ng-disabled="!(object.campaigns.length)">
              {% raw %}
              Campaigns
              ({{ object.campaigns.length }})&nbsp;
              {% endraw %}
            </md-checkbox>
            <md-checkbox ng-model="filter_types.post" ng-disabled="!(object.posts.length)">
              {% raw %}
              News Posts
              ({{ object.posts.length }})&nbsp;
              {% endraw %}
            </md-checkbox>
          </section>
          <section>
            <md-subheader>Location:</md-subheader>
            <div layout="column">
              <h5>Within {% raw %}{{ distance }}{% endraw %} miles</h5>
              <md-slider-container>
                <md-slider flex md-discrete
                           ng-model="distance"
                           ng-hide="objects.distances.max"
                           min="{% raw %}{{ object.distances.min }}{% endraw %}"
                           max="{% raw %}{{ object.distances.max }}{% endraw %}"
                           step="1" aria-label="default"></md-slider>
                <md-input-container hide-gt-sm>
                  <input type="number" ng-model="distance">
                </md-input-container>
              </md-slider-container>
            </div>
          </section>
        </div>
        <div layout="column">
          <md-list>
            <md-list-item ng-if="filter_types.ministry" class="md-2-line"
                          ng-repeat="item in object.ministries | withinDistance: distance">
              <div class="md-list-item-text" layout="column">
                {% raw %}
                <a href="{{ item.url }}">
                  <h3>{{ item.name }}</h3>
                </a>
                <p ng-if="item.description">{{ item.description | stripHTML }}</p>
                <p ng-hide="item.description">There's no description yet</p>
                {% endraw %}
              </div><!-- /.md-list-item-text -->
            </md-list-item>
            <md-list-item ng-if="filter_types.campaign" class="md-2-line"
                          ng-repeat="item in object.campaigns | withinDistance: distance">
              <div class="md-list-item-text" layout="column">
                {% raw %}
                <a href="{{ item.url }}">
                  <h3>{{ item.title }}</h3>
                </a>
                <p ng-if="item.content">{{ item.content |stripHTML }}</p>
                <p ng-hide="item.content">Theres on description yet</p>
                {% endraw %}
              </div><!-- /.md-list-item-text -->
            </md-list-item>
            <md-list-item ng-if="filter_types.post" class="md-2-line"
                          ng-repeat="item in object.posts | withinDistance: distance">
              <div class="md-list-item-text" layout="column">
                {% raw %}
                <a href="{{ item.url }}">
                  <h3>{{ item.title }}</h3>
                </a>
                <p ng-if="item.content">{{ item.content | stripHTML}}</p>
                <p ng-hide="item.content">There's no description yet</p>
                {% endraw %}
              </div><!-- /.md-list-item-text -->
            </md-list-item>
          </md-list>
        </div>
      </div>
    </section>
  </div>
{% endblock %}


{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

  {% set page_assets = (
  'app.module.js',
  'app.config.js',
  'search/search.controller.js',
  'search/search_filter.service.js',
  'services/object.service.js',
  ) %}
  {% for f in page_assets %}
    <script src="{{ static('app/%s' % f) }}"></script>
  {% endfor %}

{% endblock %}


{% block css %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
{% endblock %}
