{% extends "layout.html" %}

{% from "macros/parts/gallery.html" import gallery %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<!-- post/view_post -->

{% if AUTH == None %}
{% set AUTH = object.authorized_user(request.user) %}
{% endif %}

{# TODO: group by month and randomly (or scroll) through images per section #}
<div class="section">
  <article class="wrapper">

    <p id="section-info">
      <span>Published:</span>&nbsp;{{ object.pub_date.strftime("%h %d, %Y") }}
    </p>

    <h1>
      <a class="dropdown-trigger" href="#" data-target="actionMenu">
        {{ object.title }}
        <i class="material-icons">arrow_drop_down</i>
      </a>
    </h1>

    <p class="">{{ object.content|safe }}</p>

    <ul id="actionMenu" class="dropdown-content">
      {% if AUTH %}
      <li><a href="{{ object.edit }}">
        <i class="material-icons">create</i>
        Edit News Post
      </a></li>

      <li><a href="{{ url_for('post:delete_post', kwargs={'post_id': object.id}) }}">
        <i class="material-icons">delete</i>
        Delete News Post
      </a></li>
        {% endif %}

      <li><a href="{{ object.url }}">
        <i class="material-icons">link</i>
        Link to news
      </a></li>
      </ul>

    {% if object.campaign %}
    <h6>
      <span>For:&nbsp;</span>
      <a href="{{ object.campaign.url }}">
        {{ object.campaign }}
      </a>
    </h6>
    {% endif %}

    {% if object.media.count() %}

    <div class="row gallery grid">
      {% for img in object.media.all() %}
      <div class="grid-item col s12 m4" style="max-height: 25vw; padding-bottom: .5em;">
        <img src="{{ img.url }}" class="responsive-img" alt="">
      </div><!-- /.grid-item -->
      {% endfor %}
    </div>

    {% endif %}

  </article>
</div>
{% endblock %}


{% block scripts %}

<!-- masonry -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
  $('.grid').masonry({
    itemSelector: '.grid-item',
  });
</script>

{% endblock %}
