{% macro banner_image_dialog(img=False) %}
  {#

  Arguments:
    img:
      should be django.ImageFieldFile, or at least have `url` attribute, or be False
  #}

  {# TODO: dynamically show selected/uploaded image #}
  {% set click_attr="banner_img_dialog.show($event, 'bannerDialog')" %}
  {% if (img == False) or (img.name == '') %}
    <md-button ng-click="{{ click_attr }}">
      <md-icon><i class="material-icons">image</i></md-icon>
      Banner Img
    </md-button>
  {% else %}
    <h6>Banner Image:</h6>
    <div class="dialog-trigger" ng-click="{{ click_attr }}">
      <div>
        <i class="material-icons">edit</i>
      </div>
      <img src="{{ img.url }}"/>
    </div>
  {% endif %}

  {# {{{ Banner Selection Dialog #}
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="bannerDialog">
      <md-dialog>

        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Banner Image</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="banner_img_dialog.close()">
              <i class="material-icons">close</i>
            </md-button>
          </div><!-- /.md-toolbar-tools -->
        </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content">
            <div class="previous-images">
              <md-grid-list
                  md-cols="1" md-cols-sm="4" md-cols-md="4" md-cols-gt-md="8"
                  md-row-height-gt-md="1:1" md-row-height="16:10"
                  md-gutter="8px">

                <md-grid-tile ng-repeat="(name, src) in banner_urls"
                    {# TODO: dynamically allocate this #}
                              md-rowspan="1"
                              md-colspan="1"
                              md-rowspan-gt-xs="2"
                              md-colspan-gt-xs="2">
                  <img style="width: 100%; bottom: 0; position: absolute;"
                       ng-click="select_banner(name)"
                       ng-src="{% raw %}{{ src }}{% endraw %}"
                       ng-class="[{banner_current:  banner_img_dialog.banner_current(name),
                                               banner_selected: banner_img_dialog.banner_selected(name)}]"
                       alt="Profile Image">
                  <md-grid-tile-footer>
                    <h3>
                                  <span ng-if="banner_img_dialog.banner_selected(name)"
                                        class="banner_selected_label">
                                    <md-icon><i class="material-icons">check_circle</i></md-icon>
                                  </span>
                      <span ng-if="banner_img_dialog.banner_current(name)"
                            ng-hide="banner_img_dialog.banner_selected(name)"
                            class="banner_current_label">
                                    Current
                                  </span>
                      {% raw %}{{ name }}{% endraw %}
                    </h3>
                  </md-grid-tile-footer>
                </md-grid-tile>
              </md-grid-list>
            </div><!-- /.previous-images -->

            <h3 ng-class="md-headline" ng-hide="banner_urls">You haven't uploaded any banner pictures yet</h3>

            {#{{ form.banner_img.label_tag() }}
                      {{ form.banner_img }}#}
            <input type="hidden" name="selected_banner_img"
                   value="{% raw %}{{ selected_banner }}{% endraw %}">
            <br>Upload New:
            <input type="file" name="banner_img" accept="image/*" id="id_banner_img"
                   ng-click="banner_img_dialog.clear()">
            <input type="checkbox" name="banner_img-clear" id="banner_img-clear_id">
            <label for="banner_img-clear_id">Clear</label>

          </div><!-- /.md-dialog-content -->
        </md-dialog-content>

        <md-dialog-actions layout="row">
          <md-button ng-click="banner_img_dialog.close()">
            Cancel
          </md-button>
          <md-button class="md-raised md-primary" ng-click="banner_img_dialog.close()">
            Done
          </md-button>
        </md-dialog-actions>

      </md-dialog>
    </div>
  </div>

{% endmacro %}