{% macro breadcrumbs(first, header, parent=None, deepest=None, classes='', obj=None) %}
  {#
  Arguments
  ---------
  first: str
    Label to give first element: the current page/view

  header: str
    Text to use in header

  parent: dict
    'text': text to display
    'url': url to parent object. this is typically `object.url`
    'object`: parent object (optional)
#}
  <div id="breadcrumbs-wrapper" class="breadcrumbs-inline {{ classes }}">
    <div class="container">
      <div class="row">
        <div class="col s12 m10 breadcrumbs-left mb-2">

          <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down">
            {{ header }}
          </h5>

          <ol class="breadcrumbs">
            {% for item in unwrap_breadcrumbs(deepest, parent=parent) %}
              <li class="breadcrumb-item">
                <a href="{{ item.url }}">{{ item.text }}</a>
              </li><!-- /.breadcrumb-item -->
            {% endfor %}
            <li class="breadcrumb-item active">
              {{ first }}
            </li>
          </ol>
        </div>
        {% if obj %}
          <div class="col s12 m2 breadcrumbs-btn">
            <a class="btn blue lighten-1 right mt-2" href="{{ obj.url }}">
              <i class="material-icons left">visibility</i>
              View
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}