{% macro comments_section(obj, obj_type, request=None, form=None, csrf_token=None) %}

  <div class="comments_section wrapper">
    <h5>Comments:</h5>

    {# {{{ Comment List #}
    {% if len(obj.comments.all()) %}
      <md-list flex>

        {% for i in obj.comments.all() %}
          {# TODO: implement this in angular to reduce server overhead #}
          <md-list-item class="md-2-line comment">
            <div class="md-list-item-text" layout="column">

              <p>{{ i.content }}</p>

              <div layout="row">
                <img class="profile-img" src="{{ i.user.profile_img }}">
                <div layout="column">
                  <bold>By: {{ i.user.name }}</bold>
                  <small>{{ f_time(i.pub_date) }}</small>
                </div>
              </div>

            </div><!-- ./md-list-item-text -->
          </md-list-item>
        {% endfor %}

      </md-list>
    {% else %}
      <p class="md-caption">Be the first to comment</p>
    {% endif %}
    {# }}} #}

    <md-divider></md-divider>
    <br>

    {# {{{ New Comment #}
    <div class="new_comment">
      {# TODO: use js to dynamically hide this #}

      {% if request and request.user.is_authenticated %}
        <form enctype="multipart/form-data" method="POST" style="display: none;"
              action="{{ url_for("comment:create_comment", kwargs={'obj_type': obj_type, 'obj_id': obj.id}) }}">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <md-input-container>

            {# TODO: add `md-no-asterisk` to get rid of asterisk in label #}
            {{ form.as_p() }}

          </md-input-container>

          <md-button class="md-raised md-primary" type="submit">
            Comment&nbsp;
            <md-icon>
              <i class="material-icons">send</i>
            </md-icon>
          </md-button>
          <md-button class="md-icon-button md-warn" ng-click="comment.hide($event)">
            <i class="material-icons">cancel</i>
          </md-button>

        </form>

        <md-button class="md-icon-button md-raised md-primary" ng-click="comment.show($event)">
          <i class="material-icons">add_comment</i>
        </md-button>

      {% else %}
        <a href="#{{ url_for('people:login') }}" style="text-decoration: none;">
          <span>Login to Comment</span>
          <md-button class="md-raised md-accent">Login</md-button>
        </a>
      {% endif %}
      {# }}} #}

    </div><!-- /.new_comment -->
  </div><!-- /.comment_form -->

{% endmacro %}
