{#
Arguments
=========
type: str
must be 'campaign', 'ministry', or 'post post'. This is used for UI text and confirmation url
id: int
this is the identifying ID to be used for confirmation url
part: int
-1 for both trigger and modal
0 for trigger
1 for modal
#}
{% macro confirm_delete(type, id, text='Delete', anchor=False, part=-1) %}

{# Create the arguments to pass to `url_for` #}
{% if type == 'campaign' %}
  {% set url_args = ('campaign:delete_campaign', {'campaign_id': id}) %}
{% elif type == 'church' %}
  {% set url_args = ('church:delete_church', {'church_id': id}) %}
{% elif type == 'ministry' %}
  {% set url_args = ('ministry:delete_ministry', {'ministry_id': id}) %}
{% elif type == 'post' %}
  {% set url_args = ('post:delete_post', {'post_id': id}) %}
{% endif %}

{% if part == -1 or part == 0 %}
{% if anchor %}
<a href="#" class="modal-trigger" data-target="confirmDeleteModal_{{ type }}_{{ id }}">
  <i class="material-icons">delete</i>
  {{ text }}
</a>
{% elif not anchor %}
<button data-target="confirmDeleteModal_{{ type }}_{{ id }}" class="btn-flat red-text modal-trigger">
  <i class="material-icons">delete</i>
  {{ text }}
</button>
{% endif %}
{% endif %}


{% if part == -1 or part == 1 %}
<div id="confirmDeleteModal_{{ type }}_{{ id }}" class="modal">
      <div class="modal-content">
        <h2>Are you sure?</h2>
        <p>Please confirm that you want to delete this {{ type }}. This cannot be undone.</p>
      </div>

      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-orange btn-flat">Cancel</a>
        <a class="waves-effect waves-purple btn-flat" href="{{ url_for(url_args[0], kwargs=url_args[1]) }}">Delete</a>
      </div>
    </div>
  {% endif %}

{% endmacro %}
