{% macro gallery(images) %}
  {# This is used to render images returned from `campaign_images` and `ministry_images` #}
  {# Arguments

  images:
    Must be a tuple of dict that has both `src` and `obj` values containing URLs as str,
    and a 'caption' str.

  #}


  <br>
  {% if images %}
    <div class="row">
      {% for img in images %}
        <div class="col s12 l4 gallery-tile">
          <img src="{{ img.src }}" class="materialboxed" style="width: 100%"
               data-caption="{{ img.caption }}">
          <a href="{{ img.obj }}" class="tile-caption">
            <div>
              {{ img.caption }}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>There are no gallery images at this time</p>
  {% endif %}


{% endmacro %}
