{% macro like_button(id="likeButton", request=None) %}

  {% if request.user.is_authenticated %}
    <button id="{{ id }}" class="btn btn-flat btn-large grey lighten-3 mt-5"
            data-bind="class: btnStyle, click: like;">
                <span data-bind="visible: liked">
                  <i class="material-icons left">favorite</i>
                  Liked
                </span>
      <span data-bind="hidden: liked">
                  <i class="material-icons left">favorite_border</i>
                  Like
                </span>
    </button>
  {% else %}
    <a class="btn grey lighten-2 mt-5 grey-text text-darken-3" href="{{ url_for('people:login') }}">
      <i class="material-icons left">favorite_border</i>
      Like
    </a>
  {% endif %}

{% endmacro %}
