{% from "parts/input_field.html" import input_field %}

{% macro quick_post(url, form, csrf) %}
  <div class="card-panel">
    <form action="{{ url }}" method="post" enctype="multipart/form-data" id="quickPost">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
      <div class="row">
        <ul class="tabs" style="margin-top: -10px">
          <li class="tab">
            <a href="#quickPostContent">Content</a>
          </li>
          <li class="tab">
            <a href="#quickPostMedia">Photos</a>
          </li>
        </ul><!-- /.tabs -->
        {{ input_field(form.title, width="s12") }}
        <div class="row">
          <div id="quickPostContent" class="col s12">
            {{ input_field(form.content, width="s12") }}
          </div>
          <div id="quickPostMedia" class="col s12" style="padding-left: 25px; padding-right: 25px;">
            <input type="file" class="filepond browser-default"/>
          </div>
        </div><!-- /.row -->
        <div class="col s12">
          <button class="btn btn-light-purple right" type="submit">
            <i class="material-icons left">send</i>
            Publish
          </button>
        </div>
      </div><!-- /.row -->
    </form>
  </div>
{% endmacro %}