{% macro rep_selection(reps, requests) %}
  <div id="repUI">
    {{ reps.as_hidden(attrs={'data-bind': 'value: reps_value'}) }}
    {{ requests.as_hidden(attrs={'data-bind': 'value: requests_value'}) }}
    <h5>Representatives:</h5>
    <div id="reps">

      <div class="chip-wrapper" data-bind="foreach: reps">
        <div class="chip">
          <img data-bind="attr: {src: img}">
          <span data-bind="text: name"></span>
          <strong data-bind="text: email"></strong>
          <i class="close material-icons" data-bind="click: $parent.del_rep">close</i>
        </div><!-- /.chip -->
      </div><!-- /.chip-wrapper -->

      <h6 data-bind="hidden: reps().length">
        There are no representatives to manage
      </h6>
    </div><!-- /#reps -->

    <h5>Pending Requests:</h5>
    <div id="requests">

      <div class="chip-wrapper" data-bind="foreach: reqs">
        <div class="chip">
          <img data-bind="attr: {src: img}, click: $parent.add_rep">
          <span data-bind="text: name, click: $parent.add_rep"></span>
          <strong data-bind="text: email, click: $parent.add_rep"></strong>
          <i class="close material-icons" data-bind="click: $parent.del_req">close</i>
        </div><!-- /.chip -->
      </div><!-- /.chip-wrapper -->

      <h6 data-bind="hidden: reqs().length">
        There are pending requests
      </h6>
    </div><!-- /#requests -->
  </div>
{% endmacro %}
