{% macro tag_selection(form) %}
  <input id="tag_data" name="{{ form.tags.name }}" type="hidden">
  <div class="chips tags" style="margin-bottom: -8px">
  </div>
  <p class="hint">Type to select from existing tags, or create a new tag by pressing enter.</p>
{% endmacro %}

{% macro tag_selection_script(object) %}
  <script>
    /**
     * @brief This updates the contents of hidden input element
     *
     * The input value becomes a string of comma separated values.
     *
     * Please See: https://materializecss.com/chips.html for more info on the Tags component
     *
     * @param el div.tags element
     */
    function updateTagData(el) {
      let tags = [];
      let _tag = {};    // buffer for iteration

      // extract data
      for (_tag of el[0].M_Chips.chipsData) {
        tags.push(_tag.tag);
      }

      let tag_data = document.getElementById('tag_data');
      tag_data.value = tags.join(', ');
    }

    let tag;    // buffer for iteration

    /**
     * @brief Initializes tag input component
     *
     * Please See: https://materializecss.com/chips.html for more info on the Tags component
     *
     * @param obj JSON for an object (which may be MinistryProfile or Campaign).
     *    If it is not provided, it will be fetched
     * @returns null
     */
    async function initTagInput(obj) {
      // Get all available tags and format for autocomplete
      const response = await fetch('{{ url_for('tag:tags_json') }}');
      const all_tags = await response.json();
      const autocompleteOptions = {};
      for (tag of all_tags) {
        autocompleteOptions[tag] = null;
      }

      // Format existing tags
      if (obj === null || obj === undefined) {
        const obj_json_response = await fetch('{{ object.json }}');
        obj = await obj_json_response.json();
      }
      let tags = [];
      for (tag of obj.tags) {
        tags.push({'tag': tag});
      }

      let el = document.querySelectorAll('.tags');
      const options = {
        'data': tags,
        'autocompleteOptions': autocompleteOptions,
        placeholder: 'Enter a Tag',
        secondaryPlaceholder: '+Tag',
        onChipAdd: updateTagData,
        onChipDelete: updateTagData
      };
      M.Chips.init(el, options);
    }
  </script>
{% endmacro %}