{% macro wysiwyg_editor(name, content='editor', unique='', value='') %}

  {# SECURITY NOTE: it seems to be that it is possible to bypass sanitation. However, AngularJS routing seems to inhibit the
                    browser from loading javascript after the layout renders. #}

  {# <textarea name="{{ name }}" class="editor" id="styledContent_{{ name }}_{{ unique }}" value="{{ content }}"></textarea> #}
  <input id="initial_tinymce_value" value="{{ value }}" type="hidden">
  <input name="{{ name }}" type="hidden" value="{% raw %}{{ {% endraw %}{{ content }}{% raw %} }}{% endraw %}">
  <textarea ui-tinymce="tinymceOptions" ng-model="{{ content }}" style="overflow: visible;"></textarea>

  {# <trix-editor style="min-height: 20em" input="styledContent_{{ name }}_{{ unique }}"></trix-editor> #}

{% endmacro %}
