{% extends "layout.html" %}
{% from "macros/layout/misc_layout.html" import section_start, section_close %}

{% block title %}FAQ{% endblock %}

{% block body %}

  <div class="wrapper">
    <h2 style="margin-bottom: 24px;">Frequently Asked Questions</h2>

    <ul class="collapsible popout">
      {% for i in faqs %}

        <div class="collapsible-header">
          <h5>
            {{ i.title }}
          </h5>
        </div>

        <div class="collapsible-body">
          <div class="flow-text">
            {{ i.content|safe }}
          </div>
        </div>

      {% endfor %}
    </ul>
  </div>

  {% endblock %}