{% import "parts.html" as parts %}

  <div class="col s12 m9 l10 scroll-content">
    {% for i in faqs %}
      <div class="parallax-container" style='height: 250;'>
        <div ng-parallax class="parallax-img" pattern="'.{% if i.img_path %}{{ static(i.img_path) }}{% endif %}'" speed="1">
        </div>
      </div>

      {{ parts.section_start(i.title) }}

      <h1>{{ i.title }}</h1>
      <p>{{ i.content|safe }}</p>

      {{ parts.section_close() }}

    {% endfor %}


<!-- Google Analytics Virtual Pageview -->
<script>ga('send', 'pageview', 'faq')</script>
