{% extends "layout.html" %}
{% from "macros/layout/misc_layout.html" import section_start, section_close %}

{% block title %}FAQ{% endblock %}

{% block body %}

  <div class="wrapper">
    <h2 style="margin-bottom: 24px;">Frequently Asked Questions</h2>

    <ul class="collapsible popout">
      {% for i in faqs %}
        <li>
          <div class="collapsible-header">
            {{ i.title }}
          </div>

          <div class="collapsible-body">
            {{ i.content|safe }}
          </div>
        </li>

      {% endfor %}
    </ul>
  </div>

  {% endblock %}