{% extends "layout.html" %}

{% from "macros/layout/navbar_links.html" import navbar_links %}
{% from "macros/layout/searchbar.html" import searchbar %}
{% from "macros/layout/sidenav.html" import sidenav %}
{% from "macros/layout/footer.html" import footer %}

{% from "macros/parts/donate_button.html" import donate_button %}
{% from "macros/parts/input_field.html" import input_field %}


{% block title %}Welcome{% endblock %}


{% block header %}
  <nav class="navbar-main navbar-color navbar-dark gradient-45deg-purple-deep-orange gradient-shadow">
    <div class="nav-wrapper ml-2">
      <div class="brand-logo-wrapper">
        <img src="{{ static('img/brand/LON_logo.svg') }}">
        &nbsp;
        <img src="{{ static('img/brand/LON_straight.png') }}" class="hide-on-med-and-down">
      </div>

      <div class="header-search-wrapper hide-on-med-and-down" style="width: calc(100% - 582px)">
        {{ searchbar(small_screen=False) }}
      </div><!-- /.header-search-wrapper -->

      <ul class="navbar-list right mr-2">
        <li class="hide-on-large-only search-input-wrapper">
          <a class="search-button hide-on-large-only" href="javascript:void(0);">
            <i class="material-icons">search</i>
          </a>
        </li>
        <li>
          <a class="login-button" href="{{ url_for('people:login') }}">
            <i class="material-icons" style="display: inline;">person</i>
          </a>
        </li>
      </ul>
    </div><!-- /.nav-wrapper -->

    <nav class="display-none search-sm">
      <div class="nav-wrapper">
        {{ searchbar(small_screen=True) }}
      </div>
    </nav>
  </nav><!-- /.navbar-main -->
{% endblock %}


{# no sidebar #}
{% block sidebar %}{% endblock %}


{% block body %}
  <div class="wrapper mt-2 mb-4">
    <div class="row">
      <div class="col s12 m7">
        <!-- Marketing Content/Banner -->
        <div id="welcomeBanner">
          {{ banner|safe }}
        </div>
      </div>
      <div class="col s12 m5">
        <!-- Login -->
        <div class="card-panel">
          <h3>Sign Up</h3>
          <h6 class="grey-text">Start connecting with ministries!</h6>
          <form class="signup" name="signupForm" method="post" action="{{ url_for('people:create_user') }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="row">
              {{ input_field(signup.first_name, width='l6 s12') }}
              {{ input_field(signup.last_name, width='l6 s12') }}
              {{ input_field(signup.email, width='s12') }}
              {{ input_field(signup.password, width='s12') }}
              {{ input_field(signup.password2, width='s12') }}
            </div>
            <button class="btn orange" type="submit">Sign Up&nbsp;&raquo;</button>
            <p>
              <a class="btn blue" href="{{ url_for('people:login') }}">Log In&nbsp;&raquo;</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
